Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Get ip4s updates from series/0.23
  .scala-steward.conf
Due: none

test-kit, not testkit
  .scala-steward.conf
Due: none

[ci skip] revert accidential deletion
  .scala-steward.conf
Due: none

deploy: 32e14f50bae37c69856e13f5ec9dbe33977c0f2d
  v0.22/docs/auth.html
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/deployment.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/error-handling.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/integrations.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/quickstart.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/streaming.html
  v0.22/docs/testing.html
  v0.22/docs/upgrading.html
  v0.22/docs/uri.html
Due: none

deploy: c60c1ce612433026caab80b03ad89e0ab685e49c
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

deploy: 277d86ab8ca714ae3cd0751dd3b68db74c9ec634
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Add On Air Entertainment to list of adopters.
  docs/adopters.md
Due: label docs PRs

Promote using of Headers#contains
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
  client/shared/src/main/scala/org/http4s/client/Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  laws/src/main/scala/org/http4s/laws/EntityEncoderLaws.scala
  server/jvm/src/main/scala/org/http4s/server/middleware/GZip.scala
Due: label laws PRs, label server PRs, label client PRs, label ember-core PRs, label blaze-client PRs

Promote using of Headers#contains a bit more
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/ClientHelpersSuite.scala
  server/jvm/src/test/scala/org/http4s/server/middleware/GZipSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/HSTSSuite.scala
  tests/shared/src/test/scala/org/http4s/ResponderSpec.scala
Due: label server PRs, label client PRs, label ember-client PRs

deploy: 9ac020a92409ce86ad8d67c08ba4dcd31bb6438b
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: c383f61af6ce13d92245889acc9445b07c91a7c9
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Add max wait for connection borrowing in pool manager
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientBuilder.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/ConnectionManager.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
Due: label blaze-client PRs

Add tests for the maxBorrowDuration in pool manager
  blaze-client/src/test/scala/org/http4s/blaze/client/PoolManagerSuite.scala
Due: label blaze-client PRs

Tweak the PoolManager#borrow scaladoc
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
Due: label blaze-client PRs

Fix scaladoc typo
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
Due: label blaze-client PRs

Move Node.js interop to core
  core/js/src/main/scala/org/http4s/nodejs/ClientRequest.scala
  core/js/src/main/scala/org/http4s/nodejs/IncomingMessage.scala
  core/js/src/main/scala/org/http4s/nodejs/ServerResponse.scala
  node-serverless/src/main/scala/org/http4s/node/serverless/IncomingMessage.scala
  node-serverless/src/main/scala/org/http4s/node/serverless/ServerResponse.scala
Due: label core PRs

Remove node-serverless module
  .github/workflows/ci.yml
  build.sbt
  node-serverless/src/main/scala/org/http4s/node/serverless/ServerlessApp.scala
Due: none

Port JS ServerScaffold to new interop module
  client/js/src/test/scala/org/http4s/client/scaffold/ServerScaffold.scala
  core/js/src/main/scala/org/http4s/nodejs/IncomingMessage.scala
Due: label core PRs, label client PRs

Better http version parsing
  core/js/src/main/scala/org/http4s/nodejs/IncomingMessage.scala
Due: label core PRs

Implement Node.js client
  client/js/src/main/scala/org/http4s/client/NodeJSClientBuilder.scala
  core/js/src/main/scala/org/http4s/nodejs/IncomingMessage.scala
Due: label core PRs, label client PRs

Add suite, bug fixes, still broken...
  client/js/src/main/scala/org/http4s/client/NodeJSClientBuilder.scala
  client/js/src/test/scala/org/http4s/client/NodeJSClientSuite.scala
Due: label client PRs

Fix Scala 3 compile
  client/js/src/main/scala/org/http4s/client/NodeJSClientBuilder.scala
Due: label client PRs

Some fixing, still something weird
  client/js/src/test/scala/org/http4s/client/scaffold/ServerScaffold.scala
Due: label client PRs

Another futile attempt :(
  client/js/src/main/scala/org/http4s/client/NodeJSClientBuilder.scala
  core/js/src/main/scala/org/http4s/nodejs/ClientRequest.scala
Due: label core PRs, label client PRs

Tweak the canceling in PoolManager#borrow
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
Due: label blaze-client PRs

Some progress?
  core/js/src/main/scala/org/http4s/nodejs/ClientRequest.scala
Due: label core PRs

Revert "Some progress?"
  core/js/src/main/scala/org/http4s/nodejs/ClientRequest.scala
Due: label core PRs

Revert "Revert "Some progress?""
  core/js/src/main/scala/org/http4s/nodejs/ClientRequest.scala
Due: label core PRs

Gotcha!
  client/js/src/main/scala/org/http4s/client/NodeJSClientBuilder.scala
Due: label client PRs

Simplifying
  core/js/src/main/scala/org/http4s/nodejs/ClientRequest.scala
Due: label core PRs

Fake the processing in connection builder for borrowing test
  blaze-client/src/test/scala/org/http4s/blaze/client/PoolManagerSuite.scala
Due: label blaze-client PRs

Add cancellation/cleanup for error listener
  core/js/src/main/scala/org/http4s/nodejs/ClientRequest.scala
Due: label core PRs

Fix mima filters
  build.sbt
Due: none

Remove unused val
  client/js/src/test/scala/org/http4s/client/scaffold/ServerScaffold.scala
Due: label client PRs

Fix scaladoc typos
  core/js/src/main/scala/org/http4s/nodejs/ClientRequest.scala
  core/js/src/main/scala/org/http4s/nodejs/ServerResponse.scala
Due: label core PRs

Use GenTemporal#timeoutTo in Http2NodeStage
  blaze-server/src/main/scala/org/http4s/blaze/server/Http2NodeStage.scala
Due: label blaze-server PRs

Use GenTemporal#timeout in TimeoutSuite
  server/shared/src/test/scala/org/http4s/server/middleware/TimeoutSuite.scala
Due: label server PRs

deploy: 74b0c866b71ee9e80533968afef7a49891be1390
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Make NodeJSClient private
  client/js/src/main/scala/org/http4s/client/NodeJSClientBuilder.scala
Due: label client PRs

deploy: 8d258001cd3cd255377fad6e128f1e4dcf6f6056
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
