Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Update okio to 3.0.0 in main
  project/Http4sPlugin.scala
Due: none

Rm redundant .drain in the BodylessWriter
  blaze-core/src/main/scala/org/http4s/blazecore/util/BodylessWriter.scala
Due: label blaze-core PRs

Rm redundant .drain in the Http1Writer
  blaze-core/src/main/scala/org/http4s/blazecore/util/Http1Writer.scala
Due: label blaze-core PRs

Rm redundant .drain in the Http4sServlet
  servlet/src/main/scala/org/http4s/servlet/Http4sServlet.scala
Due: label servlet PRs

Rm redundant .drain in the EntityDecoder
  core/src/main/scala/org/http4s/EntityDecoder.scala
Due: label core PRs

deploy: f99ba05b531484456fbc46a14b63998ce6bab6e3
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Compile servlet
  servlet/src/main/scala/org/http4s/servlet/AsyncHttp4sServlet.scala
  servlet/src/main/scala/org/http4s/servlet/Http4sServlet.scala
  servlet/src/main/scala/org/http4s/servlet/ServletIo.scala
Due: label servlet PRs

Add unidocs project to root aggregate
  build.sbt
Due: none

Overwrite API url for now
  build.sbt
Due: none

Don't doc the docs :)
  build.sbt
Due: none

deploy: e97187e2d8be4b2cd27f77483970df552c4acc4f
  v0.22/docs/auth.html
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/deployment.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/error-handling.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/integrations.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/quickstart.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/streaming.html
  v0.22/docs/testing.html
  v0.22/docs/upgrading.html
  v0.22/docs/uri.html
Due: none

Impove message in ClientRouteTestBattery
  client/shared/src/test/scala/org/http4s/client/ClientRouteTestBattery.scala
Due: label client PRs

Revert "Add `Message.normalize` and use in clients"
  async-http-client/src/main/scala/org/http4s/asynchttpclient/AsyncHttpClient.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClient.scala
  client/jvm/src/main/scala/org/http4s/client/JavaNetClientBuilder.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  jetty-client/src/main/scala/org/http4s/jetty/client/JettyClient.scala
  okhttp-client/src/main/scala/org/http4s/okhttp/client/OkHttpBuilder.scala
Due: label core PRs, label client PRs, label ember-client PRs, label blaze-client PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs

Refactor the EntityBodyWriter.writeEntityBody
  blaze-core/src/main/scala/org/http4s/blazecore/util/BodylessWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/EntityBodyWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/Http1Writer.scala
  blaze-core/src/test/scala/org/http4s/blazecore/util/DumpingWriter.scala
  blaze-core/src/test/scala/org/http4s/blazecore/util/Http1WriterSpec.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http2NodeStage.scala
Due: label blaze-core PRs, label blaze-server PRs

JavaNetClient: Normalize GET to use empty body
  client/jvm/src/main/scala/org/http4s/client/JavaNetClientBuilder.scala
Due: label client PRs

okhttp: Normalize GET to use empty body
  okhttp-client/src/main/scala/org/http4s/okhttp/client/OkHttpBuilder.scala
Due: label okhttp-client PRs

Comment out problematic test from ClientRouteTestBattery
  client/shared/src/test/scala/org/http4s/client/ClientRouteTestBattery.scala
Due: label client PRs

Ember Core: avoid string allocation in method parse
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/TraversalSpec.scala
Due: label ember-core PRs

Update tomcat-catalina, tomcat-coyote, ... to 9.0.60 in series/0.22
  project/Http4sPlugin.scala
Due: none

deploy: efadfc99d0ece270950ab95df75aea371565c60a
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Use blocking ec in the BlockingServletIo
  servlet/src/main/scala/org/http4s/servlet/ServletIo.scala
Due: label servlet PRs

Enable ExplicitResultTypes rule
  .scalafix.conf
  bench/src/main/scala/org/http4s/bench/CirceJsonBench.scala
  bench/src/main/scala/org/http4s/bench/EncodeHexBench.scala
  bench/src/main/scala/org/http4s/bench/NioCharsetBench.scala
  bench/src/main/scala/org/http4s/bench/SchemeBench.scala
  bench/src/main/scala/org/http4s/ember/bench/EmberParserBench.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientBuilder.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientConfig.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/PoolManagerSuite.scala
  blaze-core/src/test/scala/org/http4s/blazecore/TestHead.scala
  client/src/main/scala/org/http4s/client/RequestKey.scala
  client/src/main/scala/org/http4s/client/middleware/Retry.scala
  client/src/main/scala/org/http4s/client/websocket/WSClient.scala
  core/src/main/scala/org/http4s/AuthScheme.scala
  core/src/main/scala/org/http4s/ContentCoding.scala
  core/src/main/scala/org/http4s/Method.scala
  core/src/main/scala/org/http4s/QValue.scala
  core/src/main/scala/org/http4s/TransferCoding.scala
  core/src/main/scala/org/http4s/Uri.scala
  core/src/main/scala/org/http4s/headers/Forwarded.scala
  ember-client/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-server/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientSimpleExample.scala
  examples/jetty/src/main/scala/com/example/http4s/jetty/JettySslExample.scala
  examples/src/main/scala/com/example/http4s/HeaderExamples.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  server/src/main/scala/org/http4s/server/middleware/CORS.scala
  server/src/main/scala/org/http4s/server/package.scala
  server/src/test/scala/org/http4s/server/staticcontent/FileServiceSuite.scala
  servlet/src/main/scala/org/http4s/servlet/ServletApiVersion.scala
  tests/src/test/scala/org/http4s/MessageSuite.scala
  tests/src/test/scala/org/http4s/parser/AcceptHeaderSpec.scala
  tests/src/test/scala/org/http4s/parser/AcceptRangesSpec.scala
  tests/src/test/scala/org/http4s/parser/CacheControlSpec.scala
  tests/src/test/scala/org/http4s/parser/MediaRangeSpec.scala
Due: label core PRs, label laws PRs, label server PRs, label client PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-client PRs, label servlet PRs

Scalafmt
  bench/src/main/scala/org/http4s/bench/NioCharsetBench.scala
  bench/src/main/scala/org/http4s/ember/bench/EmberParserBench.scala
  tests/src/test/scala/org/http4s/parser/AcceptHeaderSpec.scala
  tests/src/test/scala/org/http4s/parser/MediaRangeSpec.scala
Due: none

Add OptionT Based Versions Of expectOption*
  client/shared/src/main/scala/org/http4s/client/Client.scala
Due: label client PRs

Fix FileServiceSuite
  server/src/test/scala/org/http4s/server/staticcontent/FileServiceSuite.scala
Due: label server PRs

quicklint
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

Update server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

Exposing callable parameters for DigestAuth.challenge
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

Chasing F.delay for NonceKeeper
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

Embedding new NonceKeeper in F.delay
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

Support parsing response bodies without Content-Length
  ember-core/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/src/test/scala/org/http4s/ember/core/ParserSuite.scala
Due: label ember-core PRs

Apply scalafmt
  ember-core/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

Add Enhanced Client Translation
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/main/scala/org/http4s/client/DefaultTranslatedClient.scala
Due: label client PRs

lint
  client/shared/src/main/scala/org/http4s/client/DefaultTranslatedClient.scala
Due: label client PRs

Bincompat
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

Header
  client/shared/src/main/scala/org/http4s/client/DefaultTranslatedClient.scala
Due: label client PRs

Fix `Client#translate`, relax constraints
  client/shared/src/main/scala/org/http4s/client/Client.scala
Due: label client PRs

Fix shadowing
  client/shared/src/main/scala/org/http4s/client/Client.scala
Due: label client PRs
