Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Address the Entity model in Arbitrary[Entity[*]]
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
Due: label laws PRs

WIP: Instrumentation of blaze-server with otel4s
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/ProtocolSelector.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/Http1ServerStageSpec.scala
  build.sbt
Due: label blaze-server PRs

Use weighted random distribution when generating arbitrary Entity
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
Due: label laws PRs

Fix regression of Router#define
  server/shared/src/main/scala/org/http4s/server/Router.scala
Due: label server PRs

Fix Request#productElement and Response#productElement
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

deploy: b73744d399082a27eda1de14adb183526f0e6be4
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Add info about the entity into the toString of Request and Response
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Add more tests for the toString of Request/Response
  tests/shared/src/test/scala/org/http4s/MessageSuite.scala
Due: none

Scalafix
  tests/shared/src/test/scala/org/http4s/MessageSuite.scala
Due: none

deploy: 53719b23b4517938c5c3a90e7362a0051bf6112a
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

deploy: 7374545e6d43a4e1114ba258b73d80d6107a93eb
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: af87a500cbb3a062afee308ea609805f6ba56737
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 7acfad73f990c1496112026035a9c7f7337a8cb3
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Tweak Entity docs
  docs/docs/entity.md
Due: label docs PRs

Drain response body in DefaultClient#defaultOnError
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClient.scala
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
Due: label client PRs, label blaze-client PRs

Drain response body in DefaultClient#defaultOnError for ember client
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClient.scala
Due: label ember-client PRs

Update scalafmt-core to 3.5.3 in series/0.23
  .scalafmt.conf
Due: none

deploy: 7e15a12e2c7a45e9fed1a8d4df9e07bf456e426b
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

Fix EmberServerWebSocketSuite
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Due: label ember-server PRs

deploy: d8f71e371064b36168652ee09b9dfdd2604c2ac8
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Add Message#isPureEntity method
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Resubmit idempotent requests with only pure entities in Retry middleware
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  client/shared/src/test/scala/org/http4s/client/middleware/RetrySuite.scala
Due: label client PRs

Tweak the defaultRetriable scaladoc
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
Due: label client PRs

Scalafmt
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Parallelize some requests in RetrySuite
  client/shared/src/test/scala/org/http4s/client/middleware/RetrySuite.scala
Due: label client PRs

deploy: aa9b15fc2485c94bd5742b901cafcf4b5fd0f0e7
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 8bdeb9fd8ceaeabdbccc7c05f7fd46f71bbc7051
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 3648c635c95cd410869d67c698d4467d3cb5a415
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 1f174668b7144ac0616c6d25a17da1684cab59ab
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

More human-readable scaladoc of RetryPolicy#defaultRetriable
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
Due: label client PRs

Use Headers#contains
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
Due: label client PRs

Rename isPureEntity -> hasKnownPureEntity
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs, label client PRs

deploy: 3d668f8f5656b435a04fc04916d13c981c3aeb88
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Delete schismed examples
  examples/blaze/src/main/scala/com/example/http4s/blaze/BlazeMetricsExample.scala
  examples/src/main/twirl/com/example/http4s/form.scala.html
  examples/src/main/twirl/com/example/http4s/formEncoded.scala.html
  examples/src/main/twirl/com/example/http4s/index.scala.html
  examples/src/main/twirl/com/example/http4s/submissionForm.scala.html
Due: none

deploy: 1a83371819488810927ecbcaf24cb7e708b8e5d8
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Update ip4s-core, ip4s-test-kit to 3.1.3 in main
  project/Http4sPlugin.scala
Due: none

Update ip4s-core, ip4s-test-kit to 3.1.3 in series/0.23
  project/Http4sPlugin.scala
Due: none

Upgrade jawn-fs2, keypool, log4cats, vault to last CE2 versions
  project/Http4sPlugin.scala
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
