Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Fix formatting
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

deploy: 9811992cc8056e69ec692f5997fa11509376a4c8
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 2cd9ed0cd798190d6d96541fe83f54724fe2426c
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Try fixing link
  docs/versions.md
Due: label docs PRs

Enable BSP for JVM-only
  build.sbt
Due: none

deploy: ce7de6b37fd2328df22a6af97f2e0b7cf3b804f9
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Publish this branch
  .github/workflows/ci.yml
  build.sbt
Due: none

Add buildWebSocket
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
Due: label ember-client PRs

Add import
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
Due: label ember-client PRs

Fix formatting
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/ExampleWebSocketClientSuite.scala
Due: label ember-server PRs

Bump codecov action
  .github/workflows/ci.yml
  build.sbt
Due: none

Automatically add WSRequest headers
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/ExampleWebSocketClientSuite.scala
Due: label ember-server PRs, label ember-client PRs

Fix formatting
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketHelpers.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketKey.scala
Due: label ember-client PRs

Delete println
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

Deduplicate code
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
Due: label ember-client PRs

Fix SecureRandom
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

Change WSRequest uri prefix to https
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

deploy: ae9310471a152d1777b1094253f2eb862dc4f5c8
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix WSRequest Scheme
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

Simplify code
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

Change URI scheme to ws
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/ExampleWebSocketClientSuite.scala
Due: label ember-server PRs, label ember-client PRs

deploy: 21ac06b3d47dccf83a95cb0aaaf2b9397790c616
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 6242ae734ab9a4681b24eb23906f0497c150d398
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix deprecation
  ember-core/shared/src/test/scala/org/http4s/ember/core/StreamingParserSuite.scala
Due: label ember-core PRs

deploy: 88bbf0f578524c444e324583a8178fc396d3b28b
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 65686d088fce513a3e132a243c4dd8f9267cb05f
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: b9d69476d87cea96f53479375138dfffb8524da4
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
  v0.23/docs/streaming.html
Due: none

Fix handling of streaming bodies in entity limiter
  server/shared/src/main/scala/org/http4s/server/middleware/EntityLimiter.scala
  server/shared/src/test/scala/org/http4s/server/middleware/EntityLimiterSuite.scala
Due: label server PRs

deploy: d50c25b5840720d292cff948e64d24801fc29f64
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add test that we limit observed bytes
  server/shared/src/test/scala/org/http4s/server/middleware/EntityLimiterSuite.scala
Due: label server PRs

Fix #7262: mulitpart decoder wrapping unwanted errors
  core/shared/src/main/scala/org/http4s/multipart/MultipartDecoder.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Due: label core PRs

deploy: 40d01d225d26e3a5e39e2af3032fe5ce84c094c9
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 7f4ae8c66d2dc542fc3ec1670aa4df4342c3dd3c
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 399d0a5ccb4a5b60c3defae47453418fa636ec8c
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: fab70bee3f336db7e8b27e5ed73763fd355219b0
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: bb34a6bcf0b6a1c5ed804f51fb87d61f4c0dd4a3
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 08c1dcc6e0fabd0d99b81358f5d21dab84fdf070
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 9b916091675760ef0ab1f7f37db7051186fc25e6
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Cleanup timeout helpers
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Util.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-core PRs, label ember-server PRs, label ember-client PRs

deploy: f80967aee3a44e0f9e84a99dfeba1e32e406492d
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none
