Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

adds test for logging GET requests for all logBody values
  client/shared/src/test/scala/org/http4s/client/middleware/LoggerSuite.scala
Due: label client PRs

move logging action to response resource finalizer instead of body pipe finalizer
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/test/scala/org/http4s/client/middleware/LoggerSuite.scala
Due: label client PRs

changes assertion to use substring instead of exact match
  client/shared/src/test/scala/org/http4s/client/middleware/LoggerSuite.scala
Due: label client PRs

re-add request body finalizer, and add response body finalizer
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/test/scala/org/http4s/client/middleware/LoggerSuite.scala
Due: label client PRs

used named params and don't pass in uneeded one
  client/shared/src/test/scala/org/http4s/client/middleware/LoggerSuite.scala
Due: label client PRs

remove line break in for comprehension
  client/shared/src/test/scala/org/http4s/client/middleware/LoggerSuite.scala
Due: label client PRs

replace Ref and Deferred constructors with shorter Async methods
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
Due: label client PRs

PR feedback
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/test/scala/org/http4s/client/middleware/LoggerSuite.scala
Due: label client PRs

refactors test to use Deferred instead of Queue
  client/shared/src/test/scala/org/http4s/client/middleware/LoggerSuite.scala
Due: label client PRs

deploy: 6b1040137307d224f5adab14fc7eccc97e2f682e
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Add Hireproof to adopters
  docs/adopters.md
Due: label docs PRs

deploy: 9fb3a5648706b3b4cd3edcb3ac49c6536a5ef5dd
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: bb7ee1e25b558d117264c3e8a8badac9ae4d3b3b
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Remove BackendBuilder#allocate
  core/shared/src/main/scala/org/http4s/internal/BackendBuilder.scala
Due: label core PRs

Use pretty printer for error messages in ParseResult#fromParser
  core/shared/src/main/scala/org/http4s/MessageFailure.scala
Due: label core PRs

Use pretty printer for error messages in Forwarded parsers
  core/shared/src/main/scala/org/http4s/headers/Forwarded.scala
Due: label core PRs

Fix UriSpec
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Due: none

Retire unlawful copy method of HttpVersion
  core/shared/src/main/scala/org/http4s/HttpVersion.scala
Due: label core PRs

deploy: 9fabeefe0b5747dab2c61037a5a5e74c88fc2026
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Remove references to HttpService in testing.md
  docs/docs/testing.md
Due: label docs PRs

deploy: 62bbf96a3741de689a1f1440a11427b4600d6d18
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Revert "Ember Core: reimplement readLoop without Streams."
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Fix compile
  server/shared/src/test/scala/org/http4s/server/middleware/ChunkAggregatorSuite.scala
Due: label server PRs

Acknowledgments do not need to block progress
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Freshen up Middleware docs
  docs/docs/middleware.md
Due: label docs PRs

Rewrite hashcode computation for Uri.Path
  core/shared/src/main/scala/org/http4s/Uri.scala
Due: label core PRs

Tweak middleware.md
  docs/docs/middleware.md
Due: label docs PRs

use MurmurHash3 for hashcode generation
  core/shared/src/main/scala/org/http4s/Uri.scala
Due: label core PRs

deploy: b9459e066d8d37e628dc26e0fcf265540f69d35f
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 0fe77b8389089cc8f4ff2e06a71c1ec2de466c78
  adopters.html
  api/index.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  v1/docs/auth.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

deploy: c3d46f561ed1026ae54e1acbd5e4730f0498ea93
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Deprecate BackendBuilder#allocate
  core/shared/src/main/scala/org/http4s/internal/BackendBuilder.scala
Due: label core PRs

Fix typo in middleware docs
  docs/docs/middleware.md
Due: label docs PRs

deploy: b8ab1a4d15e9af81124170413d6928f7b6b91d09
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Don't instantiate redundant List in Path#addSegment
  core/shared/src/main/scala/org/http4s/Uri.scala
Due: label core PRs

Ember Core - H2Server - fromSocket: split main for comprehension
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Fix Blaze Doc for Websocket Server
  docs/docs/integrations.md
Due: label docs PRs

deploy: 08885edf467460ee229a19f0f8d8c95d944ecca5
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 289a1d116154f1449a59597927a997041039908a
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 71df6d7f3d2c4de6ad09b5e6112b80868bd0d6f4
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
