Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Delete hard-coded Scaladoc url
  build.sbt
Due: none

deploy: b30ad207c46142008482aadde2cc9b89158ff9dd
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 1a54ec27dce3152272af53c832545941d7dc070d
  v0.22/docs/auth.html
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/deployment.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/error-handling.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/integrations.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/quickstart.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/streaming.html
  v0.22/docs/testing.html
  v0.22/docs/upgrading.html
  v0.22/docs/uri.html
Due: none

[ci skip] Begin 0.23.12 release
  docs/changelog.md
Due: label docs PRs

Make Node.js interop private
  core/js/src/main/scala/org/http4s/nodejs/ClientRequest.scala
  core/js/src/main/scala/org/http4s/nodejs/IncomingMessage.scala
  core/js/src/main/scala/org/http4s/nodejs/ServerResponse.scala
Due: label core PRs

[ci skip] Restatement of the great schism
  docs/changelog.md
Due: label docs PRs

deploy: d570136976b1d89a0ad42e085ecb69cfa5284ee1
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Update cats-effect, cats-effect-laws, ... to 3.3.12 in series/0.23
  project/Http4sPlugin.scala
Due: none

deploy: e834d276cfef5b4267bd76f9c3cd12d7fa9544e1
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Consider just a size limiting in toStrict
  core/shared/src/main/scala/org/http4s/Message.scala
  server/shared/src/main/scala/org/http4s/server/middleware/BodyCache.scala
Due: label core PRs, label server PRs

Remove redundant Pipe
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Remove redundant Ref
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
Due: label blaze-client PRs

Add test for uncancelable behavior in timeout middleware
  server/shared/src/test/scala/org/http4s/server/middleware/TimeoutSuite.scala
Due: label server PRs

Reduce delay in timeout middleware tests
  server/shared/src/test/scala/org/http4s/server/middleware/TimeoutSuite.scala
Due: label server PRs

Highlight the uncancelable behavior in Timeout middleware scaladoc
  server/shared/src/main/scala/org/http4s/server/middleware/Timeout.scala
Due: label server PRs

Make scaladoc more accurate
  server/shared/src/main/scala/org/http4s/server/middleware/Timeout.scala
Due: label server PRs

Link to CE api docs
  server/shared/src/main/scala/org/http4s/server/middleware/Timeout.scala
Due: label server PRs

deploy: f9a20fd45154bd575a7c3b95f3b54523537ad48d
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Fix Timeout scaladoc
  server/shared/src/main/scala/org/http4s/server/middleware/Timeout.scala
Due: label server PRs

deploy: 54943ba9f85aa22c65120199c4f3dc7ae2e82463
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: f445faa3535e728749e97ee07860924dd11ec952
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 2dcf08c6e31ae8a7e3cec1328d2a84c0ee1de104
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 847ba950f838e7e772497b27a3857b1674b3ca20
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Cleanup unnecessary projects
  .github/workflows/ci.yml
  build.sbt
  examples/ember-client-h2/src/main/scala/com/example/http4s/ember/EmberClientH2Example.scala
  examples/ember-server-h2/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
  tests/js/src/main/scala/org/http4s/Http4sSuitePlatform.scala
  tests/jvm/src/main/scala/org/http4s/Http4sSuitePlatform.scala
  tests/shared/src/main/resources/logback-test.xml
  tests/shared/src/main/scala/org/http4s/Http4sLawSuite.scala
  tests/shared/src/main/scala/org/http4s/Http4sSuite.scala
  tests/shared/src/main/scala/org/http4s/testing/AutoCloseableResource.scala
  tests/shared/src/main/scala/org/http4s/testing/DispatcherIOFixture.scala
  tests/shared/src/main/scala/org/http4s/testing/ErrorReporting.scala
  tests/shared/src/main/scala/org/http4s/testing/NullOutStream.scala
  tests/shared/src/main/scala/org/http4s/testing/fs2Arbitraries.scala
Due: none

Add changelog and blaze schism
  docs/changelog.md
Due: label docs PRs

Headers
  tests/js/src/main/scala/org/http4s/Http4sSuitePlatform.scala
  tests/jvm/src/main/scala/org/http4s/Http4sSuitePlatform.scala
  tests/shared/src/main/scala/org/http4s/Http4sLawSuite.scala
  tests/shared/src/main/scala/org/http4s/Http4sSuite.scala
  tests/shared/src/main/scala/org/http4s/testing/AutoCloseableResource.scala
  tests/shared/src/main/scala/org/http4s/testing/DispatcherIOFixture.scala
  tests/shared/src/main/scala/org/http4s/testing/ErrorReporting.scala
  tests/shared/src/main/scala/org/http4s/testing/NullOutStream.scala
  tests/shared/src/main/scala/org/http4s/testing/fs2Arbitraries.scala
Due: none

[ci skip] Circe is still here
  docs/changelog.md
Due: label docs PRs

[ci skip] #6181 turned into a no-op
  docs/changelog.md
Due: label docs PRs

[ci skip] #6245 was core
  docs/changelog.md
Due: label docs PRs

Formatting
  build.sbt
Due: none

Fix test
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Due: none

deploy: 478c2f6d8cfd7433ee1a3b7dd77a69a9bf3d3798
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

scalafix
  tests/js/src/main/scala/org/http4s/Http4sSuitePlatform.scala
  tests/shared/src/main/scala/org/http4s/Http4sSuite.scala
Due: none

Remove unused ce-laws dep
  build.sbt
Due: none

deploy: 10b7169249572244a01da2b360aaa0843fc211ea
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Add EntityDecoder[EventStream]
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
  tests/shared/src/test/scala/org/http4s/ServerSentEventSpec.scala
Due: label core PRs

Bikeshed the name
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
Due: label core PRs

Update http4s-circe, http4s-ember-client to 0.23.12 in series/0.23
  project/build.sbt
Due: none

deploy: 2227cb42403aa04641a3cdbaf0f0df0883e51931
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
