Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Allow reconnect to be decided by close frame
  client-testkit/shared/src/test/scala/org/http4s/client/websocket/middleware/ReconnectSuite.scala
  client/shared/src/main/scala/org/http4s/client/websocket/middleware/Reconnect.scala
Due: label client PRs

Handle characters > 0xff in multipart filenames
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Due: label core PRs

deploy: 5b9452ba1b3b5cfff99e3a1e8616544f9e7780cc
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

scalafmt touchups
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
Due: label core PRs

name* and filename* are expressly forbidden per spec
  tests/shared/src/test/scala/org/http4s/multipart/MultipartParserSuite.scala
Due: none

Use test case to ensure we fixed #5809
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Due: none

"Scalafix," he muttered
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
Due: label core PRs

deploy: fc6f684f9222af95211c83082ab858af0761860e
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: cdeafbd962968ec0fdf396b994d58181faa43782
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Test for conditional reconnecting
  client-testkit/shared/src/test/scala/org/http4s/client/websocket/middleware/ReconnectSuite.scala
  client/shared/src/main/scala/org/http4s/client/websocket/middleware/Reconnect.scala
Due: label client PRs

Clear `Hotswap` if reconnect not desired
  client-testkit/shared/src/test/scala/org/http4s/client/websocket/middleware/ReconnectSuite.scala
  client/shared/src/main/scala/org/http4s/client/websocket/middleware/Reconnect.scala
Due: label client PRs

deploy: 008747a8eed6eba2326b463605fc6019e3593d4b
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

address some of @danicheg's feedback
  core/shared/src/main/scala/org/http4s/multipart/MultipartDecoder.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartReceiver.scala
  core/shared/src/main/scala/org/http4s/multipart/PartReceiver.scala
Due: label core PRs

Point out the sonatypeOssRepos instead of deprecated API on the Service page
  docs/docs/service.md
Due: label docs PRs

Specify a mdoc variable concerning Scala 2.13 version
  project/Http4sSitePlugin.scala
Due: none

Use mdoc var for Scala 2.13 on the client page
  docs/docs/client.md
Due: label docs PRs

Use mdoc var for Scala 2.13 on the service page
  docs/docs/service.md
Due: label docs PRs

Scalafmt
  project/Http4sSitePlugin.scala
Due: none

deploy: 7756584d59b0523bdbf0a8e47977896baf1d9163
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
Due: none

Replace Acc with Chunk in readToBuffer
  core/shared/src/main/scala/org/http4s/multipart/PartReceiver.scala
Due: label core PRs

performance improvement as per PR feedback
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
Due: label client PRs

fix import
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
Due: label client PRs

run scalafix
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
Due: label client PRs

deploy: 74edf0f73c8837824afe69c67fab81ea6eb00724
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: a309ce6040dbb29fc176460600f9c2a0ef9ef0e5
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 4cd1b5444d98db126a52118807d26c9f11665a02
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: f088e3194e4b643416c45414fc69274b14b83b3d
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

feat: suppress stack trace on protocol exceptions
  core/shared/src/main/scala/org/http4s/websocket/protocolexceptions.scala
Due: label core PRs

deploy: 3162c1206d9239b1b4afb24c335e44cd080eb380
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 67f33985923de22784a32b6458057be8b4253c83
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 41f6348c7d5afb77def2e721242026ab461acedf
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Release v0.23.27
  docs/changelog.md
Due: label docs PRs

deploy: 54a8d2ab30ec563082dd37545b73f42080e3470c
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Max Ages of zero should be permitted for cookies
  core/shared/src/main/scala/org/http4s/ResponseCookie.scala
  tests/shared/src/test/scala/org/http4s/HeadersSpec.scala
Due: label core PRs

Replace "*Decoded" Part methods with "*Bytes"
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
Due: label core PRs

deploy: 88296ab8055231243c8a219ce05a3953b5d38625
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: c2b3e6e89086d4498952a7ef4cffa4195c6c1581
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

move comment closer to Middleware builder
  client/shared/src/main/scala/org/http4s/client/middleware/History.scala
Due: label client PRs

remove redundant line, remove comment
  client/shared/src/test/scala/org/http4s/client/middleware/HistorySuite.scala
Due: label client PRs

make HistoryEntry final
  client/shared/src/main/scala/org/http4s/client/middleware/History.scala
Due: label client PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
