Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

`JavaNetClient` does not need `Async`
  client/jvm/src/main/scala/org/http4s/client/JavaNetClientBuilder.scala
Due: label client PRs

Ignore `noFs2SyncCompiler`
  client/jvm/src/main/scala/org/http4s/client/JavaNetClientBuilder.scala
Due: label client PRs

Bincompat + filters
  build.sbt
  client/jvm/src/main/scala/org/http4s/client/JavaNetClientBuilder.scala
Due: label client PRs

Trickery!
  client/jvm/src/main/scala/org/http4s/client/JavaNetClientBuilder.scala
Due: label client PRs

deploy: b388211cf913ed7a1ba4f5b10a545f91a4e1b81d
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: a87afed7e7bb0b0618de566815f8542d79cd3e70
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: e0e25eba3abdd502b58581fc525125a61907f0bb
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Rm EncodeHexBench
  bench/src/main/scala/org/http4s/bench/EncodeHexBench.scala
Due: none

deploy: 3cb72facd7555bac2b6e4d8400e822e54851e1f5
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Add X-Frame-Options header
  core/shared/src/main/scala/org/http4s/headers/X-Frame-Options.scala
  tests/shared/src/test/scala/org/http4s/headers/XFrameOptionsSuite.scala
Due: label core PRs

Add header to the test
  core/shared/src/main/scala/org/http4s/headers/X-Frame-Options.scala
  tests/shared/src/test/scala/org/http4s/headers/XFrameOptionsSuite.scala
Due: label core PRs

Use `foldLeft`
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

Use ByteVector#fromHex in CSRF Middleware
  server/jvm/src/main/scala/org/http4s/server/middleware/CSRF.scala
Due: label server PRs

Mark internal.{decodeHex,decodeHexString} deprecated
  core/shared/src/main/scala/org/http4s/internal/package.scala
Due: label core PRs

Fix link to edit `adopters.md`
  docs/adopters.md
Due: label docs PRs

deploy: 9af090d9109a46a31558f1a79cf1e7bc65dcfcf4
  adopters.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

deploy: fd82ac685918d75d943fd2eae20f9630e65371b1
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
Due: none

Ember-Core H2Client impli initialiser: extract local methods.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

2. Extract serverFromSocket shared local method
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

4. replace match with an if-then-else
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

1. Make "upgradeSocket" into a nested method, fewer parameters.
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

5. Reduce last part to a single line
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

5. Extract body of "map" as an "onConnection" function.
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Update ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

3. Extract a runConnectionAux method.
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Remove Entity Apply
  circe/src/test/scala/org/http4s/circe/CirceSuite.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/RoutesToNettyAdapter.scala
  client/jvm/src/main/scala/org/http4s/client/JavaNetClientBuilder.scala
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
  core/js/src/main/scala/org/http4s/nodejs/IncomingMessage.scala
  core/shared/src/main/scala/org/http4s/Entity.scala
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
  core/shared/src/main/scala/org/http4s/EntityEncoder.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/StaticFile.scala
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartEncoder.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClient.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/EncoderSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  server/shared/src/main/scala/org/http4s/server/middleware/BodyCache.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ChunkAggregator.scala
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
  server/shared/src/main/scala/org/http4s/server/middleware/EntityLimiter.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Jsonp.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
  server/shared/src/test/scala/org/http4s/server/middleware/EntityLimiterSuite.scala
  tests/shared/src/test/scala/org/http4s/MessageSuite.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Due: label core PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label circe PRs

deploy: f852eb08e8a0775ed35ac022c481f7d2af7536fd
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: e1b48f7874a08d3411bbb10bf147b3a9edad1345
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: c89a8bf7c1c368d6d811b8921a9c2c24848e9020
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 44da5b936de3b31ac27d5a22a255adffa7823448
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Release v0.23.19-RC2
  docs/changelog.md
Due: label docs PRs

deploy: 65dcbd1ec8c1b9875d08af17d6e422a180797384
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

handle endOfStream error
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

deploy: f7fe08a2a4cbd5555d39a780aeed107bf159c1c3
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Use mapChunks in CirceInstances.streamedJsonArray
  circe/src/main/scala/org/http4s/circe/CirceInstances.scala
Due: label circe PRs

Update nix and cachix actions
  .github/workflows/ci.yml
  build.sbt
Due: none

deploy: 202c481509c5592d5e3de1d3ead8271b7c2c2e0f
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Typo
  server/shared/src/main/scala/org/http4s/server/middleware/HttpMethodOverrider.scala
Due: label server PRs

Add httpRoutes, httpApp constructors to UrlFormLifter
  server/shared/src/main/scala/org/http4s/server/middleware/UrlFormLifter.scala
Due: label server PRs

Draft of middleware documentation
  docs/docs/included-server-middleware.md
  docs/docs/middleware.md
Due: label docs PRs
