Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Ember: return HTTP 431 when maxHeaderSize is exceeded
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
Due: label ember-server PRs

deploy: be57ab5015c308c4cd307bd2d742bc01e1402513
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  helium/site/laika-helium.css
  helium/site/landing-page.css
  index.html
  laika/versionInfo.json
  v1/docs/auth.html
  v1/docs/client-middleware.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

deploy: 5d04fd871e3f74c209e81ac81b32d076de4d94d8
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix date of 0.23.25
  docs/changelog.md
Due: label docs PRs

Prepare v0.23.26 release
  docs/changelog.md
Due: label docs PRs

deploy: 84cbf171f8c556c20740fa14c0d034e08d01067b
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

More changelog tweaks
  docs/changelog.md
Due: label docs PRs

Removed reference to TSec in documentation
  docs/docs/auth.md
Due: label docs PRs

deploy: b951156868bbc0ca1222ccbe174ab64e42776b86
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

[ci skip] Final changelog touchups
  docs/changelog.md
Due: label docs PRs

deploy: 3a510969ee00a7dcbd61987f823c58d929679314
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 2d4d12b0f3d236d0dce0b532569863e126bbe493
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: d4ccfd0b187eb4830d150c04009c342cdff00afc
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: e896073cea5906f43d4d7a3ce1d2a7d03d14c033
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Address an issue with covariance in EmberServerBuilder
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs

Use the right method on Server in ConnectionSuite
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
Due: label ember-server PRs

Return old syntax for the wildcard import
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs

deploy: 4a8b123edca3945c8e87754b0be416bedabcb2fb
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client-middleware.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

Draft the v1.0.0-M41 release notes
  docs/changelog.md
Due: label docs PRs

Move ember H2Keys PriorKnowlegde key to core
  core/shared/src/main/scala/org/http4s/h2/H2Keys.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientH2Example.scala
Due: label core PRs, label ember-core PRs, label ember-server PRs

doc comment
  core/shared/src/main/scala/org/http4s/h2/H2Keys.scala
Due: label core PRs

add MultipartDecoder.fromReceiver
  core/shared/src/main/scala/org/http4s/multipart/MultipartDecoder.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartReceiver.scala
  core/shared/src/main/scala/org/http4s/multipart/PartReceiver.scala
Due: label core PRs

Life came at us fast and now it's the 12th
  docs/changelog.md
Due: label docs PRs

deploy: b6ebc7893193f76e6176f2d6131b58ba5dffde9d
  changelog.html
  v1/docs/client-middleware.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  v1/docs/server-middleware.html
Due: none

add PartReceiver[F].toMixedBuffer
  core/shared/src/main/scala/org/http4s/multipart/MultipartDecoder.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartReceiver.scala
  core/shared/src/main/scala/org/http4s/multipart/PartReceiver.scala
Due: label core PRs

Refactor MultipartDecoder to work with MultipartReceiver
  core/shared/src/main/scala/org/http4s/multipart/MultipartDecoder.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartReceiver.scala
  core/shared/src/main/scala/org/http4s/multipart/PartReceiver.scala
  core/shared/src/main/scala/org/http4s/multipart/PartValue.scala
Due: label core PRs

deploy: 885b55885dd358918ddeb2c01ca3afd920c3657f
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

fiddle with MultipartReceiver constructor DSL
  core/shared/src/main/scala/org/http4s/multipart/MultipartDecoder.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartReceiver.scala
  core/shared/src/main/scala/org/http4s/multipart/PartReceiver.scala
  core/shared/src/main/scala/org/http4s/multipart/PartValue.scala
Due: label core PRs

add test suite for MultipartReceiver
  core/shared/src/main/scala/org/http4s/multipart/MultipartReceiver.scala
  core/shared/src/main/scala/org/http4s/multipart/PartValue.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartReceiverSuite.scala
Due: label core PRs

fix typo(?) in existing code
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
Due: label core PRs

appease the linter
  core/shared/src/main/scala/org/http4s/multipart/PartValue.scala
Due: label core PRs

more linting(?) and headerCreate
  core/shared/src/main/scala/org/http4s/multipart/MultipartDecoder.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartReceiver.scala
  core/shared/src/main/scala/org/http4s/multipart/PartReceiver.scala
  core/shared/src/main/scala/org/http4s/multipart/PartValue.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartReceiverSuite.scala
Due: label core PRs

headerCreate even harder this time
  tests/shared/src/test/scala/org/http4s/multipart/MultipartReceiverSuite.scala
Due: none

fix (ish) an doc comment
  core/shared/src/main/scala/org/http4s/multipart/PartReceiver.scala
Due: label core PRs

resolve another deadlocking race condition
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
Due: label core PRs

scalafixAll again
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
  core/shared/src/main/scala/org/http4s/multipart/PartReceiver.scala
Due: label core PRs

deploy: f75bd3a68e0ced0b93e9d93444894981000ac322
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Update docs/docs/multipart.md
  docs/docs/multipart.md
Due: label docs PRs

Import global runtime in callout
  docs/docs/multipart.md
Due: label docs PRs

refactor use of NonEmptyList in DefaultClient
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
Due: label client PRs
