Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Add tests for Headers#mkString, Headers#mkStringSeparatedBy
  tests/shared/src/test/scala/org/http4s/HeadersSpec.scala
Due: none

Use Headers#mkStringSeparatedBy in Retry#create
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
Due: label client PRs

Use Headers#mkString in Logger#defaultLogHeaders
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
Due: label core PRs

Don't instantiate redundant NonEmptyList in Writer#addList
  core/shared/src/main/scala/org/http4s/util/Renderable.scala
Due: label core PRs

Reuse AuthScheme#Digest in AuthenticationSuite
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Due: label server PRs

Reuse AuthScheme#OAuth in client.oauth1
  client/shared/src/main/scala/org/http4s/client/oauth1/oauth1.scala
Due: label client PRs

Reuse AuthScheme#OAuth in OAuthSuite
  client/shared/src/test/scala/org/http4s/client/oauth1/OAuthSuite.scala
Due: label client PRs

deploy: aea753d06d5e86eb04d108063b45d6f293f29f16
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: e5dc4ad230e6f5c14d938e33d0ee76d2f481a363
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 4c644d4c67028519316442cbcb7798c3d0647f3d
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Reproduce https://github.com/http4s/http4s/issues/6780
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

`trackConnection` should never be empty
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/Shutdown.scala
Due: label ember-server PRs

deploy: 6807bfa4c1c1622a8ec76aaea7e8242fd1d6fb45
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 36372fe1fb13b1c70810badda12fabec577e6b32
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: e64f51233c9a9dd0b2fa822e9ec5a275ad3b2f79
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Remove unnecessary native settings
  build.sbt
Due: none

Overload methods instead of using default parameter values
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  core/shared/src/main/scala/org/http4s/Headers.scala
  tests/shared/src/test/scala/org/http4s/HeadersSpec.scala
Due: label core PRs, label client PRs

deploy: 5f9882a86ab7a4fb4013852e497ddc2e3f5f4f6b
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Fix some typos
  core/shared/src/main/scala/org/http4s/Header.scala
  core/shared/src/main/scala/org/http4s/internal/package.scala
  docs/docs/deployment.md
  docs/docs/error-handling.md
  server/shared/src/main/scala/org/http4s/server/Router.scala
  server/shared/src/main/scala/org/http4s/server/middleware/BracketRequestResponse.scala
  server/shared/src/main/scala/org/http4s/server/middleware/UrlFormLifter.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/AuthMiddlewareSuite.scala
  tests/shared/src/test/scala/org/http4s/CharsetRangeSuite.scala
  tests/shared/src/test/scala/org/http4s/headers/AcceptPatchSpec.scala
Due: label core PRs, label server PRs, label docs PRs

deploy: 85753ee37981de2ed8bc2137965649807aca91b5
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 60d11d923ae7b1571606f6cce78db1f915197100
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Add withAdditionalSocketOptions to EmberServerBuilder
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs

Fix Ember Encoder things
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/EncoderSuite.scala
Due: label ember-core PRs

deploy: 7d79e9aaed13708cc1185b83e03bfaae75a56390
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

add dependency 'scalac-compat-annotation'
  project/Http4sPlugin.scala
Due: none

make use of the new annotations in CORS
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
Due: label server PRs

exclude 'scalac-compat-annotation' from `unusedCompileDependencies`
  project/Http4sPlugin.scala
Due: none

make dependency 'scalac-compat-annotation' compile-time only
  project/Http4sPlugin.scala
Due: none

Fix the wrong Http4sClientDsl location
  client/shared/src/main/scala/org/http4s/client/dsl/Http4sClientDsl.scala
Due: label client PRs

deploy: 4a59f3f9928c1c283908a061d52f9417e7190fcb
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: db8fcaf241f86fcf90ee600e33ee849a8a94efd8
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Optimize `concatBytes`
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

Fix class cast ex
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

Remove unnecessary try-catch
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

Add Access-Control-Max-Age#name
  core/shared/src/main/scala/org/http4s/headers/`Access-Control-Allow-Methods`.scala
Due: label core PRs

Use modeled 'Access-Control-Allow-Methods' header in CORS
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
Due: label server PRs

Add Access-Control-Allow-Methods#name
  core/shared/src/main/scala/org/http4s/headers/`Access-Control-Max-Age`.scala
Due: label core PRs

Use modeled 'Access-Control-Max-Age' header in CORS middleware
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
Due: label server PRs

Scalafix
  core/shared/src/main/scala/org/http4s/headers/`Access-Control-Max-Age`.scala
Due: label core PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
