Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Update sbt-http4s-org to 0.13.2 in series/0.22
  project/plugins.sbt
Due: none

Remove unneeded MiMa filters
  build.sbt
Due: none

deploy: 1dfc54eacd0cbc1a2c736151c4820c65d261eeda
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Tweak Message#toStrict
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Fix BodyCache
  server/shared/src/main/scala/org/http4s/server/middleware/BodyCache.scala
Due: label server PRs

Tweak Message#withEmptyBody
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Tweak BodyCache#hasNoBody
  server/shared/src/main/scala/org/http4s/server/middleware/BodyCache.scala
Due: label server PRs

deploy: fcb76df618392756249ac0fc6004fb73d99bbc67
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Update scala3-library, ... to 3.1.2 in main
  project/Http4sPlugin.scala
Due: none

Regenerate workflow with sbt-github-actions
  .github/workflows/ci.yml
Due: none

Update scala3-library, ... to 3.1.2 in series/0.23
  project/Http4sPlugin.scala
Due: none

deploy: 41440798e7d4f1d32a3b62cf3d0d4c0839fa6684
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Update netty-buffer, netty-codec-http to 4.1.76.Final in series/0.22
  project/Http4sPlugin.scala
Due: none

Ignore scala-lang updates
  .scala-steward.conf
Due: none

deploy: 693350afdec98bdc14a2aba12dbbcdd4aefbf95b
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Remove deprecated blaze SSLContextFactory
  blaze-server/src/main/scala/org/http4s/blaze/server/SSLContextFactory.scala
Due: label blaze-server PRs

deploy: a00db2db89423f188fd79b6add45703774adff11
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: de92a7f7ef7ed77d8ae54a6b5ba06c87c7a72e29
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

deploy: a2a53674f619f86c5ecb9207e449a09e4b62bf1a
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

deploy: c68e46175f3e7e2d2cf00d5755072e86ed1ecd0c
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

deploy: 7ab5611a94bf0172f99c2c4e49570a61aa2138a3
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Remove EmptyBody
  blaze-server/src/main/scala/org/http4s/blaze/server/Http2NodeStage.scala
  client/shared/src/test/scala/org/http4s/client/middleware/RetrySuite.scala
  core/shared/src/main/scala/org/http4s/package.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  server/shared/src/test/scala/org/http4s/server/middleware/ChunkAggregatorSuite.scala
Due: label core PRs, label server PRs, label client PRs, label ember-core PRs, label blaze-server PRs

deploy: a8e9c9daedf2ce134d3736ae2977f61543771f30
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: e3448ac5e11a7d72bfa6c022186a665664f9dabb
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Sketch of NonNegative
  core/shared/src/main/scala/org/http4s/Media.scala
  core/shared/src/main/scala/org/http4s/NonNegative.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Length.scala
Due: label core PRs

EntityEncoder - Avoid implicit encoders for streams.
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientBase.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/ServerTestRoutes.scala
  circe/src/main/scala/org/http4s/circe/CirceInstances.scala
  circe/src/test/scala/org/http4s/circe/CirceSuite.scala
  client/shared/src/test/scala/org/http4s/client/ClientRouteTestBattery.scala
  client/shared/src/test/scala/org/http4s/client/middleware/RetrySuite.scala
  client/shared/src/test/scala/org/http4s/client/testroutes/GetRoutes.scala
  core/shared/src/main/scala/org/http4s/EntityEncoder.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/demo/server/endpoints/FileHttpEndpoint.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/demo/server/endpoints/MultipartHttpEndpoint.scala
  examples/src/main/scala/com/example/http4s/ExampleService.scala
  server/jvm/src/test/scala/org/http4s/server/middleware/GZipSuite.scala
  tests/shared/src/test/scala/org/http4s/EntityEncoderSpec.scala
Due: label core PRs, label server PRs, label client PRs, label blaze-server PRs, label blaze-client PRs, label circe PRs

Replace Stream Entity with Stream entity if possible.
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
Due: label core PRs

Tweak unused args suppressing
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeHttp1ClientParser.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
Due: label server PRs, label ember-server PRs, label blaze-server PRs, label blaze-client PRs

deploy: e0f3eeaebfae922f216708e86325f41bce087541
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Update discipline-core to 1.5.1 in main
  project/Http4sPlugin.scala
Due: none

Update discipline-core to 1.5.1 in series/0.22
  project/Http4sPlugin.scala
Due: none

Update discipline-core to 1.5.1 in series/0.23
  project/Http4sPlugin.scala
Due: none

Reduce use of covary, in favour of variance
  client/shared/src/test/scala/org/http4s/client/ClientRouteTestBattery.scala
  client/shared/src/test/scala/org/http4s/client/testroutes/GetRoutes.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  examples/ember-server-h2/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
  server/jvm/src/test/scala/org/http4s/server/middleware/GZipSuite.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Due: label server PRs, label client PRs, label ember-core PRs, label ember-server PRs

Make Part and Multipart covariant.
  core/shared/src/main/scala/org/http4s/multipart/Multipart.scala
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/ClientMultipartPostExample.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/demo/client/MultipartClient.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Due: label core PRs

Fix SelectOpsMultiple#renderString
  core/src/main/scala/org/http4s/syntax/HeaderSyntax.scala
Due: label core PRs

[ci skip] Ignore discipline updates on main
  .scala-steward.conf
Due: none

deploy: c1607a6ebbbb02d4ed4b24af1c06d850d41b4f98
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Ember-Core - HeaderToRequestNoBody - Small Optimise
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/PseudoHeaders.scala
Due: label ember-core PRs

deploy: f8d518b7df9a235b75c9d440c1de2008d6c0687a
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
