Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Revert "lazy val -> def for mime constants"
  core/shared/src/main/scala/org/http4s/MimeDB.scala
  project/MimeLoader.scala
Due: label core PRs

DRY
  core/shared/src/main/scala/org/http4s/MediaType.scala
Due: label core PRs

Use lazy val for extensionMap
  core/shared/src/main/scala/org/http4s/MediaType.scala
Due: label core PRs

Don't link MimeDB on JS
  core/shared/src/main/scala/org/http4s/MediaType.scala
Due: label core PRs

Temporarily publish snapshots from PR
  .github/workflows/ci.yml
  build.sbt
Due: none

Use separate Dispatcher instances in the blaze client builder
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientBuilder.scala
Due: label blaze-client PRs

Update http4s-crypto to 0.2.3 in main
  project/Http4sPlugin.scala
Due: none

Update tomcat-catalina, tomcat-coyote, ... to 9.0.62 in series/0.22
  project/Http4sPlugin.scala
Due: none

Update http4s-crypto to 0.2.3 in series/0.22
  project/Http4sPlugin.scala
Due: none

Update http4s-crypto to 0.2.3 in series/0.23
  project/Http4sPlugin.scala
Due: none

Ignore http4s-crypto updates on main
  .scala-steward.conf
Due: none

[ci skip] Pin http4s-crypto to 0.1.x
  .scala-steward.conf
Due: none

[ci skip] undo spurious change
  .scala-steward.conf
Due: none

Make thinner the `Http1Support` constructor
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientBuilder.scala
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Support.scala
Due: label blaze-client PRs

Scalafmt
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Support.scala
Due: label blaze-client PRs

Filter out MiMa issues
  build.sbt
Due: none

deploy: 35dc8cf3f33358922214dcd0ec5229786a63aa24
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 2d1dcaf7546ed1d7077f9537588f867e028e0d6d
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Update jetty-client, jetty-http, ... to 9.4.46.v20220331 in series/0.22
  project/Http4sPlugin.scala
Due: none

deploy: d48681d2d3842636070f6f82b01223506ca0c3a2
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

deploy: df3e8f9c225fb458aa3a4cb3be96f2706f1a3ebb
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

deploy: 894b755bb2ea86b5833f7393a22acbdacb5b71a5
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Remove http4s-crypto from blaze-core
  blaze-core/src/main/scala/org/http4s/blazecore/websocket/WebSocketHandshake.scala
  build.sbt
Due: label blaze-core PRs

deploy: ad87e9f1ed323d046ca4c5e4b62f98695f254798
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

scalafmtSbt
  build.sbt
Due: none

Revert "Temporarily publish snapshots from PR"
  .github/workflows/ci.yml
  build.sbt
Due: none

Revert "Create optimization target"
  build.sbt
  examples/client/src/main/scala/Main.scala
Due: none

Add/improve comments
  core/shared/src/main/scala/org/http4s/MediaType.scala
Due: label core PRs

Revert "Revert "Create optimization target""
  build.sbt
  examples/client/src/main/scala/Main.scala
Due: none

Add test for JS artifact size
  build.sbt
  js-artifact-size-test/src/main/scala/Main.scala
Due: none

Test gzip size instead
  build.sbt
Due: none

Update cats-parse to 0.3.7 in main
  project/Http4sPlugin.scala
Due: none

Strengthen bound on JS size, improve comment
  build.sbt
Due: none

Update scalafmt-core to 3.5.0 in series/0.22
  .scalafmt.conf
Due: none

Reformat with scalafmt 3.5.0
  server/src/test/scala/org/http4s/server/middleware/ChunkAggregatorSuite.scala
Due: label server PRs

Update cats-parse to 0.3.7 in series/0.22
  project/Http4sPlugin.scala
Due: none

Update cats-parse to 0.3.7 in series/0.23
  project/Http4sPlugin.scala
Due: none

Regenerate workflow
  .github/workflows/ci.yml
Due: none

scalafix
  js-artifact-size-test/src/main/scala/Main.scala
Due: none

[ci skip] cats-parse comes from 0.22
  .scala-steward.conf
Due: none
