Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Correctly identify an end of stream error when we've already started parsing
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

Just use List instead of ListBuffer
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

This is why we need linear types
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
Due: label ember-core PRs

WIP: return parser state instead of mutable class
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
Due: label ember-core PRs

Don't store null in parser state
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

Fix indices again as consumed bytes are dropped by previous recurseFind
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
Due: label ember-core PRs

Code is probably better than comments
  ember-core/shared/src/test/scala/org/http4s/ember/core/StreamingParserSuite.scala
Due: label ember-core PRs

Don't backtrack on parsing headers
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

WIP: fix bounds for header parsing
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
Due: label ember-core PRs

Add test for https://github.com/http4s/http4s/issues/6580
  ember-core/shared/src/test/scala/org/http4s/ember/core/StreamingParserSuite.scala
Due: label ember-core PRs

Days since I forgot to run scalafmt: 0
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

Randomly rechunk requests and responses in ParserSuite
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
Due: label ember-core PRs

Reverse headers to preserve message header order
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

Replace log4s uses with log4cats
  circe/src/main/scala/org/http4s/circe/middleware/JsonDebugErrorHandler.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/HandlersToNettyAdapter.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/NettyTestServer.scala
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
  core/js/src/main/scala/org/http4s/internal/InternalPlatform.scala
  core/jvm/src/main/scala/org/http4s/Platform.scala
  core/jvm/src/main/scala/org/http4s/internal/InternalPlatform.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/StaticFile.scala
  core/shared/src/main/scala/org/http4s/internal/package.scala
  server/js/src/main/scala/org/http4s/server/Server.scala
  server/jvm/src/main/scala/org/http4s/server/Server.scala
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
  server/shared/src/main/scala/org/http4s/server/middleware/GZip.scala
  server/shared/src/main/scala/org/http4s/server/middleware/HttpsRedirect.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Jsonp.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/PushSupport.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
  server/shared/src/main/scala/org/http4s/server/package.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/FileService.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/MemoryCache.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/ResourceService.scala
Due: label core PRs, label server PRs, label client PRs, label circe PRs

MiMa filters for Scala 3
  build.sbt
Due: none

scalafixAll
  core/js/src/main/scala/org/http4s/Platform.scala
  core/jvm/src/main/scala/org/http4s/Platform.scala
Due: label core PRs

Keep `loggingAsyncCallback` on JS
  core/js/src/main/scala/org/http4s/internal/InternalPlatform.scala
  core/shared/src/main/scala/org/http4s/internal/InternalPlatform.scala
Due: label core PRs

Deprecate `loggingAsyncCallback`
  core/shared/src/main/scala/org/http4s/internal/InternalPlatform.scala
Due: label core PRs

deploy: c9726a9244ceb1afdb51d39c02b881d60343256e
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: e25f7ddbc8059e9fb3df8d8a62fa95a714240a57
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Step 6 Extract process single created stream method
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Scalafmt
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Bincompat fixes
  build.sbt
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

Fix bincompat 2. Fix better.
  build.sbt
Due: none

Scalafmt StaticFile.
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

Results of quicklink.
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

Deleted incorrectly placed test.
  tests/src/test/scala/org/http4s/StaticFileSuite.scala
Due: none

deploy: c480dc2f54437c1dc3c9f4992a2191c77088cefa
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

1. access h2 elements through h2
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

Step 2 - Extract initialise H2Connection as procedure
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

3. Lower from Resource to F, extract Resource.eval
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

5. Extract "clearClosed" procedure.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

6. Extract "Pull created streams" method.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

7. Extract "processSingleStream" inner method.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

8 Extract "processSettings" procedure
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

8 Create Socket - extract parseSocketType method.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

Add etag support for classpath resources.
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

Results of quicklint.
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

Add additional command option for scala3 quickstart
  docs/docs/quickstart.md
Due: label docs PRs

Fixed compatibility error.
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
