Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

fix typo
  core/shared/src/main/scala/org/http4s/Uri.scala
Due: label core PRs

Ignore literally updates on main [ci skip]
  .scala-steward.conf
Due: none

deploy: 0293a41f3cb4632d4779f8a30b6fdcde9f90c2a2
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Retire Charset from the implicit scope in EntityEncoder
  client/shared/src/main/scala/org/http4s/client/oauth1/oauth1.scala
  core/shared/src/main/scala/org/http4s/EntityEncoder.scala
  core/shared/src/main/scala/org/http4s/UrlForm.scala
  dsl/src/test/scala/org/http4s/dsl/ResponseGeneratorSuite.scala
  tests/shared/src/test/scala/org/http4s/EntityEncoderSpec.scala
Due: label core PRs, label dsl PRs, label client PRs

Fix scaladoc in EntityEncoder
  core/shared/src/main/scala/org/http4s/EntityEncoder.scala
Due: label core PRs

Fix scaladoc in Message
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

fix delayed websocket frame processing
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

apply sbt quicklint fixes
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

fix Scala 2.12 compilation error
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

add unit test
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Due: label ember-server PRs

deploy: 89a6e24914f14241a1b46da446f72aa3a7a6fbfb
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

deploy: a23aee918e29dec1436c70b8f2b9f9dc3c347361
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Fix typo: Add missing comma
  docs/docs/dsl.md
Due: label docs PRs

deploy: dee56879a77bc4249d886c7685647e0947103c8f
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: fd0137de6137c2c58d1e197100c653766b7232cd
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Do not respond to WindowUpdate with Ping - causes errors for some implementations
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

H2 Example - Expose Both Http/Https Options
  examples/ember/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
Due: none

deploy: f2bb429d8fadbcc6ec76ed72c6be8d98cc6c2701
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

downgrade from `Async` to `Temporal` in WebSocketHelpers
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

make WebSocketHelpers package private and add mima exception; apply sbt lint
  build.sbt
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

ember/ws - always send code 1000 (CLOSE NORMAL) in the Close frame
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

check close code=1000 in the stream termination test
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Due: label ember-server PRs

ember ws suite: rename remoteCloseCode -> closeCode
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Due: label ember-server PRs

deploy: 74b635e1dd9928fc8870ea24a4e92e574a7e60aa
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: b99efba1225cc58494c2d1959cd97b79e6dbc6fb
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Add doc for mixing left- and right-associative
  docs/docs/dsl.md
Due: label docs PRs

Remove bold on `not compile`
  docs/docs/dsl.md
Due: label docs PRs

Initial Attempt At H2 Transfer-Encoding Compliance
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/PseudoHeaders.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
Due: label ember-core PRs

deploy: 60532fc82da39d5f0f620633e24c7aa9c8b42e26
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Remove Connection Related Headers
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/PseudoHeaders.scala
Due: label ember-core PRs

deploy: 2d89d1150cbc55dd40232a8f5c89d3bb099de8ef
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

scalafix
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/PseudoHeaders.scala
Due: label ember-core PRs

deploy: 69d99fea747faa5d596bbe286ff6a2d7678903be
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: b3cadecf40655170845fbc6762b8843a28ab5d40
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Add Test Suite for Behavior
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/PseudoHeaders.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/PsuedoHeadersSuite.scala
Due: label ember-core PRs

Infer F
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/PsuedoHeadersSuite.scala
Due: label ember-core PRs

Remove references to Scala 2.12 in readme
  README.md
Due: none

Remove references to Scala 2.12 on quckstart page
  docs/docs/quickstart.md
Due: label docs PRs

Remove references to Scala 2.12 on client page
  docs/docs/client.md
Due: label docs PRs

Remove references to Scala 2.12 on service page
  docs/docs/client.md
  docs/docs/service.md
Due: label docs PRs
