Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Add client middleware documentation
  docs/docs/client-middleware.md
  docs/docs/directory.conf
Due: label docs PRs

deploy: 03462415827c5cd300178b2e993e3e96556a34cc
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

fix #5128
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

provide Close frame #6806
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

Rewrite domain sockets example to use ember
  docs/docs/client-middleware.md
Due: label docs PRs

Small decode example in doc
  docs/docs/dsl.md
Due: label docs PRs

add some tests
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Due: label ember-server PRs

Add unix socket dependency to docs project
  build.sbt
Due: none

frameToBuffer produce one bytebuffer for frame
  core/shared/src/main/scala/org/http4s/websocket/FrameTranscoder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label core PRs, label ember-server PRs

fix flaky test
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Due: label ember-server PRs

Import fix
  docs/docs/dsl.md
Due: label docs PRs

fix format
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Due: label ember-server PRs

deploy: 3fcde24c29610568abc51089549196a243e68b28
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix semantic merge conflicts following #6305
  server/shared/src/main/scala/org/http4s/server/middleware/BracketRequestResponse.scala
  server/shared/src/test/scala/org/http4s/server/middleware/BracketRequestResponseSuite.scala
Due: label server PRs

deploy: 2dc963865e5a6da8ce42db5d72a5af07cb426c80
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

deploy: 09f62b66b489338d1d1a11e26038be9b2fc515d6
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

merge buffer frame by copyToBuffer
  core/shared/src/main/scala/org/http4s/websocket/FrameTranscoder.scala
Due: label core PRs

Merge `UriSpec` and `UriSuite`
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
  tests/shared/src/test/scala/org/http4s/UriSuite.scala
Due: none

Rename `UriSpec` -> `UriSuite`
  tests/shared/src/test/scala/org/http4s/UriSuite.scala
Due: none

Remove redundant "drain"
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Ember-Server: extract inner lambda as a `step` function.
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Ember-Server - Weave filtering into loop.
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

ServerHelpers: replace Stream-unfoldEval with recursive F
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Fix resolution of root / URIs
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/UriSuite.scala
Due: label core PRs

fix WSTestClient socket processing
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/WSTestClient.scala
  client-testkit/shared/src/test/scala/org/http4s/client/testkit/WSTestClientSuite.scala
Due: none

Ember-Server - Refactor: cut Case class of configs
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Add case classes for Ember client and server configuration
  build.sbt
  ember-client/shared/src/main/scala/org/http4s/ember/client/Config.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/ConfigTest.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/Config.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConfigTest.scala
Due: label ember-server PRs, label ember-client PRs

Add case classes for Ember client and server configuration
  build.sbt
  ember-client/jvm/src/test/scala/org/http4s/ember/client/ConfigTest.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/Config.scala
  ember-server/jvm/src/test/scala/org/http4s/ember/server/ConfigTest.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/Config.scala
Due: label ember-server PRs, label ember-client PRs

headers
  ember-client/jvm/src/test/scala/org/http4s/ember/client/ConfigTest.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/Config.scala
  ember-server/jvm/src/test/scala/org/http4s/ember/server/ConfigTest.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/Config.scala
Due: label ember-server PRs, label ember-client PRs

fix
  ember-server/shared/src/main/scala/org/http4s/ember/server/Config.scala
Due: label ember-server PRs

Scala 2.12
  ember-client/shared/src/main/scala/org/http4s/ember/client/Config.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/Config.scala
Due: label ember-server PRs, label ember-client PRs

Fix Entity docs
  docs/docs/entity.md
Due: label docs PRs

fix 2.12
  ember-server/shared/src/main/scala/org/http4s/ember/server/Config.scala
Due: label ember-server PRs

remove pureconfig
  build.sbt
  ember-client/jvm/src/test/scala/org/http4s/ember/client/ConfigTest.scala
  ember-server/jvm/src/test/scala/org/http4s/ember/server/ConfigTest.scala
Due: label ember-server PRs, label ember-client PRs

comment on default arguments
  ember-client/shared/src/main/scala/org/http4s/ember/client/Config.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/Config.scala
Due: label ember-server PRs, label ember-client PRs

deploy: 9c87839cd15af1b5bd9344018683a05620c74b86
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Ember-Core H2Connection: extract "WriteChunk" auxiliary function.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs
