Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Fix Scala 3 class cast ex
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

Make constants inlinable
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

Enforce generation of switch
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
Due: label ember-core PRs

Hush mima
  build.sbt
Due: none

Efficient ByteVector construction
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
Due: label ember-core PRs

Use dynamic dispatch for `H2Frame.toRaw`
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
Due: label ember-core PRs

Cleanup redundant val
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
Due: label ember-core PRs

Avoid `ByteVector(...)`
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
Due: label ember-core PRs

Avoid more `ByteVector(...)`
  ember-core/shared/src/main/scala/org/http4s/ember/core/Shared.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/Preface.scala
  ember-server/jvm/src/main/scala/org/http4s/ember/server/internal/ServerHelpersPlatform.scala
Due: label ember-core PRs, label ember-server PRs

More mima filters
  build.sbt
Due: none

scalafix
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
Due: label ember-core PRs

Another mima filter
  build.sbt
Due: none

Use wildcard import
  core/shared/src/main/scala/org/http4s/headers/`Access-Control-Max-Age`.scala
Due: label core PRs

Remove backticks for some filenames of headers
  core/shared/src/main/scala/org/http4s/headers/Access-Control-Allow-Methods.scala
  core/shared/src/main/scala/org/http4s/headers/Access-Control-Max-Age.scala
  core/shared/src/main/scala/org/http4s/headers/Idempotency-Key.scala
Due: label core PRs

Use predefined 'Access-Control-Allow-Methods' header name
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
  server/shared/src/test/scala/org/http4s/server/middleware/CORSSuite.scala
Due: label server PRs

Use predefined 'Access-Control-Max-Age' header name
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
Due: label server PRs

Fix Scala 3 compile
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/RoutesToNettyAdapter.scala
Due: none

deploy: f6e8c94f503720f5155e7ca045851619abbdb81f
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: d29c58d0ea509f113fcb763c21f4590a85360ca8
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 5aced39b9c35c00191c51253b1679c9530e8cbde
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Add UrlForm.single function
  core/shared/src/main/scala/org/http4s/UrlForm.scala
Due: label core PRs

Tweak UrlForm.apply function performance
  core/shared/src/main/scala/org/http4s/UrlForm.scala
Due: label core PRs

Tweak UrlForm.fromChain function performance
  core/shared/src/main/scala/org/http4s/UrlForm.scala
Due: label core PRs

Update sbt-scalajs version
  project/plugins.sbt
Due: none

Ignore updates of Scala Native
  .scala-steward.conf
Due: none

deploy: 471fff987a511fdce12ee9f7974a4226ada54651
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Revamp the integrations page
  docs/docs/integrations.md
  docs/styles/styles.css
Due: label docs PRs

Bump Node.js to 16
  docs/docs/integrations.md
Due: label docs PRs

List servlet instead
  docs/docs/integrations.md
Due: label docs PRs

Update quickstart to match current templates.
  docs/docs/quickstart.md
Due: label docs PRs

Fix obsolete instructions in the contributor guide
  docs/contributing.md
Due: label docs PRs

deploy: 85c57b2d2ea7fb088228e4eac1ac2b5d74d193d7
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Correct some ✅ / ❌
  docs/docs/integrations.md
Due: label docs PRs

deploy: abb8ca070c9303da514b3c747b0e9172303cd0a1
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: 530cf47ee7b3465cbad2c9e0e830eb1367bf24d2
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Opt-out of eviction error for sbt-scala-native
  project/plugins.sbt
Due: none

Remove unused import
  core/shared/src/main/scala/org/http4s/headers/Accept-Charset.scala
Due: label core PRs

deploy: 20ceb8fed223f54924720363a493cc63ddc88d04
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: faf2436c093d9aafc6093402a8f5428c03eea923
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Add unit tests for UrlForm.single
  tests/shared/src/test/scala/org/http4s/UrlFormSpec.scala
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
