Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

fix scalafmt check
  core/shared/src/main/scala/org/http4s/headers/Keep-Alive.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/KeepAliveSuite.scala
Due: label core PRs, label laws PRs

Optimize Headers put and ++ using ListBuffer
  core/shared/src/main/scala/org/http4s/Headers.scala
Due: label core PRs

Remove unnecessary .exists, it's not helpful without prepend
  core/shared/src/main/scala/org/http4s/Headers.scala
Due: label core PRs

Inline empty headers check, use .from where appropriate
  core/shared/src/main/scala/org/http4s/Headers.scala
Due: label core PRs

Invoke brew via full path
  .github/workflows/ci.yml
  build.sbt
Due: none

Rename putHeader -> putRawHeader
  bench/src/main/scala/org/http4s/bench/HeadersBench.scala
  core/shared/src/main/scala/org/http4s/Headers.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  server/shared/src/main/scala/org/http4s/server/middleware/GZip.scala
Due: label core PRs, label server PRs

Update CORS middleware to use putRawHeaders
  core/shared/src/main/scala/org/http4s/Headers.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
Due: label core PRs, label server PRs

scalafmt
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
Due: label server PRs

Remove .from (2.13+ only), useless .exists, improve empty checks
  core/shared/src/main/scala/org/http4s/Headers.scala
Due: label core PRs

Update scaladoc
  core/shared/src/main/scala/org/http4s/Header.scala
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Update GZip middleware to use more efficient putRawHeader
  client/shared/src/main/scala/org/http4s/client/middleware/GZip.scala
Due: label client PRs

deploy: 86630654b1385b3c7d0687dd82cd169121d222b2
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: f3e23f30c2c950eb377c5eec94a21301280a0ad3
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 3613dede19be87573c7b1eedec4712c7dd010c4f
  index.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
  versions.html
Due: none

Add newlines before code block to fix formatting
  docs/docs/auth.md
Due: label docs PRs

Breakup lines to improve formatting
  docs/docs/auth.md
Due: label docs PRs

deploy: 649d3614700268e66c3f9f889420729e2224c0f8
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/uri.html
Due: none

Silence decoding section of client.md
  docs/docs/client.md
Due: label docs PRs

Rewrite section on describing vs running requests
  docs/docs/client.md
Due: label docs PRs

Slim examples section
  docs/docs/client.md
Due: label docs PRs

Rewrite first sections of client.md
  docs/docs/client.md
Due: label docs PRs

Add comment about using concrete IO in guide
  docs/docs/client.md
Due: label docs PRs

Rebuild decoding section with mdoc in client.md
  docs/docs/client.md
Due: label docs PRs

Slim down middleware section of client.md
  docs/docs/client.md
Due: label docs PRs

Expand on running server in background & shutdown
  docs/docs/client.md
Due: label docs PRs

Fix formatting in middleware section of client.md
  docs/docs/client.md
Due: label docs PRs

Reduce output in Constructing a URI section
  docs/docs/client.md
Due: label docs PRs

Silence POST example in client.md
  docs/docs/client.md
Due: label docs PRs

Adopt scala-native-config-brew
  .github/workflows/ci.yml
  build.sbt
  project/plugins.sbt
Due: none

Apply PR feedback and language tweaks
  docs/docs/client.md
Due: label docs PRs

Configure flake for Native, `build.sbt` for nix
  build.sbt
  flake.lock
  flake.nix
Due: none

Try using nix develop for ci
  .github/workflows/ci.yml
  build.sbt
Due: none

Update workflows
  .github/workflows/ci.yml
  .github/workflows/update-flake.yml
  build.sbt
Due: none

Pin to Node.js 16 for now
  flake.nix
Due: none

Provide three temurin dev shells
  flake.lock
  flake.nix
Due: none

Run the dev shell with the specified Java
  .github/workflows/ci.yml
  build.sbt
Due: none

Remove download/setup java steps
  .github/workflows/ci.yml
  build.sbt
Due: none

Setup cachix in ci
  .github/workflows/ci.yml
  build.sbt
Due: none

deploy: bd157163a735f279d423e05f853447e431eee934
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Try removing `extra_nix_config`
  .github/workflows/ci.yml
  build.sbt
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
