Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

deploy: 23c8936f62bee1901b5d910d42ca592b5cc83497
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 9d17f6c6ca80ca75b7d48008e9b9698c328f9534
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Update MimeDB
  core/shared/src/main/scala/org/http4s/MimeDB.scala
  project/MimeLoader.scala
Due: label core PRs

deploy: 7a3685a7c1d31324e49e43091512e5d062753886
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  v1/docs/auth.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

Server Metrics Middleware:
  build.sbt
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label server PRs

Update cats-effect, cats-effect-laws, ... to 3.3.11 in series/0.23
  project/Http4sPlugin.scala
Due: none

deploy: 939fe129799bc481fbe5d883e088e30de37168ca
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Use UUIDGen
  server/shared/src/main/scala/org/http4s/server/middleware/RequestId.scala
Due: label server PRs

Use cats.effect.std.Random in CSRF
  build.sbt
  server/jvm/src/main/scala/org/http4s/server/middleware/CSRF.scala
Due: label server PRs

Use cats.effect.std.Random in Nonce
  build.sbt
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/Nonce.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceF.scala
Due: label server PRs

Formatting
  server/jvm/src/main/scala/org/http4s/server/middleware/CSRF.scala
Due: label server PRs

deploy: 62603d0f1e2c15367648912c17042e02519ebd4a
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Remove `Pure` aliases for Messages
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Relax authentication#challenged constraints
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/package.scala
Due: label server PRs

deploy: 1bebcfe6aacf5c834cc105a7bcff4a7d863386f9
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Use even less SyncIO
  server/jvm/src/main/scala/org/http4s/server/middleware/CSRF.scala
Due: label server PRs

Tweak MiMa filter
  build.sbt
Due: none

deploy: cc2bb502b1643f2c877b9d204893d45271d5dbef
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Fix counting of current allocated connections in the blaze client
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
Due: label blaze-client PRs

Place jsArtifactSizeTest app in Test scope
  build.sbt
  js-artifact-size-test/src/test/scala/Main.scala
Due: none

deploy: e160aa244eda6270f681a5a67381b98c98d3254e
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Update scalafmt-core to 3.5.1 in series/0.22
  .scalafmt.conf
Due: none

deploy: 586085245a207e7f598f3c79daebd51c38679b4a
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

deploy: a9c72b64e646c937747aa4ee80f4e6dfe962bd50
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Message - remoteHost: define without OptionT.
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Server - Chunk Aggregator Middleware: code and docs
  server/shared/src/main/scala/org/http4s/server/middleware/ChunkAggregator.scala
Due: label server PRs

Update sbt-scalafix, scalafix-core, ... to 0.10.0 in series/0.22
  project/plugins.sbt
  scalafix/project/plugins.sbt
Due: none

deploy: ffaf50cf718f5428c86bdbd10c861be6ccd37c02
  v0.22/docs/auth.html
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/deployment.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/error-handling.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/integrations.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/quickstart.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/streaming.html
  v0.22/docs/testing.html
  v0.22/docs/upgrading.html
  v0.22/docs/uri.html
Due: none

deploy: 1a14a1e4da4c617226e197a26abaf46435c8de78
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: c76a01782235522f12cbcc7496b1ed4a36175b6a
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  v1/docs/auth.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

deploy: 171e581398c68cc1e69144271f6083944dc71335
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Update scalacheck to 1.16.0 in series/0.22
  project/Http4sPlugin.scala
Due: none

Update scalacheck to 1.16.0 in main
  project/Http4sPlugin.scala
Due: none

Update scalacheck to 1.16.0 in series/0.23
  project/Http4sPlugin.scala
Due: none

Avoid Alternative-Guard
  core/shared/src/main/scala/org/http4s/Header.scala
  examples/ember-server-h2/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
Due: label core PRs, label server PRs

Move SegmentEncoderSuite to correct location
  tests/shared/src/test/scala/org/http4s/SegmentEncoderSuite.scala
Due: none

Fix unsafe concurrency in allocated map in blaze PoolManager
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
Due: label blaze-client PRs

deploy: bbe13e878df2ba5dcd8fc62badb87f2f2889f4e9
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Remove scalafix testkit dep on Scala 3
  build.sbt
Due: none

deploy: b02e0c29020d15ec3fd5de6fa03107ec49b44dff
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
