Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Bumping deprecated version number
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

First pass of overhauling NonceKeeper with Ref and Semaphore
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeper.scala
  server/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Due: label server PRs

Promote DigestAuth.apply to F[_]
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceF.scala
Due: label server PRs

Break out NonceKeeperF
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Due: label server PRs

Strike fear into the hearts of men
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Due: label server PRs

De-case-ize AuthenticationStore members
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

Preparing for more secure authStore test
  server/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Due: label server PRs

getRandomData should be F-suspended
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceF.scala
Due: label server PRs

Adding a test for Md5HashedAuthenticationStore
  server/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Due: label server PRs

Documentation
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Due: label server PRs

F-suspend getRandomData
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceF.scala
Due: label server PRs

Moving nonces into NonceKeeperF constructor
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Due: label server PRs

Renaming AuthenticationStore to AuthStore
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Due: label server PRs

Headers
  core/src/main/scala/org/http4s/internal/Random.scala
  tests/src/test/scala/org/http4s/internal/JavaMajorVersionSuite.scala
  tests/src/test/scala/org/http4s/internal/RandomSuite.scala
Due: label core PRs

Pool blocking instances
  core/src/main/scala/org/http4s/internal/Random.scala
  tests/src/test/scala/org/http4s/internal/RandomSuite.scala
Due: label core PRs

Share threadsafe instance starting on Java 9
  core/src/main/scala/org/http4s/internal/Random.scala
Due: label core PRs

Adding Md5HashedAuthStore.precomputeHash helper
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestUtil.scala
  server/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Due: label server PRs

Use predefined Close connection header
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/WebSocketSupport.scala
  blaze-server/src/test/scala/org/http4s/blaze/server/ServerTestRoutes.scala
  circe/src/main/scala/org/http4s/circe/middleware/JsonDebugErrorHandler.scala
  core/src/main/scala/org/http4s/headers/Connection.scala
  ember-server/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
  server/src/main/scala/org/http4s/server/package.scala
  testing/src/test/scala/org/http4s/testing/ErrorReporting.scala
  tests/src/test/scala/org/http4s/ResponderSpec.scala
Due: label core PRs, label server PRs, label ember-server PRs, label blaze-server PRs, label circe PRs

Fix tests
  server/src/main/scala/org/http4s/server/package.scala
  testing/src/test/scala/org/http4s/testing/ErrorReporting.scala
Due: label server PRs

Rm unused imports
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/WebSocketSupport.scala
  ember-server/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
Due: label ember-server PRs, label blaze-server PRs

Fix comment
  core/src/main/scala/org/http4s/Message.scala
Due: label core PRs

deploy: 3f6f458717f9df021debe037a0f826b03c69391d
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

deploy: f976aed06ce8467a74b196e34a5a6fdfe9ca3102
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

deploy: f00a1c278e92f7eab00f7539d6c27ce6b4473922
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

deploy: ca39ff9c04911bdb16a1ddb1f1dcc475d45b9aad
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Swapping ju.Date to Instant
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceF.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Due: label server PRs

Switching from Instant and realTime to monotonic millis
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceF.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Due: label server PRs

Swapping out Long to Duration
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceF.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Due: label server PRs

Wiring through Blocking and ContextShift for #6165
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceF.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Due: label server PRs

uri: String -> Uri
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestUtil.scala
  server/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Due: label server PRs

bincompat
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestUtil.scala
Due: label server PRs

deploy: d09671f2fba2dcb87272c87c4068981cef18cfac
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Override toString for Entity
  core/shared/src/main/scala/org/http4s/Entity.scala
Due: label core PRs

Space is gone, so no need for endChar
  core/src/main/scala/org/http4s/multipart/Boundary.scala
Due: label core PRs

Use more robust alphabet for generated boundaries
  core/src/main/scala/org/http4s/multipart/Boundary.scala
Due: label core PRs

Use an Array instead of a List for boundary generation
  core/src/main/scala/org/http4s/multipart/Boundary.scala
Due: label core PRs

Deal with effectfulness of Boundary.create
  core/src/main/scala/org/http4s/multipart/Boundary.scala
  core/src/main/scala/org/http4s/multipart/Multipart.scala
  tests/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Due: label core PRs

Test boundary generation
  tests/src/test/scala/org/http4s/multipart/BoundarySuite.scala
Due: none

Create a Multiparts algebra
  core/src/main/scala/org/http4s/multipart/Boundary.scala
  core/src/main/scala/org/http4s/multipart/Multiparts.scala
  tests/src/test/scala/org/http4s/multipart/MultipartSuite.scala
  tests/src/test/scala/org/http4s/multipart/MultipartsSuite.scala
Due: label core PRs

Remove Multipart.boundary default parameter
  core/src/main/scala/org/http4s/multipart/Multipart.scala
Due: label core PRs
