Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Builder for request logger
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/internal/Logger.scala
Due: label server PRs

Server logger builder
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
Due: label server PRs

Deprecate method
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
Due: label server PRs

Lint
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
Due: label server PRs

logBodyWith -> renderBodyWith
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs

Remove use of deprecated methods
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs

Rename builders
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs

Lint
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs

Update changelog for v0.23.15
  docs/changelog.md
Due: label docs PRs

Accept-CH header and test suite
  core/shared/src/main/scala/org/http4s/headers/`Accept-CH`.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/AcceptCHSuite.scala
Due: label core PRs, label laws PRs

remove unused import
  core/shared/src/main/scala/org/http4s/headers/`Accept-CH`.scala
Due: label core PRs

switch to CIString
  core/shared/src/main/scala/org/http4s/headers/`Accept-CH`.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
Due: label core PRs, label laws PRs

add copyright info
  core/shared/src/main/scala/org/http4s/headers/`Accept-CH`.scala
  tests/shared/src/test/scala/org/http4s/headers/AcceptCHSuite.scala
Due: label core PRs

one more test
  tests/shared/src/test/scala/org/http4s/headers/AcceptCHSuite.scala
Due: none

Revert "Simplify type signature for internal logger"
  client/shared/src/main/scala/org/http4s/client/middleware/Logger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label core PRs, label server PRs, label client PRs

Move logger builders' Async requirements to point of building
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs

Add #6622 to the 0.23.15 release notes
  docs/changelog.md
Due: label docs PRs

deploy: d8ac31366cc577c8e96e79512b534300d677a01b
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Changelog tweaking [ci skip]
  docs/changelog.md
Due: label docs PRs

deploy: 0bbf8d435938336a92cebe1e7956475162e36f8e
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: f6686ac73fca0173e34629bf328c534d30714c44
  index.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
  versions.html
Due: none

Update changelog for 1.0.0-M36
  docs/changelog.md
Due: label docs PRs

deploy: edaf32c16ff269eaafaeda396f0441258a8f0224
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Model the X-DNS-Prefetch-Control header
  core/shared/src/main/scala/org/http4s/headers/X-DNS-Prefetch-Control.scala
Due: label core PRs

add XDNSPrefetchControlSuite
  tests/shared/src/test/scala/org/http4s/headers/XDNSPrefetchControlSuite.scala
Due: none

fix doc fmt
  core/shared/src/main/scala/org/http4s/headers/X-DNS-Prefetch-Control.scala
Due: label core PRs

deploy: 2cd31b084b54ba854663cc04062aa591dc9fddbc
  changelog.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

deploy: 0bcece7cb8ac59459f17ad295ace8b283bb7d072
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Ignore case-insensitive updates on main [ci skip]
  .scala-steward.conf
Due: none

deploy: 264f2f00dd766b0ab018da787746175a7c23699c
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Pin slf4j to 1.x and cleanup [ci skip]
  .scala-steward.conf
Due: none

deploy: 8972b9855a1085913195ed91ed615f88e1d8c39e
  adopters.html
  api/index.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

deploy: f49e06890ffd6f7fa66389cfb3c8f301ddc22601
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Regenerate workflow
  .github/workflows/ci.yml
Due: none

Fixup Scala 3 compile
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
  core/shared/src/main/scala/org/http4s/StaticFile.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ErrorHandling.scala
  server/shared/src/main/scala/org/http4s/server/middleware/GZip.scala
  server/shared/src/main/scala/org/http4s/server/middleware/HttpsRedirect.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/FileService.scala
Due: label core PRs, label server PRs, label client PRs

Fix docs
  build.sbt
  docs/docs/client.md
  docs/docs/cors.md
  docs/docs/gzip.md
  docs/docs/json.md
  docs/docs/service.md
  docs/docs/static.md
  docs/docs/streaming.md
Due: label docs PRs

Remove unused dep
  build.sbt
Due: none

Pin logback-classic to the 1.2.x series
  .scala-steward.conf
Due: none

deploy: 57cedc083b03a48b5adbc994c4c45e769360c70f
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none
