Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Render a trailing newline on multipart close-delimiter
  core/src/main/scala/org/http4s/multipart/MultipartEncoder.scala
  tests/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Due: label core PRs

Stub out Blocker since this is all just going away in CE3 anyway
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Due: label server PRs

deploy: 7a45e6c74eebff0105b55c36282ff72071d5610b
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Fix Request/Response scaladoc
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Test against httpbin.org to confirm a real-world use
  examples/blaze/src/main/scala/com/example/http4s/blaze/ClientMultipartPostExample.scala
Due: none

deploy: e79ab189123ca3c5b75e9389173aca56e39aacb0
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

deploy: 3fcc4ce0aa211dcc48cc1b2a7618ee7f24c5c750
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Add mapK to MetricsOps
  core/src/main/scala/org/http4s/metrics/MetricsOps.scala
Due: label core PRs

deploy: 49854bfd80ffd5c529b04b14063fafad255f2c1d
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Add deprecatia for a gentler migration
  core/src/main/scala/org/http4s/multipart/Multipart.scala
  core/src/main/scala/org/http4s/multipart/Multiparts.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/ClientMultipartPostExample.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/demo/client/MultipartClient.scala
Due: label core PRs

Fix client compilation
  client/src/test/scala/org/http4s/client/ClientRouteTestBattery.scala
Due: label client PRs

Update sbt-scalajs-crossproject to 1.2.0 in main
  project/plugins.sbt
Due: none

Update sbt-scalajs-crossproject to 1.2.0 in series/0.23
  project/plugins.sbt
Due: none

Remove http4s-async-http-client
  async-http-client/src/main/scala/org/http4s/asynchttpclient/AsyncHttpClient.scala
  async-http-client/src/main/scala/org/http4s/asynchttpclient/AsyncHttpClientStats.scala
  async-http-client/src/main/scala/org/http4s/asynchttpclient/EmptyBodyGenerator.scala
  async-http-client/src/main/scala/org/http4s/asynchttpclient/NoOpCookieStore.scala
  async-http-client/src/test/scala/org/http4s/asynchttpclient/AsyncHttpClientSuite.scala
  build.sbt
  site/src/main/mdoc/docs/integrations.md
Due: label async-http-client PRs

Remove sbt-scalajs-crossproject dependency
  project/plugins.sbt
Due: none

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

deploy: ef00f5180eb51a66b88cd9ae7b419d6737407e86
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 5ee5ee9528bd6f12ad659b7b67dbdc85753cf335
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Push Blocker out to the user's control
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
  server/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Due: label server PRs

Add withContentLength and toStrict helpers to Message
  core/src/main/scala/org/http4s/Message.scala
  core/src/main/scala/org/http4s/headers/Transfer-Encoding.scala
  project/Http4sPlugin.scala
  server/src/main/scala/org/http4s/server/middleware/BodyCache.scala
Due: label core PRs, label server PRs

deploy: 4a25ceae4811df044e0338e6d3ae46e206264d75
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Organize imports
  core/src/main/scala/org/http4s/Message.scala
Due: label core PRs

deploy: a7e28185f97e95caf4d980d271adb77c8a38d3fb
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Integrate Random into DigestAuth
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/Nonce.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceF.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeper.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Due: label server PRs

Make nonces as BigInt intended
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceF.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/NonceFSpec.scala
Due: label server PRs

Reduce lock contention in blaze-server
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
Due: label blaze-server PRs

Don't cancel the previous request in the blaze
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
Due: label blaze-server PRs

Scalafix
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
Due: label blaze-server PRs

Update server/src/main/scala/org/http4s/server/middleware/authentication/Nonce.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/Nonce.scala
Due: label server PRs

Update server/shared/src/main/scala/org/http4s/server/middleware/authentication/Nonce.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/Nonce.scala
Due: label server PRs

Create header
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/NonceFSpec.scala
Due: label server PRs

Clean up BlazeServerBuilder scaladoc
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
Due: label blaze-server PRs

deploy: 744f35f2fe1288ce59291f090291e6a3a5ebf473
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Use http4s-crypto's SecureRandom
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/NonceFSpec.scala
Due: label server PRs

deploy: e6e74667096493fa7642bceb0cd135f65dee1541
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Use http4s-crypto's SecureRandom in test
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/NonceFSpec.scala
Due: label server PRs

Surface Random algebra in DigestAuth
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Due: label server PRs

Deprecate blaze TrustingSslContext
  blaze-client/src/main/scala/org/http4s/blaze/client/bits.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientBase.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientSuite.scala
Due: label blaze-client PRs

Move WebSocketHandshake to blaze-core
  blaze-core/src/main/scala/org/http4s/blazecore/websocket/WebSocketHandshake.scala
  blaze-core/src/test/scala/org/http4s/blazecore/websocket/WebSocketHandshakeSuite.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/WebSocketSupport.scala
Due: label blaze-core PRs, label blaze-server PRs

Document the use of the execution context passed to the blaze builders.
  blaze-client/src/main/scala/org/http4s/blaze/client/BlazeClientBuilder.scala
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
Due: label blaze-server PRs, label blaze-client PRs
