Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Release v0.23.19
  docs/changelog.md
Due: label docs PRs

deploy: b87622105433fec5bd1ff53d2649a5668d0944a7
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix release date [ci skip]
  docs/changelog.md
Due: label docs PRs

deploy: e2617759fa60643401ec8aac2415c4660f858d88
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

`WebSocketBuilder2` -> `WebSocketBuilder`
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/WSTestClient.scala
Due: none

Fix `reqToBytes`
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
Due: label ember-core PRs

Ember-Core / H2Connection / Factor out initialisation
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Ember-Core: reimplement write loop without streams.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

H2Stream - Extract "sendInitialRequest" to the H2Stream.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

Ember-Core / H2Stream / State: add initialiser method.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

Ember-Core H2Stream - add EnqueueFrame auxiliary method.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

Ember-Core: H2Connection
  build.sbt
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

fixes Wrong link in "Server Middleware" page in the docs #7117
  docs/docs/server-middleware.md
Due: label docs PRs

deploy: 746a0d55706efaac19afae4606f279079a9a4968
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: b22f722d23eabd6fc3e5e95c69166b454ee15ca3
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add CirceJsonStreamBench
  bench/src/main/scala/org/http4s/bench/CirceJsonStreamBench.scala
Due: none

Encode trailers for chunked strict entities (?)
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-core PRs, label ember-server PRs

`WebSocketBuilder2` -> `WebSocketBuilder`
  client-testkit/shared/src/test/scala/org/http4s/client/testkit/WSTestClientSuite.scala
Due: none

Add request decompression to server GZip middleware
  docs/docs/gzip.md
  server/shared/src/main/scala/org/http4s/server/middleware/GZip.scala
  server/shared/src/test/scala/org/http4s/server/middleware/GZipSuite.scala
Due: label server PRs, label docs PRs

Added more examples of shortcut to create Responses
  docs/docs/dsl.md
Due: label docs PRs

Formatted Examples
  docs/docs/dsl.md
Due: label docs PRs

Formatting
  docs/docs/dsl.md
Due: label docs PRs

deploy: e7f8fae439f938a47fb22adc37ab3966c886d31e
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix compilation issues
  build.sbt
  client-testkit/js-jvm/src/main/scala/org/http4s/client/testkit/ClientRouteTestBattery.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/NettyTestServer.scala
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
  docs/docs/client.md
  ember-client/js/src/main/scala/org/http4s/ember/client/EmberClientBuilderPlatform.scala
  ember-client/jvm/src/main/scala/org/http4s/ember/client/EmberClientBuilderPlatform.scala
  ember-client/native/src/main/scala/org/http4s/ember/client/EmberClientBuilderPlatform.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClient.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberConnection.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/RequestKeySocket.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/ClientHelpersSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientH2Example.scala
  scalafix-internal/input/src/main/scala/fix/LiteralsSyntaxWithExistingImplicitsImportTests.scala
  scalafix-internal/input/src/main/scala/fix/LiteralsSyntaxWithExistingSyntaxImportTests.scala
  scalafix-internal/output/src/main/scala/fix/LiteralsSyntaxWithExistingImplicitsImportTests.scala
  scalafix-internal/output/src/main/scala/fix/LiteralsSyntaxWithExistingSyntaxImportTests.scala
  server/jvm/src/test/scala/org/http4s/server/staticcontent/ResourceServiceSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/MemoryCache.scala
  tests/shared/src/main/scala/org/http4s/Http4sSuite.scala
Due: label server PRs, label client PRs, label ember-server PRs, label ember-client PRs, label docs PRs

Commit `sbt quicklint`
  client-testkit/js-jvm/src/main/scala/org/http4s/client/testkit/ClientRouteTestBattery.scala
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientH2Example.scala
Due: label client PRs

Fix scalafix internal tests
  scalafix-internal/input/src/main/scala/fix/LiteralsSyntaxWithExistingImplicitsImportTests.scala
  scalafix-internal/input/src/main/scala/fix/LiteralsSyntaxWithExistingSyntaxImportTests.scala
  scalafix-internal/output/src/main/scala/fix/LiteralsSyntaxWithExistingImplicitsImportTests.scala
  scalafix-internal/output/src/main/scala/fix/LiteralsSyntaxWithExistingSyntaxImportTests.scala
Due: none

Add missing constructors to ContextRoutes
  core/shared/src/main/scala/org/http4s/ContextRoutes.scala
Due: label core PRs

Add toHttpRoutes conversion function
  core/shared/src/main/scala/org/http4s/ContextRoutes.scala
Due: label core PRs

apply suggestion from review
  core/shared/src/main/scala/org/http4s/ContextRoutes.scala
Due: label core PRs

deploy: eb9c590317461cf61f4107b36696d4ced7a718bf
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: f7a935411655ddfc2c7142e7613b66725a915b5a
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Replace `import org.typelevel.log4cats.slf4j._` with `Slf4jFactory.create`
  circe/src/main/scala/org/http4s/circe/middleware/JsonDebugErrorHandler.scala
  core/shared/src/main/scala/org/http4s/StaticFile.scala
  docs/docs/client.md
  docs/docs/cors.md
  docs/docs/gzip.md
  docs/docs/json.md
  docs/docs/service.md
  docs/docs/static.md
  docs/docs/streaming.md
  examples/docker/src/main/scala/com/example/http4s/Example.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientH2Example.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientSimpleExample.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberServerSimpleExample.scala
  project/Http4sPlugin.scala
Due: label core PRs, label circe PRs, label docs PRs

Fix QueryOps#setQueryParams scaladoc
  core/shared/src/main/scala/org/http4s/QueryOps.scala
Due: label core PRs

Add Upgrade-Insecure-Requests header model
  core/shared/src/main/scala/org/http4s/headers/`Upgrade-Insecure-Requests`.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/UpgradeInsecureRequestsSuite.scala
Due: label core PRs, label laws PRs

Rename file and remove value from class
  core/shared/src/main/scala/org/http4s/headers/Upgrade-Insecure-Requests.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/UpgradeInsecureRequestsSuite.scala
Due: label core PRs, label laws PRs

deploy: 3bf3e564b2f1aea9791230ccf62d35f248a777a1
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: c47652e2cea0adeb845c97568811920101805a12
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: e32db2006bf42df0b56a86e5a80203418d7eadb4
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Apply suggestions from code review
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Review changes
  core/shared/src/main/scala/org/http4s/headers/Upgrade-Insecure-Requests.scala
  tests/shared/src/test/scala/org/http4s/headers/UpgradeInsecureRequestsSuite.scala
Due: label core PRs
