Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Made traits and objects public
  core/js/src/main/scala/org/http4s/nodejs/ClientRequest.scala
  core/js/src/main/scala/org/http4s/nodejs/IncomingMessage.scala
  core/js/src/main/scala/org/http4s/nodejs/ServerResponse.scala
Due: label core PRs

deploy: fa6e97661f59bd22b1cfe809a6dd41dce8aa65af
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix bitrotten Nix actions
  .github/workflows/ci.yml
  build.sbt
Due: none

deploy: 9349f02e84cf036bf9677b69e0a2b8ff83af3f5b
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 969e2a2b29e1f8dfb5c7cd05f9cd4e15ca5a7092
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
Due: none

Update to cats-2.11.0
  project/Http4sPlugin.scala
Due: none

deploy: 5ded305c27d79b7eb5830a25b048277960a98a3e
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: bdfaf04cfcf46902552b2804ef2b3eec40579865
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Run scalafixAll - fix Metrics.scala
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label server PRs, label client PRs

deploy: d3f7fbee69c9c9f1b77a1a22c206a91ffeaa231a
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
  v0.23/docs/streaming.html
Due: none

deploy: 9d4abaee65a18948c892ead1f878c4b71862c7e8
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Retry when connection reset on JDK 17+
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

deploy: 5dce1feabfb5dfd349b6d04d4bc40f3e2c57c51d
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

[POC] Add basic tracing to ember client
  .github/workflows/ci.yml
  build.sbt
  ember-client/js-jvm/src/test/scala/org/http4s/ember/client/EmberClientSuite.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberConnection.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/ClientHelpersSuite.scala
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerMtlsSuite.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientH2Example.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientSimpleExample.scala
  project/Http4sPlugin.scala
Due: label ember-server PRs, label ember-client PRs

Ignore com.earldouglas:xsbt-web-plugin updates on main
  .scala-steward.conf
Due: none

Address the Entity model in CurlConverter.requestToCurlWithBody
  core/shared/src/main/scala/org/http4s/internal/CurlConverter.scala
Due: label core PRs

Make CurlConverter.newline a lazy val
  core/shared/src/main/scala/org/http4s/internal/CurlConverter.scala
Due: label core PRs

Scalafix
  core/shared/src/main/scala/org/http4s/internal/CurlConverter.scala
Due: label core PRs

deploy: 8bbc71c6d7f45d4f6244e121dfbb9dd96d271fc7
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 01db4c04733744e9e2b97a2854a23305b190375c
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client-middleware.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

deploy: bb6a7bb8f28e298f53a630217a9e083b0c53838a
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

[POC] Add basic tracing to ember client
  .github/workflows/ci.yml
  build.sbt
  ember-client/js-jvm/src/test/scala/org/http4s/ember/client/EmberClientSuite.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClient.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberConnection.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/ClientHelpersSuite.scala
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerMtlsSuite.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientH2Example.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientSimpleExample.scala
  project/Http4sPlugin.scala
Due: label ember-server PRs, label ember-client PRs

deploy: abe72b82505ee5129122cc8b348fc85e9319d975
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Adjust the state of Scala 3 on the quick start page
  docs/docs/quickstart.md
Due: label docs PRs

deploy: 0b436a18b8ea8a22606372d87ac6a3564d5876cb
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Adjust used Scala 3 versions on versions page
  docs/versions.md
Due: label docs PRs

Adjust used Scala.js versions on versions page
  docs/versions.md
Due: label docs PRs

deploy: 55b91ec789a3074cf22dcd6218716585807932c3
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: ffeb53d523c05b32ae024b7b4d5ef83fae07229c
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  v1/docs/auth.html
  v1/docs/client-middleware.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

deploy: 87208d25b4e50f57796eeba362ceb5131ab446ba
  v1/docs/client-middleware.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  v1/docs/server-middleware.html
Due: none

deploy: 754a513d20367ca58ae33efa5170c61a56a8cfa5
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

MetricsOps: provide enough request details to fill out all the necessary attributes
  build.sbt
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label core PRs, label server PRs, label client PRs

MetricsOps: use `PreludeRequest` and `PreludeResponse`
  build.sbt
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
  docs/docs/server-middleware.md
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label core PRs, label server PRs, label client PRs, label docs PRs

Scalafmt
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
Due: label core PRs

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

Adjust the code snippets on the multipart page to align with the 1.0 series
  docs/docs/multipart.md
Due: label docs PRs

Remove unused deps from build.sbt
  build.sbt
Due: none

deploy: 6579768b937169f2c88a64a5a3d2318842d885be
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: f37453c9f634fddfdbf4c5425066ceb8a34856dc
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  helium/site/laika-helium.css
  laika/versionInfo.json
  v1/docs/auth.html
  v1/docs/client-middleware.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/multipart.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
