Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

deploy: 00ce7ebfbb6dcdb0e3b5d4399e2c0fa31c0842af
  changelog.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

deploy: 23151b77c93bc8235afcb81e4f755739939e4825
  changelog.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Ignore epollcat updates on main [ci skip]
  .scala-steward.conf
Due: none

Cleaning up client doc
  docs/docs/client.md
Due: label docs PRs

deploy: fb6d8444e004da3c15f1feb45e4694c4c7ddb058
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Change service.md to use mdoc:silent
  docs/docs/service.md
Due: label docs PRs

Remove extraneous `>` from client.md
  docs/docs/client.md
Due: label docs PRs

Use `mdoc:silent` where easy in client.md
  docs/docs/client.md
Due: label docs PRs

Remove intermediate val in client.md to cut output
  docs/docs/client.md
Due: label docs PRs

Isolate unsafeRunSync calls in cors.md
  docs/docs/cors.md
Due: label docs PRs

Isolate unsafeRunSync calls in csrf.md
  docs/docs/csrf.md
Due: label docs PRs

apply syntax highlighting to code blocks in `contributing.md`
  docs/contributing.md
Due: label docs PRs

Trim a single character to avoid line cutoff
  docs/docs/auth.md
Due: label docs PRs

Isolate unsafeRunSync call in entity.md
  docs/docs/entity.md
Due: label docs PRs

Isolate unsafeRunSync calls in gzip.md
  docs/docs/gzip.md
Due: label docs PRs

Isolate unsafeRunSync calls in hsts.md
  docs/docs/hsts.md
Due: label docs PRs

Isolate unsafeRunSync, silence shutdown in json.md
  docs/docs/json.md
Due: label docs PRs

Use mdoc:silent in methods.md
  docs/docs/methods.md
Due: label docs PRs

Isolate unsafeRunSync calls in middleware.md
  docs/docs/middleware.md
Due: label docs PRs

Use mdoc:silent in static.md
  docs/docs/static.md
Due: label docs PRs

Fix CIRCE_VERSION ref in streaming.md
  docs/docs/streaming.md
Due: label docs PRs

Silencing and isolating mdoc output in testing.md
  docs/docs/testing.md
Due: label docs PRs

Silencing and isolating mdoc output in uri.md
  docs/docs/uri.md
Due: label docs PRs

Silencing and isolating mdoc output in dsl.md
  docs/docs/dsl.md
Due: label docs PRs

Remove old ContextShift mention in dsl.md
  docs/docs/dsl.md
Due: label docs PRs

deploy: 0d5425df268a60e9f69ab9f7f848f8d3f954e5b0
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: d6e5f6ab0db674e857a0f4f4331655dddfc0f35a
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

`Cross-Origin-Resource-Policy` model
  core/shared/src/main/scala/org/http4s/headers/Cross-Origin-Resource-Policy.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/CrossOriginResourcePolicySuite.scala
Due: label core PRs, label laws PRs

Cache Monoid[List[Raw]] to reduce allocations
  core/shared/src/main/scala/org/http4s/Header.scala
Due: label core PRs

Make cached monoid instance implicit so it gets automatically added to callsites
  core/shared/src/main/scala/org/http4s/Header.scala
Due: label core PRs

deploy: 3461cac976c62c4b8e5ef4d6e81a14b79a2d8e5d
  adopters.html
  api/index.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

Added scala k8s to libraries
  docs/adopters.md
Due: label docs PRs

deploy: fbcbcf3e23031a5ebba3c8f24b3486f0f5d956a8
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Use ubuntu-22.04 in ci
  .github/workflows/ci.yml
  build.sbt
Due: none

Call Chunk.toByteBuffer directly
  circe/src/main/scala/org/http4s/circe/CirceInstances.scala
Due: label circe PRs

deploy: 6b0a05eb7f17fc923dafa46507639893cbe6fcb7
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Promote Scala Native support on homepage
  docs/versions.md
  project/Http4sSitePlugin.scala
Due: label docs PRs

Optimise adding headers, add interface to allow caching static headers
  bench/src/main/scala/org/http4s/bench/HeadersBench.scala
  core/shared/src/main/scala/org/http4s/Header.scala
  core/shared/src/main/scala/org/http4s/Headers.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Encoding.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Length.scala
  core/shared/src/main/scala/org/http4s/headers/Server.scala
  server/shared/src/main/scala/org/http4s/server/middleware/GZip.scala
Due: label core PRs, label server PRs

Fix Keep-Alive header flaky test
  core/shared/src/main/scala/org/http4s/headers/Keep-Alive.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/KeepAliveSuite.scala
Due: label core PRs, label laws PRs

Avoid duplicated Content-Encoding name
  core/shared/src/main/scala/org/http4s/headers/Content-Encoding.scala
Due: label core PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
