Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Rfc5322 parsers
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc5322.scala
  tests/shared/src/test/scala/org/http4s/parser/Rfc5322ParserSpec.scala
Due: label core PRs

Rfc5322 mailbox parser
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc5322.scala
  tests/shared/src/test/scala/org/http4s/parser/Rfc5322ParserSpec.scala
Due: label core PRs

lint fixes
  core/shared/src/main/scala/org/http4s/headers/From.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc5322.scala
  server/shared/src/test/scala/org/http4s/server/middleware/FromSuite.scala
  tests/shared/src/test/scala/org/http4s/parser/Rfc5322ParserSpec.scala
Due: label core PRs, label server PRs

add missing headers
  core/shared/src/main/scala/org/http4s/headers/From.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc5322.scala
Due: label core PRs

add smart constructor for From header
  core/shared/src/main/scala/org/http4s/headers/From.scala
  server/shared/src/test/scala/org/http4s/server/middleware/FromSuite.scala
Due: label core PRs, label server PRs

add headers to spec files
  server/shared/src/test/scala/org/http4s/server/middleware/FromSuite.scala
  tests/shared/src/test/scala/org/http4s/parser/Rfc5322ParserSpec.scala
Due: label server PRs

deploy: f720869796463df712c23ed70877a1928583d971
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 015b91241612084f2c016de9574dad979e8fcb3a
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Optimize hex conversion in `Logger`
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
Due: label core PRs

Tweak stream compiling to hex string in Logger
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
Due: label core PRs

Simplification
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
Due: label core PRs

deploy: 34fbd95ce53f86d009df11622a8ec4037854533a
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Use parEvalMap in processCreatedStreams
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Log errors from processCreatedStream
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Add H2StreamSuite w failing sendMessageBody test
  build.sbt
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

Add test helper, add empty sendMessageBody test
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

Don't call `sendData` on previously closed stream
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

Rename tests and frames param for clarity
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

Use maxFrameSize in sendMessageBody
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

Remove unused state param from tests
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

Remove unused import that upsets 2.12.x
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

Remove another H2Frame import
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

Make test helper private
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

Use parEvalMapUnordered in processCreatedStreams
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Change to `Stream.exec` in `sendMessageBody`
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

Add state checking and trailer header tests
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

deploy: d7d4fdd8e716c9d6874b4e57fb79c27532668d5b
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Simpify foreach in sendMessageBody
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

deploy: 43c69d837f38df2282e32597b8ef756e9062a24e
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Simplify empty Message handling in H2Stream
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

Tweak sendMessageBody to use boolean `noTrailers`
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

Add scaladoc for sendMessageBody
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

adjust From case class
  core/shared/src/main/scala/org/http4s/headers/From.scala
Due: label core PRs

deploy: 3831ae7fd8040880153a83fa89277c42ffdd09e0
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Address the Entity model in the ChunkAggregator middleware
  server/shared/src/main/scala/org/http4s/server/middleware/ChunkAggregator.scala
Due: label server PRs

Use Concurrent instead of Sync in ChunkAggregator
  server/shared/src/main/scala/org/http4s/server/middleware/ChunkAggregator.scala
Due: label server PRs

deploy: 137453c4e72e501722c46921d3de718060695d0c
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Server Auth Middleware: avoid Kleislis.
  server/shared/src/main/scala/org/http4s/server/package.scala
  server/shared/src/test/scala/org/http4s/server/middleware/UrlFormLifterSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/AuthMiddlewareSuite.scala
Due: label server PRs

JS-Artifact: add the 2023 Copyright header.
  js-artifact-size-test/src/test/scala/Main.scala
Due: none

Ember-Server: reduce the result.
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
