Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

fix tuple extractor for js compiler
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
Due: label server PRs

Pick 'filename*' and ignore 'filename' in Content-Disposition header
  core/src/main/scala/org/http4s/headers/Content-Disposition.scala
Due: label core PRs

Add test of 'filename*' parameter parsing for Content-Disposition header
  tests/src/test/scala/org/http4s/parser/ContentDispositionHeaderSuite.scala
Due: none

Rm unused code in ContentDispositionHeaderSuite
  tests/src/test/scala/org/http4s/parser/ContentDispositionHeaderSuite.scala
Due: none

cosmetic changes and remove useless raise condition
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
  server/shared/src/test/scala/org/http4s/server/middleware/ThrottleSuite.scala
Due: label server PRs

Update core/src/main/scala/org/http4s/headers/Content-Disposition.scala
  core/src/main/scala/org/http4s/headers/Content-Disposition.scala
Due: label core PRs

Add tests and fix some remarks
  core/src/main/scala/org/http4s/headers/Content-Disposition.scala
  tests/src/test/scala/org/http4s/parser/ContentDispositionHeaderSuite.scala
Due: label core PRs

deploy: c9dd0338de57ab7a7852b3839dfc01143a719ca5
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

replace .toNanos call with precomputed value
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
Due: label server PRs

Update server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
Due: label server PRs

fix var name
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
Due: label server PRs

chore: Set permissions for GitHub actions
  .github/workflows/clean.yml
Due: none

draft changes to prove equals and hashcode work for Path
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/PathSuite.scala
Due: label laws PRs

Update tests/shared/src/test/scala/org/http4s/PathSuite.scala
  tests/shared/src/test/scala/org/http4s/PathSuite.scala
Due: none

work around implication failures
  tests/shared/src/test/scala/org/http4s/PathSuite.scala
Due: none

scalafix changes
  tests/shared/src/test/scala/org/http4s/PathSuite.scala
Due: none

add test for merge
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/PathSuite.scala
Due: label core PRs

deploy: 2468f93c0b2d702d9d4aad1ba13968610af6af1a
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 65768a2f8b6dc39e4f099a0034ce73590c5efdcb
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Release v0.22.14
  docs/changelog.md
Due: label docs PRs

deploy: caa1914aa4b65c819976fec4ba673ce183e1d03c
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Add filename property to Content-Disposition
  core/src/main/scala/org/http4s/headers/Content-Disposition.scala
  tests/src/test/scala/org/http4s/parser/ContentDispositionHeaderSuite.scala
Due: label core PRs

deploy: 6161195cd73f2a1d654b4c5947f8b8a8c886dd9c
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

[ci skip] refresh changelog
  docs/changelog.md
Due: label docs PRs

deploy: a9209d22d1e0544bd4d5606e9a3f7aa2033aa001
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Add Ordering for MediaRange
  core/shared/src/main/scala/org/http4s/ContentCoding.scala
  core/shared/src/main/scala/org/http4s/MediaType.scala
Due: label core PRs

deploy: 3d7d05edececcc0a8cdc4f5cfabec27d2faf15a5
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

deploy: 41ee9e60dde864014d97256f762586b687dbfef9
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

revert copyright date change
  core/shared/src/main/scala/org/http4s/ContentCoding.scala
Due: label core PRs

deploy: 6b5917452bf88dc80045fe004aa432592c54d484
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Add sample curl command to quickstart.md
  docs/docs/quickstart.md
Due: label docs PRs

Add Host#fromIp4sHost method
  core/shared/src/main/scala/org/http4s/Uri.scala
Due: label core PRs

deploy: 956d48997bfe7cd2d2ef551f00418eae220d4efa
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Relax server.middleware.Caching constraints
  server/shared/src/main/scala/org/http4s/server/middleware/Caching.scala
Due: label server PRs

Scalafix
  server/shared/src/main/scala/org/http4s/server/middleware/Caching.scala
Due: label server PRs

Fuse encodeFrame and write into a writeFrame method.
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

Extract the FrameTranscoder as a constant.
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

EncodeFrames: reduce to encode single frame
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

Reduce handleIncomingFrames to single frame
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs

Small change: simplify Stream to List.
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
Due: label ember-server PRs
