Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

deploy: 4c6da303ea26dac74b3317336c4044cd591175ef
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Touch up imports
  blaze-core/src/main/scala/org/http4s/blazecore/util/FlushingChunkWriter.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/Http2Writer.scala
  blaze-core/src/main/scala/org/http4s/blazecore/util/IdentityWriter.scala
Due: label blaze-core PRs

Remove deprecated copy method in HttpVersion
  core/shared/src/main/scala/org/http4s/HttpVersion.scala
Due: label core PRs

Remove deprecated CSRF.SHA1ByteLen
  server/jvm/src/main/scala/org/http4s/server/middleware/CSRF.scala
Due: label server PRs

Refactor the DumpingWriter
  blaze-core/src/test/scala/org/http4s/blazecore/util/DumpingWriter.scala
  blaze-core/src/test/scala/org/http4s/blazecore/util/Http1WriterSpec.scala
Due: label blaze-core PRs

deploy: 1022ee38d55770871381e4e87398313b1eac6cb3
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
  versions.html
Due: none

deploy: 8fe257c27be01326d5cfb5ae0f7cfe97c5ae8be1
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Update cats-effect, cats-effect-laws, ... to 3.3.8 in series/0.23
  project/Http4sPlugin.scala
Due: none

deploy: def2f62bde66028fe18f3cf32764478432537172
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Make `liftMonadCancel` even more private
  client/shared/src/main/scala/org/http4s/client/Client.scala
Due: label client PRs

Update deprecation version
  client/shared/src/main/scala/org/http4s/client/Client.scala
Due: label client PRs

Don't override api url
  build.sbt
Due: none

Write end chunk for Strict entity
  blaze-core/src/main/scala/org/http4s/blazecore/util/EntityBodyWriter.scala
Due: label blaze-core PRs

deploy: 419bf792828c625cbc6221a3288b41b088d0cff5
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Ember-Core microoptimisation: use
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

Remove unused EntityBodyWriter.wroteHeader
  blaze-core/src/main/scala/org/http4s/blazecore/util/EntityBodyWriter.scala
Due: label blaze-core PRs

Ember-Core small optimisation: avoid lists
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

Ember-Core: merge the evalMap blocks
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

Add a Random algebra for Cats-Effect 2
  core/src/main/scala/org/http4s/internal/Random.scala
  core/src/main/scala/org/http4s/internal/package.scala
  tests/src/test/scala/org/http4s/internal/RandomSuite.scala
Due: label core PRs

Add nextBigInt to Random
  core/src/main/scala/org/http4s/internal/Random.scala
  tests/src/test/scala/org/http4s/internal/RandomSuite.scala
Due: label core PRs

Update core/src/main/scala/org/http4s/internal/Random.scala
  core/src/main/scala/org/http4s/internal/Random.scala
Due: label core PRs

We don't actually need nextBytes for this shim
  core/src/main/scala/org/http4s/internal/Random.scala
  tests/src/test/scala/org/http4s/internal/RandomSuite.scala
Due: label core PRs

Convert to property tests
  tests/src/test/scala/org/http4s/internal/RandomSuite.scala
Due: none

Rename for consistency with Cats-Effect 3
  core/src/main/scala/org/http4s/internal/Random.scala
  tests/src/test/scala/org/http4s/internal/RandomSuite.scala
Due: label core PRs

Fix java version parser
  core/src/main/scala/org/http4s/internal/package.scala
  tests/src/test/scala/org/http4s/internal/JavaMajorVersionSuite.scala
Due: label core PRs

Embedding new NonceKeeper in F.delay
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

Update server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

Exposing callable parameters for DigestAuth.challenge
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

Chasing F.delay for NonceKeeper
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

Break out Nonce
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/Nonce.scala
Due: label server PRs

Promote DigestAuth.apply to F[_]
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

Flesh out AuthenticationStore
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestUtil.scala
  server/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Due: label server PRs

Remove return
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeper.scala
Due: label server PRs

Switching AuthenticationSuite to use DigestAuth.applyF
  server/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Due: label server PRs

Switch to NonceF
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Due: label server PRs

Switch to NonceKeeperF
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

tailrec -> tailRecM
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Due: label server PRs

bincompat
  server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeper.scala
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
  server/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Due: label server PRs
