Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

deploy: 30b5d975c3da837196ff5f150d637bb3799b43fe
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Utilize Using from std instead of the self-written AutoCloseableResource
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/test/scala/org/http4s/server/staticcontent/StaticContentShared.scala
  tests/shared/src/main/scala/org/http4s/testing/AutoCloseableResource.scala
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Due: label server PRs

deploy: 6821a48cba809a8bff91743bac088a7367519e7e
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Compare to `EmptyBody` with reference equality
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
Due: label ember-core PRs

Formatting
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
Due: label ember-core PRs

Extract conditions into `def`s
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
Due: label ember-core PRs

Remove `AutoCloseableResource`
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/test/scala/org/http4s/server/staticcontent/StaticContentShared.scala
  tests/shared/src/main/scala/org/http4s/testing/AutoCloseableResource.scala
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Due: label server PRs

Revive Service
  core/shared/src/main/scala/org/http4s/Service.scala
Due: label core PRs

Functor[Service]
  core/shared/src/main/scala/org/http4s/Service.scala
Due: label core PRs

Monad[Service]
  core/shared/src/main/scala/org/http4s/Service.scala
Due: label core PRs

SemigroupK[Service]
  core/shared/src/main/scala/org/http4s/Service.scala
Due: label core PRs

MonoidK[Service]
  core/shared/src/main/scala/org/http4s/Service.scala
Due: label core PRs

Local[Service]
  build.sbt
  core/shared/src/main/scala/org/http4s/Service.scala
  project/Http4sPlugin.scala
Due: label core PRs

Alternative[Service]
  core/shared/src/main/scala/org/http4s/Service.scala
Due: label core PRs

runOrElse
  core/shared/src/main/scala/org/http4s/Service.scala
Due: label core PRs

Copyright header
  core/shared/src/main/scala/org/http4s/Service.scala
Due: label core PRs

applyOrElse encoding
  core/shared/src/main/scala/org/http4s/Service.scala
Due: label core PRs

Update project/Http4sPlugin.scala
  project/Http4sPlugin.scala
Due: none

deploy: 653782a9d29dc7b797bc1c668d5d2d4fd759530c
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Crude benchmark
  bench/src/main/scala/org/http4s/bench/AltService.scala
  bench/src/main/scala/org/http4s/bench/ServiceBench.scala
  core/shared/src/main/scala/org/http4s/Service.scala
Due: label core PRs

Fix the fallback encoding
  core/shared/src/main/scala/org/http4s/Service.scala
Due: label core PRs

Switch to throughput mode
  bench/src/main/scala/org/http4s/bench/ServiceBench.scala
Due: none

Unused import
  bench/src/main/scala/org/http4s/bench/ServiceBench.scala
Due: none

Add a raw function
  bench/src/main/scala/org/http4s/bench/ServiceBench.scala
Due: none

Give AltService a regular applyOrElse
  bench/src/main/scala/org/http4s/bench/AltService.scala
  bench/src/main/scala/org/http4s/bench/ServiceBench.scala
Due: none

Fix header
  bench/src/main/scala/org/http4s/bench/AltService.scala
Due: none

Refactor Service into a SAM
  core/shared/src/main/scala/org/http4s/Service.scala
Due: label core PRs

Benchmark from more angles
  bench/src/main/scala/org/http4s/bench/ServiceBench.scala
Due: none

change failure test case to use interceptMessage
  client/shared/src/test/scala/org/http4s/client/ClientSuite.scala
Due: label client PRs

replace suspend with eval
  client/shared/src/main/scala/org/http4s/client/Client.scala
Due: label client PRs

Add link to API docs to landing page
  docs/landing.template.html
Due: label docs PRs

Ember-Core: simplify logic for push promises.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Add *Fallback name to make those easier to isolate
  bench/src/main/scala/org/http4s/bench/ServiceBench.scala
Due: none

deploy: 6200e5d5c235d879ca563a03b81eb80426fbf9c5
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Use icon directive
  docs/landing.template.html
Due: label docs PRs

deploy: d8bc6b74b23677c4e7eb5d795b7401e3e4dae67f
  index.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Use map instead of mapValues on Map
  core/shared/src/main/scala/org/http4s/Query.scala
  core/shared/src/main/scala/org/http4s/UrlForm.scala
Due: label core PRs

deploy: 065f460c9211e22fff06969c7391774144f6b388
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Add Headers#mkString
  core/shared/src/main/scala/org/http4s/Header.scala
  core/shared/src/main/scala/org/http4s/Headers.scala
Due: label core PRs

Add Headers#mkStringSeparatedBy
  core/shared/src/main/scala/org/http4s/Headers.scala
Due: label core PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
