Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Update `Uri.fromString` return type in client docs
  docs/docs/client.md
Due: label docs PRs

Eliminate commented-out code in QueryOps
  core/shared/src/main/scala/org/http4s/QueryOps.scala
Due: label core PRs

Fix formatting of some scaladocs in core
  core/shared/src/main/scala/org/http4s/Query.scala
  core/shared/src/main/scala/org/http4s/Uri.scala
  core/shared/src/main/scala/org/http4s/UrlForm.scala
  core/shared/src/main/scala/org/http4s/headers/Cookie.scala
  core/shared/src/main/scala/org/http4s/headers/ETag.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Cookies.scala
Due: label core PRs

Replace RFC7230 with CommonRules
  core/shared/src/main/scala/org/http4s/ContentCoding.scala
  core/shared/src/main/scala/org/http4s/EntityTag.scala
  core/shared/src/main/scala/org/http4s/MediaType.scala
  core/shared/src/main/scala/org/http4s/Method.scala
  core/shared/src/main/scala/org/http4s/ProductIdOrComment.scala
  core/shared/src/main/scala/org/http4s/QValue.scala
  core/shared/src/main/scala/org/http4s/TransferCoding.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Charset.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Encoding.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Language.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Patch.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Post.scala
  core/shared/src/main/scala/org/http4s/headers/Accept-Ranges.scala
  core/shared/src/main/scala/org/http4s/headers/Accept.scala
  core/shared/src/main/scala/org/http4s/headers/Access-Control-Allow-Headers.scala
  core/shared/src/main/scala/org/http4s/headers/Access-Control-Allow-Methods.scala
  core/shared/src/main/scala/org/http4s/headers/Access-Control-Expose-Headers.scala
  core/shared/src/main/scala/org/http4s/headers/Allow.scala
  core/shared/src/main/scala/org/http4s/headers/Cache-Control.scala
  core/shared/src/main/scala/org/http4s/headers/Connection.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Disposition.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Language.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Range.scala
  core/shared/src/main/scala/org/http4s/headers/Forwarded.scala
  core/shared/src/main/scala/org/http4s/headers/ForwardedRenderers.scala
  core/shared/src/main/scala/org/http4s/headers/Idempotency-Key.scala
  core/shared/src/main/scala/org/http4s/headers/If-Match.scala
  core/shared/src/main/scala/org/http4s/headers/If-None-Match.scala
  core/shared/src/main/scala/org/http4s/headers/Keep-Alive.scala
  core/shared/src/main/scala/org/http4s/headers/Link.scala
  core/shared/src/main/scala/org/http4s/headers/Range.scala
  core/shared/src/main/scala/org/http4s/headers/Strict-Transport-Security.scala
  core/shared/src/main/scala/org/http4s/headers/Trailer.scala
  core/shared/src/main/scala/org/http4s/headers/Transfer-Encoding.scala
  core/shared/src/main/scala/org/http4s/headers/Upgrade.scala
  core/shared/src/main/scala/org/http4s/headers/X-Forwarded-For.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/CommonRules.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc7230.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc7235.scala
  core/shared/src/main/scala/org/http4s/parser/AdditionalRules.scala
Due: label core PRs

Replace Rfc7235 with AuthRules
  core/shared/src/main/scala/org/http4s/headers/Authorization.scala
  core/shared/src/main/scala/org/http4s/headers/Proxy-Authenticate.scala
  core/shared/src/main/scala/org/http4s/headers/Proxy-Authorization.scala
  core/shared/src/main/scala/org/http4s/headers/WWW-Authenticate.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/AuthRules.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc7235.scala
Due: label core PRs

Tweak performance of QueryOps#withQueryParam for cases of empty/single key queries
  core/shared/src/main/scala/org/http4s/QueryOps.scala
Due: label core PRs

Add benchmark for QueryOps#withQueryParam
  bench/src/main/scala/org/http4s/bench/QueryBench.scala
Due: none

Return QueryBench settings
  bench/src/main/scala/org/http4s/bench/QueryBench.scala
Due: none

Change final to sealed in benchmark to satisfy Scalafix
  bench/src/main/scala/org/http4s/bench/QueryBench.scala
Due: none

Purge Query methods from redundant conversions to list
  core/shared/src/main/scala/org/http4s/Query.scala
Due: label core PRs

Purge QueryOps#_withQueryParam from redundant conversions to list
  core/shared/src/main/scala/org/http4s/QueryOps.scala
Due: label core PRs

deploy: 66fb8130d21a5613e14777d0859a06eaddc34985
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: 8bfb37a7ff0b8f1753435cfe1971bbccccbbc134
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Tweak UrlForm#fromChain
  core/shared/src/main/scala/org/http4s/UrlForm.scala
Due: label core PRs

Simplify `lastChunk`
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
Due: label ember-core PRs

Optimize Accept parse, Directly construct with NEL
  core/shared/src/main/scala/org/http4s/headers/Accept.scala
Due: label core PRs

Avoid variadic Accept, construct with NEL
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
Due: label client PRs

deploy: d7185b4867497b87bd0ee37c835fbb6cb3911868
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Organize imports
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
Due: label client PRs

Remove dead scala-xml code
  scala-xml/src/main/scala/scalaxml/ElemInstances.scala
  scala-xml/src/test/scala/scalaxml/ScalaXmlSuite.scala
Due: none

deploy: 5dae6eefb13c39e6a31665b8f9b21b62d18dcff5
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  v1/docs/auth.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

deploy: a32e6c0a7827ba4af8c5679de0b95bf09556df21
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Scalafix
  core/shared/src/main/scala/org/http4s/headers/Cache-Control.scala
  core/shared/src/main/scala/org/http4s/headers/Connection.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Disposition.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Language.scala
  core/shared/src/main/scala/org/http4s/headers/Forwarded.scala
  core/shared/src/main/scala/org/http4s/headers/Trailer.scala
  core/shared/src/main/scala/org/http4s/headers/Upgrade.scala
  core/shared/src/main/scala/org/http4s/headers/X-Forwarded-For.scala
  core/shared/src/main/scala/org/http4s/parser/AdditionalRules.scala
Due: label core PRs

Highlight the new Entity model in the client's docs
  docs/docs/client.md
Due: label docs PRs

deploy: e4f951d83b5c540a9e489161078f3c5ca8f8b082
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: a80b5cade594d4b4df47091eaa54dd4875fef926
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Tweak DSL docs
  docs/docs/dsl.md
Due: label docs PRs

deploy: 1a206d9a53b249f22dce8234f228d1669bd50aaf
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Don't log a Message body for an Entity.Empty
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
Due: label core PRs

deploy: 1a6905d36c9a453a86afac73e431bf012debc9af
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Log a Message body considering the Entity model
  core/shared/src/main/scala/org/http4s/Charset.scala
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
Due: label core PRs

deploy: a5f0e6aa0a0374b7b7d4452f62fe4402e8176daa
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Decoding ByteVector to String is pure
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
Due: label core PRs

Rfc5322 CFWS parser
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc5322.scala
  tests/shared/src/test/scala/org/http4s/parser/Rfc5322ParserSpec.scala
Due: label core PRs

Add more tests and simplify code
  core/shared/src/main/scala/org/http4s/headers/From.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc5322.scala
  server/shared/src/test/scala/org/http4s/server/middleware/FromSuite.scala
  tests/shared/src/test/scala/org/http4s/parser/Rfc5322ParserSpec.scala
Due: label core PRs, label server PRs

From header case class
  core/shared/src/main/scala/org/http4s/headers/From.scala
Due: label core PRs

Rfc5322 atom and dot-atom-text parsers
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc5322.scala
  tests/shared/src/test/scala/org/http4s/parser/Rfc5322ParserSpec.scala
Due: label core PRs

Rfc5322 domain-literal parser
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc5322.scala
  tests/shared/src/test/scala/org/http4s/parser/Rfc5322ParserSpec.scala
Due: label core PRs

Rfc5322 addr-spec parser
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc5322.scala
  tests/shared/src/test/scala/org/http4s/parser/Rfc5322ParserSpec.scala
Due: label core PRs

Rfc5322 quoted-string parser
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc5322.scala
  tests/shared/src/test/scala/org/http4s/parser/Rfc5322ParserSpec.scala
Due: label core PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
