Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Remove unused internal.threads
  core/shared/src/main/scala/org/http4s/internal/threads.scala
Due: label core PRs

Remove unused SSLContextOption
  core/shared/src/main/scala/org/http4s/internal/SSLContextOption.scala
Due: label core PRs

Move org.http4s.internal.tls to org.http4s.ember.server.internal
  ember-server/jvm/src/main/scala/org/http4s/ember/server/internal/ServerHelpersPlatform.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/tls.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/TlsSuite.scala
Due: label ember-server PRs

Update copyright header as headerCheck does not allow 2013 for ember
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/tls.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/TlsSuite.scala
Due: label ember-server PRs

Ignore scalac-compat-annotation updates on main
  .scala-steward.conf
Due: none

deploy: 7db268fc47806da56f7329e42763df441ee784ad
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Include query params in http2 :path pseudo header
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/PseudoHeaders.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/PsuedoHeadersSuite.scala
Due: label ember-core PRs

deploy: dd54be97159744ba40e787ef1254c75e4d4701e2
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  v1/docs/server-middleware.html
Due: none

Add more test cases for HTTP/2 :path handling
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/PsuedoHeadersSuite.scala
Due: label ember-core PRs

deploy: 04b8c18efdd48bf51a9cf5fe00fb9e4e51545e56
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 381f90383c540ac656a08794012321ada05117fa
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 5e95b3c014784292b87449d4a958da87005f5a63
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Use TestControl#executeEmbed in CSRFSuite
  server/shared/src/test/scala/org/http4s/server/middleware/CSRFSuite.scala
Due: label server PRs

Filter out a few tests from running on JS in CSRFSuite
  server/shared/src/test/scala/org/http4s/server/middleware/CSRFSuite.scala
Due: label server PRs

deploy: 11547000d040b1935d4da0c05accd4b242e05468
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Use Assertions#assume in DecodeSpec
  tests/shared/src/test/scala/org/http4s/DecodeSpec.scala
Due: none

Use Assertions#assume in UriSuite
  tests/shared/src/test/scala/org/http4s/UriSuite.scala
Due: none

deploy: f6ffa121a95766bbba6825a2360c97b5c9851aca
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: ba0e690c434b388d2a1b1ab2db74f34ae4bbbb2b
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  v1/docs/server-middleware.html
Due: none

deploy: 1157247bd3f8e83d1ffd3305f16bbd324565ef4a
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 00cd39696e24ca79031220706235359946376345
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: f67f49c6e6175d10adcfce1f3032080f7b2f21c7
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: ad6232833e9044671ee9c83d9ac1284852b63299
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Tweak clues
  tests/shared/src/test/scala/org/http4s/DecodeSpec.scala
  tests/shared/src/test/scala/org/http4s/UriSuite.scala
Due: none

deploy: 07db6ee0c2bcf8ee1616d76dca178b520d85219a
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: caeb1bc7383cca1ad77418213843eaf810d2c69b
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Formatting
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

deploy: 8a10893dc882dca6b139565558b1fd1ace0c49e9
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: 1ed21e86fde9665d9c12f79f8b7338d8d9aea3a1
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Release v0.23.22
  docs/changelog.md
Due: label docs PRs

deploy: b80679b43dc409973f58a4477f254cd40188709a
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 0d78b8b0a918dd6ca5b7237aab327f531ac3310f
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Address review comments
  server/shared/src/main/scala/org/http4s/server/middleware/CSRF.scala
  server/shared/src/test/scala/org/http4s/server/middleware/CSRFSuite.scala
Due: label server PRs

deploy: 61084590b320666a743b9ff56e4d0750c8c41f06
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

deploy: 844b170e3e5231fcadf9e9f960122467684b5eec
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Deprecate Streams as main Entity Type.
  circe/src/test/scala/org/http4s/circe/CirceSuite.scala
  client/shared/src/test/scala/org/http4s/client/middleware/LoggerSuite.scala
  core/shared/src/main/scala/org/http4s/Entity.scala
  core/shared/src/main/scala/org/http4s/Media.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/StaticFile.scala
  core/shared/src/main/scala/org/http4s/package.scala
  docs/docs/client.md
  docs/docs/streaming.md
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/ChunkAggregatorSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/DefaultHeadSuite.scala
  tests/shared/src/test/scala/org/http4s/EntityDecoderSuite.scala
  tests/shared/src/test/scala/org/http4s/EntityEncoderSpec.scala
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Due: label core PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label circe PRs, label docs PRs

Deprecate the EntityBody type alias.
  circe/src/test/scala/org/http4s/circe/CirceSuite.scala
  client/shared/src/test/scala/org/http4s/client/middleware/LoggerSuite.scala
  core/shared/src/main/scala/org/http4s/Entity.scala
  core/shared/src/main/scala/org/http4s/Media.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/StaticFile.scala
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
  core/shared/src/main/scala/org/http4s/package.scala
  docs/docs/client.md
  docs/docs/streaming.md
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/ChunkAggregatorSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/DefaultHeadSuite.scala
  tests/shared/src/test/scala/org/http4s/EntityDecoderSuite.scala
  tests/shared/src/test/scala/org/http4s/EntityEncoderSpec.scala
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Due: label core PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label circe PRs, label docs PRs

Deprecate withBodyStream
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
  client/shared/src/test/scala/org/http4s/client/middleware/LoggerSuite.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  docs/docs/server-middleware.md
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
  server/shared/src/test/scala/org/http4s/server/middleware/BracketRequestResponseSuite.scala
  tests/shared/src/test/scala/org/http4s/EntityDecoderSuite.scala
Due: label core PRs, label server PRs, label client PRs, label ember-core PRs, label docs PRs

Add build method for WebSocket
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
Due: label ember-client PRs

Add createWebSocketKey method
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketHelpers.scala
Due: label ember-client PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
