Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Handle zero spaces between semicolons in cookies.
  core/shared/src/main/scala/org/http4s/headers/Cookie.scala
  tests/shared/src/test/scala/org/http4s/parser/CookieHeaderSuite.scala
Due: label core PRs

Add comment explanining departure from spec.
  core/shared/src/main/scala/org/http4s/headers/Cookie.scala
Due: label core PRs

deploy: 32141e57f0cb60312e82370156bb1b64ea15aec1
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: e03f92981477a7fff00a689bfc8ccf7d71141181
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: d4846238d5585bbaec2effe77a11f0dd094d68a4
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

More specific `recover`
  core/shared/src/main/scala/org/http4s/multipart/MultipartDecoder.scala
Due: label core PRs

deploy: 949d741052750699a614d770184a1061f7eda18e
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Simplify assertion
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Due: none

Address review comments
  core/shared/src/main/scala/org/http4s/Header.scala
Due: label core PRs

Better scoping
  core/shared/src/main/scala/org/http4s/Header.scala
Due: label core PRs

Caps
  docs/docs/client-middleware.md
Due: label docs PRs

Use `expect` in gzip example
  docs/docs/client-middleware.md
Due: label docs PRs

Use 503 instead of exception in retry example
  docs/docs/client-middleware.md
Due: label docs PRs

Not a `case` class
  core/shared/src/main/scala/org/http4s/headers/X-Frame-Options.scala
Due: label core PRs

Make value private
  core/shared/src/main/scala/org/http4s/headers/X-Frame-Options.scala
Due: label core PRs

deploy: ec939b1b354843d53293d4f9a9ac0e205fd4ec47
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: ca9c9141ec05296f191198b795ebc96e78e63a0c
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Fixes highlighting in error-handling documentation
  docs/docs/error-handling.md
Due: label docs PRs

Address MiMa
  dsl/src/main/scala/org/http4s/dsl/Http4sDsl.scala
  dsl/src/main/scala/org/http4s/dsl/request.scala
Due: label dsl PRs

Support scala 2.12
  dsl/src/test/scala/org/http4s/dsl/PathSuite.scala
Due: label dsl PRs

deploy: d734b9fb4511c7ca4499cc9f6ed04d8c75e1eaf2
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 8744d6c4f62dfac1a2f55f7a928222325dc73eaa
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Remove incorrect timeout warnings on server
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs

Untouch EmberServerBuilder
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs

deploy: 7335412ef044d1c76f5eee59baeed5b502b97456
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 1f8aa700ae5b9170c53c31afb00a02f73963a061
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 6fd6130be400b7bdbeda076160b5de37bc053b45
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Force HTTP/1 on WebSocket Upgrade Request
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Keys.scala
Due: label ember-core PRs, label ember-client PRs

deploy: b2895dc1e09afafbcf36707f421ee0af748b7c5d
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Release v0.23.24
  docs/changelog.md
Due: label docs PRs

deploy: 73a25357814469ccb46c7efd7180c94f28584def
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add note about cats-parse to 0.23.24 changelog
  docs/changelog.md
Due: label docs PRs

deploy: 557cc7a130899f0cea5638d932cde1b6284d8829
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: 093ec6a804e4b1df3ceacf14ae4beabd829a6466
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 499ea9848e733bb4b8dde1afdbaa3a0682e674d0
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add test for forcing HTTP/1
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketSuite.scala
Due: label ember-server PRs

Delete comments
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketSuite.scala
Due: label ember-core PRs, label ember-server PRs

deploy: 637f83177728b236b61563c53c8ef0fb8bd26d58
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Nits.
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
  docs/docs/server-middleware.md
Due: label core PRs, label docs PRs

Add docs for forms and multipart
  docs/docs/multipart.md
Due: label docs PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
