Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

deploy: cbf930750e21922b4e955699f74b337ec4eeaf81
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Fixes #6104
  client/shared/src/main/scala/org/http4s/client/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
Due: label server PRs, label client PRs

deploy: a9b2858b6f93085f7fc6eee1782606d9b42c0657
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Deprecate some methods in Client
  client/shared/src/main/scala/org/http4s/client/Client.scala
Due: label client PRs

Fix warnings about deprecations in ClientSyntaxSuite
  client/shared/src/test/scala/org/http4s/client/ClientSyntaxSuite.scala
Due: label client PRs

deploy: 7430e96f929843f30c8a0d364ac23998f8ec647a
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Update fs2 version
  project/Http4sPlugin.scala
Due: none

Disable snapshot repos again
  build.sbt
Due: none

deploy: 46c5513dd39bb7f7295e88cbe60ba752cf11af04
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

removed un-needed Ref from Client
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/test/scala/org/http4s/client/ClientSuite.scala
Due: label client PRs

Revert wrong merge of series/0.22
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/NettyTestServer.scala
Due: none

deploy: 4e4e78a441a57a101c6deb786a6b39f09691b67b
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Update to munit 1.0.0-M6
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/ClientRouteTestBattery.scala
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerMtlsSuite.scala
  ember-server/jvm/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
  project/Http4sPlugin.scala
  tests/jvm/src/main/scala/org/http4s/Http4sSuitePlatform.scala
  tests/shared/src/main/scala/org/http4s/Http4sSuite.scala
  tests/shared/src/main/scala/org/http4s/testing/DispatcherIOFixture.scala
Due: label ember-server PRs

Make all 'unsafe*' constructors private
  core/shared/src/main/scala/org/http4s/StructuredField.scala
Due: label core PRs

Make test JVM-only
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Due: none

Actually use cross-compilable APIs
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Due: none

scalafix
  tests/jvm/src/main/scala/org/http4s/Http4sSuitePlatform.scala
Due: none

deploy: 993dfac8bcd9cbf9c8bb6ed4144480482669f649
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: bc20d98aa602830d5d95ec4e614bf168d7a731a7
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Cross-build for Scala Native
  .github/workflows/ci.yml
  build.sbt
  client-testkit/js-jvm/src/main/scala/org/http4s/client/testkit/ClientRouteTestBattery.scala
  core/js-jvm/src/main/scala/org/http4s/internal/InternalPlatform.scala
  core/js-native/src/main/scala/org/http4s/CharsetPlatform.scala
  core/js/src/main/scala/org/http4s/Platform.scala
  core/jvm/src/main/scala/org/http4s/Platform.scala
  core/native/src/main/scala/org/http4s/Platform.scala
  core/native/src/main/scala/org/http4s/internal/InternalPlatform.scala
  core/shared/src/main/scala/org/http4s/MediaType.scala
  ember-client/js-jvm/src/test/scala/org/http4s/ember/client/EmberClientSuite.scala
  ember-client/js/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/jvm/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/native/src/main/scala/org/http4s/ember/client/EmberClientBuilderCompanionPlatform.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-core/js-native/src/main/scala/org/http4s/ember/core/h2/HpackPlatform.scala
  ember-core/native/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/native/src/main/scala/org/http4s/ember/core/h2/H2TLSPlatform.scala
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
  ember-server/js-native/src/main/scala/org/http4s/ember/server/EmberServerBuilderPlatform.scala
  ember-server/js-native/src/main/scala/org/http4s/ember/server/internal/ServerHelpersPlatform.scala
  project/Http4sPlugin.scala
  project/plugins.sbt
  server/js-native/src/main/scala/org/http4s/server/Ip4sServer.scala
  server/js-native/src/main/scala/org/http4s/server/SecureSession.scala
  server/js-native/src/main/scala/org/http4s/server/Server.scala
  server/js-native/src/main/scala/org/http4s/server/middleware/GZipPlatform.scala
  server/shared/src/main/scala/org/http4s/server/package.scala
  server/shared/src/test/scala/org/http4s/server/staticcontent/StaticContentShared.scala
  tests/js-native/src/test/scala/org/http4s/CrossPlatformResource.scala
  tests/native/src/main/scala/org/http4s/Http4sSuitePlatform.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Due: label core PRs, label server PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs

Omit native projects from unidoc
  build.sbt
Due: none

deploy: 60a3904432522a4bb8a9e5f3f32e9f0f6f319b61
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

bumps
  project/Http4sPlugin.scala
Due: none

Fix url rendering in test ...
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

deploy: a60efbd5f419fbced9f50d4717368685a0c1a842
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Update deprecation version
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs, label ember-client PRs

deploy: cd4ca921b6522cbe89c2c9c06b1714e0784d960b
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: f20838189b79db8ff5d5a85e1e449ac711da1eb8
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Ignore munit-cats-effect updates on main [ci skip]
  .scala-steward.conf
Due: none

deploy: 8b1b41b2e595a696a59a249bd6cd3cee8d01c6d2
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: c340512ae10c3f38f4b915520d4be4df04580570
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: d2db8b07c59e515e0c797557f56a0a696645f492
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 0b4a0207a7fac326d66f97bf506212b0c9d94eff
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

deploy: 141362d2ebf54d054aec0fd38361c4d26fac07b5
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

removing request boolean Ref re-use in respones block
  client/shared/src/main/scala/org/http4s/client/Client.scala
Due: label client PRs

adding in boolean Ref back in for Default Entity type
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/test/scala/org/http4s/client/ClientSuite.scala
Due: label client PRs

different approach and adding MonadCancelThrow and Concurrent
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/test/scala/org/http4s/client/ClientSuite.scala
Due: label client PRs

removed the Ref boolean
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/test/scala/org/http4s/client/ClientSuite.scala
Due: label client PRs

fix unsafe pattern match
  client/shared/src/main/scala/org/http4s/client/Client.scala
Due: label client PRs

Ignore keypool updates on main [ci skip]
  .scala-steward.conf
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
