Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Scalafix
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

bikeshedding
  docs/docs/quickstart.md
Due: label docs PRs

deploy: 8fcf7c8af6aa9587ca81675b73ec2c982c280c06
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Calculate etag from url file
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

Change etag calculator to URL => F[ETag]
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

Fix retrieving headers were side-effecting
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

Apply Hamnis' suggestions
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

Remove redundant constraints
  core/shared/src/main/scala/org/http4s/StaticFile.scala
  tests/src/test/scala/org/http4s/StaticFileSuite.scala
Due: label core PRs

Fix merge
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

Remove StaticFileSuite that was moved to shared.
  tests/src/test/scala/org/http4s/StaticFileSuite.scala
Due: none

Bring back deprecated flag.
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

Add back deprecated call; change etag calculator to return Option.
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

Model the SourceMap header
  core/shared/src/main/scala/org/http4s/headers/SourceMap.scala
Due: label core PRs

add SourceMapSuite
  tests/shared/src/test/scala/org/http4s/headers/SourceMapSuite.scala
Due: none

Wrapped the other calls in F.blocking.
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

fix fmt
  tests/shared/src/test/scala/org/http4s/headers/SourceMapSuite.scala
Due: none

Compositional DSL for ResponseLogger
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs

Tweaks
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs

Rearranging code
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs

Refine logger DSL
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs

Fixed getContentLength; changed condition to be or
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

Add overload for fromResource.
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

Scalfmt
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

deploy: 77e4f3adc73875ac62ea9def48542bdb58365868
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Added some tests for etag.
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Due: none

Scalafmt
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Due: none

Add test for custom etag generator
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Due: none

scalafmt
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Due: none

Move ResponseLogger.Lift to Logger, extract internal Logger type
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/internal/Logger.scala
Due: label server PRs

add parse relative url test
  tests/shared/src/test/scala/org/http4s/headers/SourceMapSuite.scala
Due: none

throw new IllegalArgumentException instead of sys.error
  tests/shared/src/test/scala/org/http4s/headers/SourceMapSuite.scala
Due: none

Use uri syntax in SourceMapSuite
  tests/shared/src/test/scala/org/http4s/headers/SourceMapSuite.scala
Due: none

Simplify type signature for internal logger
  client/shared/src/main/scala/org/http4s/client/middleware/Logger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label core PRs, label server PRs, label client PRs

deploy: d638abdb15eac7f3d8faf7fded2be51f937959a1
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Add headers
  server/shared/src/main/scala/org/http4s/server/middleware/internal/Logger.scala
Due: label server PRs

Backport logger builder to 0.23
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/internal/Logger.scala
Due: label server PRs

Fixes
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
