Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Update Scala 2.13 to 2.13.13
  project/Http4sPlugin.scala
Due: none

Update Scala 2.12 to 2.12.19
  project/Http4sPlugin.scala
Due: none

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

Scalafix
  core/shared/src/main/scala/org/http4s/headers/Accept-Charset.scala
Due: label core PRs

Address the changes to the startYear setting in sbt-typelevel plugin
  build.sbt
Due: none

Address the changes concerning the Scala 2.13 update
  client-testkit/js-jvm/src/main/scala/org/http4s/client/testkit/ClientRouteTestBattery.scala
  client/jvm/src/main/scala/org/http4s/client/JavaNetClientBuilder.scala
  core/shared/src/main/scala/org/http4s/Method.scala
  core/shared/src/main/scala/org/http4s/Status.scala
  core/shared/src/main/scala/org/http4s/Uri.scala
  core/shared/src/main/scala/org/http4s/headers/ForwardedRenderers.scala
  core/shared/src/main/scala/org/http4s/internal/package.scala
  core/shared/src/main/scala/org/http4s/parser/QueryParser.scala
  core/shared/src/main/scala/org/http4s/websocket/WebSocketFrame.scala
  core/shared/src/main/scala/org/http4s/websocket/WebSocketFrameDefragmenter.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/Shutdown.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/FileService.scala
Due: label core PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs

Address the changes concerning the Scala 2.13 update in tests
  circe/src/test/scala/org/http4s/circe/CirceSuite.scala
  client/shared/src/test/scala/org/http4s/client/middleware/LoggerSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/FrameSpec.scala
  server/shared/src/test/scala/org/http4s/server/middleware/CORSSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/ErrorActionSuite.scala
  tests/shared/src/test/scala/org/http4s/EntityDecoderSuite.scala
  tests/shared/src/test/scala/org/http4s/FormDataDecoderSpec.scala
  tests/shared/src/test/scala/org/http4s/MessageSuite.scala
  tests/shared/src/test/scala/org/http4s/headers/StrictTransportSecuritySuite.scala
  tests/shared/src/test/scala/org/http4s/headers/ZipkinHeaderSuite.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
  tests/shared/src/test/scala/org/http4s/parser/QueryParserSpec.scala
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketFrameDefragmenterSuite.scala
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketSuite.scala
Due: label server PRs, label client PRs, label ember-core PRs, label circe PRs

deploy: 9bcca68fc3f2c06a85e5bcef0cf0ed0258649639
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
Due: none

[ci skip] Ignore sbt-scala-native-config-brew updates on main
  .scala-steward.conf
Due: none

deploy: b3ef006a231bfc45cf892a020b4a9dd5c3d5026a
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
  v0.23/docs/streaming.html
Due: none

deploy: 3f9cc57ed66bcf12f29f8c129579434dbf6419cb
  adopters.html
  api/index.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client-middleware.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

deploy: 40e4978fcccd32bdc33306796ef4ccf53273cc9b
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 65e4f93e2cb1586c0902e3820f4636e902b058b4
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: b42d37b5ac89322fb3b84dc46e2ea6a8d745fd56
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

More features, more upgrades, more docs
  docs/changelog.md
Due: label docs PRs

deploy: b5cd7d7a5cec65375f898c83534c72a1f1433145
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Server logging middleware: change logAction to `F[String => F[Unit]]`
  docs/docs/server-middleware.md
  server/jvm/src/test/scala/org/http4s/server/middleware/LoggerSuite.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs, label docs PRs

Address warnings
  client-testkit/shared/src/test/scala/org/http4s/client/websocket/middleware/ReconnectSuite.scala
Due: none

address @rossbaker's feedback, more scaladoc
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartReceiver.scala
  core/shared/src/main/scala/org/http4s/multipart/PartReceiver.scala
  core/shared/src/main/scala/org/http4s/multipart/PartValue.scala
Due: label core PRs

scalafmt
  core/shared/src/main/scala/org/http4s/multipart/PartReceiver.scala
Due: label core PRs

fix import syntax yet again
  tests/shared/src/test/scala/org/http4s/multipart/MultipartReceiverSuite.scala
Due: none

Fix overlay
  flake.nix
Due: none

deploy: 0a7d86253eec956256cb051ab7ba7c97b51b3d8a
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: 3f2e1fcd3a53a638080bd44396577558310524c9
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add methods with customLabelValues parameter to MetricsOps trait
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
Due: label core PRs

Add method withCustomLabelValues to Metrics companion object
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
Due: label client PRs

Add method withCustomLabelValues to server middle Metrics companion object
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label server PRs, label client PRs

Format server middleware Metrics.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label server PRs

Fix compilation error in client Metrics.scala
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
Due: label client PRs

Implement methods with customLabelValues in MetricsOps.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
Due: label core PRs

Suppress unused for methods with default implementation
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
Due: label core PRs

Suppress unused for methods with default implementation - remove filter for Scala 3
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
Due: label core PRs

Call effectWithCustomLabelValues from withCustomLabelValues method in server Metrics.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label server PRs

Add SizedSeq to be used by the coming CustomMetricsOps
  core/shared/src/main/scala/org/http4s/util/SizedSeq.scala
Due: label core PRs

Add CustomMetricsOps
  core/shared/src/main/scala/org/http4s/metrics/CustomLabels.scala
  core/shared/src/main/scala/org/http4s/metrics/CustomMetricsOps.scala
Due: label core PRs

Update client and server Metrics middleware for CustomMetricsOps
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label server PRs, label client PRs

Run prePR
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  core/shared/src/main/scala/org/http4s/metrics/CustomLabels.scala
  core/shared/src/main/scala/org/http4s/util/SizedSeq.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label core PRs, label server PRs, label client PRs

Run scalafixAll
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  core/shared/src/main/scala/org/http4s/metrics/CustomLabels.scala
  core/shared/src/main/scala/org/http4s/metrics/CustomMetricsOps.scala
  core/shared/src/main/scala/org/http4s/util/SizedSeq.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label core PRs, label server PRs, label client PRs

Run scalafixAll - fix SizedSeq.scala
  core/shared/src/main/scala/org/http4s/util/SizedSeq.scala
Due: label core PRs

deploy: b66e983fd7f57d98ac9abaec148bee7714562fa3
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
