Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Add asCurlWithBody
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/internal/CurlConverter.scala
  core/shared/src/main/scala/org/http4s/internal/PosixQuoting.scala
  tests/shared/src/test/scala/org/http4s/MessageSuite.scala
Due: label core PRs

Add licence header
  core/shared/src/main/scala/org/http4s/internal/PosixQuoting.scala
Due: label core PRs

Help out type inference
  tests/shared/src/test/scala/org/http4s/MessageSuite.scala
Due: none

Workaround FS2 bug
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/ExampleWebSocketClientSuite.scala
Due: label ember-server PRs

Simplify to Concurrent
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/internal/CurlConverter.scala
Due: label core PRs

deploy: da8c65b4702f0fe7b073e31b384416d88ec39078
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix handling for closeFrame
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

Add test for receiving closeFrame in high-level connection
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/ExampleWebSocketClientSuite.scala
Due: label ember-server PRs

EmberServerBuilder accepts an explicit LoggerFactory and defaults to NoOpLoggerFactory
  build.sbt
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs

Instantiating the Logger just once
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs

Fixed the examples
  examples/docker/src/main/scala/com/example/http4s/Example.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
Due: none

Readded withLogger helper
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs

#7127 | Fix misbehaving Uri.renderString
  core/shared/src/main/scala/org/http4s/internal/UriCoding.scala
  tests/shared/src/test/scala/org/http4s/parser/UriParserSuite.scala
Due: label core PRs

#7127 | Remove unnecessary test case
  tests/shared/src/test/scala/org/http4s/UriSuite.scala
Due: none

Modify auto disconnection test
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/ExampleWebSocketClientSuite.scala
Due: label ember-server PRs

#7127 | Refactor
  core/shared/src/main/scala/org/http4s/Query.scala
  core/shared/src/main/scala/org/http4s/Uri.scala
  core/shared/src/main/scala/org/http4s/internal/UriCoding.scala
  tests/shared/src/test/scala/org/http4s/UriSuite.scala
Due: label core PRs

Begin updating to sbt-http4s-org 0.15.0-RC1
  project/Http4sPlugin.scala
  project/plugins.sbt
Due: none

changes for sbt-typelevel 0.5.x on Laika 0.19
  build.sbt
  docs/docs/quickstart.md
  docs/styles/landing.page.css
  project/Http4sSitePlugin.scala
Due: label docs PRs

Formatting
  core/shared/src/main/scala/org/http4s/headers/Host.scala
  core/shared/src/main/scala/org/http4s/parser/QueryParser.scala
Due: label core PRs

Fix site
  docs/docs/entity.md
Due: label docs PRs

More site fixes
  docs/docs/json.md
  docs/docs/methods.md
  docs/docs/streaming.md
Due: label docs PRs

Fix fatal disabling
  build.sbt
Due: none

#7127 | Add fix
  core/shared/src/main/scala/org/http4s/Query.scala
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/UriSuite.scala
Due: label core PRs

#7127 | Refactor
  core/shared/src/main/scala/org/http4s/Uri.scala
Due: label core PRs

Fixing
  client/shared/src/main/scala/org/http4s/client/package.scala
  core/shared/src/main/scala/org/http4s/CharsetRange.scala
  docs/versions.md
Due: label core PRs, label client PRs, label docs PRs

More fixing
  build.sbt
Due: none

More fixing
  build.sbt
  tests/shared/src/test/scala/org/http4s/EntityEncoderSpec.scala
Due: none

Fixing
  core/shared/src/main/scala/org/http4s/CharsetRange.scala
Due: label core PRs

Bump sbt-http4s-org
  project/plugins.sbt
Due: none

Regenerate workflow
  .github/workflows/ci.yml
Due: none

Fixing
  core/shared/src/main/scala/org/http4s/CharsetRange.scala
  project/Http4sPlugin.scala
Due: label core PRs

Fixing
  build.sbt
Due: none

Fixing
  build.sbt
  scalafix-internal/tests/src/test/scala-2/fix/RuleSuite.scala
Due: none

Replace queue with channel
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

Hanging while trying to receive
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/ExampleWebSocketClientSuite.scala
Due: label ember-server PRs

Bump to sbt-http4s-org 0.15.0-RC3
  .github/workflows/ci.yml
  project/plugins.sbt
Due: none

Automatically send the close frame
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/EmberWSClient.scala
Due: label ember-client PRs

Add a test for automatically sending the close frame
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/ExampleWebSocketClientSuite.scala
Due: label ember-server PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
