Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Make error messages more accurate within connection borrowing
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
Due: label blaze-client PRs

Use parTraverse in HSTSSuite
  server/shared/src/test/scala/org/http4s/server/middleware/HSTSSuite.scala
Due: label server PRs

Update to Cats Effect 2.5.5
  project/Http4sPlugin.scala
Due: none

deploy: c1dde3a48848b945e2bf85bdcf2bace102c91e24
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Use parTraverse in HttpsRedirectSuite
  server/shared/src/test/scala/org/http4s/server/middleware/HttpsRedirectSuite.scala
Due: label server PRs

Use parTraverse in VirtualHostSuite
  server/shared/src/test/scala/org/http4s/server/middleware/VirtualHostSuite.scala
Due: label server PRs

Use parTraverse in FileServiceSuite
  server/shared/src/test/scala/org/http4s/server/staticcontent/FileServiceSuite.scala
Due: label server PRs

Use parTraverse in StaticFileSuite
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Due: none

Extract client-testkit project
  .github/workflows/ci.yml
  build.sbt
  client-testkit/js/src/main/scala/org/http4s/client/testkit/scaffold/ServerScaffold.scala
  client-testkit/js/src/test/scala/org/http4s/client/NodeJSClientSuite.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/HandlersToNettyAdapter.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/NettyTestServer.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/RoutesToNettyAdapter.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/ServerScaffold.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/package.scala
  client-testkit/jvm/src/test/scala/org/http4s/client/JavaNetClientSuite.scala
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/ClientRouteTestBattery.scala
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/testroutes/GetRoutes.scala
Due: none

Enable snapshots
  .github/workflows/ci.yml
  build.sbt
Due: none

Update to circe 0.14.2
  project/Http4sPlugin.scala
  project/build.sbt
Due: none

Migrate all the things to client-testkit
  async-http-client/src/test/scala/org/http4s/asynchttpclient/AsyncHttpClientSuite.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientBase.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientConnectionReuseSuite.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientSuite.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeHttp1ClientSuite.scala
  build.sbt
  ember-client/shared/src/test/scala/org/http4s/ember/client/EmberClientSuite.scala
  jetty-client/src/test/scala/org/http4s/jetty/client/JettyClientSuite.scala
  okhttp-client/src/test/scala/org/http4s/okhttp/client/OkHttpClientSuite.scala
Due: label ember-client PRs, label blaze-client PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs

Don't mix RouteTestBattery w/ Http4sSuite
  async-http-client/src/test/scala/org/http4s/asynchttpclient/AsyncHttpClientSuite.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/EmberClientSuite.scala
Due: label ember-client PRs, label async-http-client PRs

deploy: a5a3225b4f26e8969925d252dfbbc0c6c73db2fe
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Move jks resource to testkit
  client-testkit/jvm/src/main/resources/server.jks
Due: none

Privatize the testkit
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/HandlersToNettyAdapter.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/NettyTestServer.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/RoutesToNettyAdapter.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/ServerScaffold.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/package.scala
Due: none

Add clientTestkit to root
  build.sbt
Due: none

Scalafix
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/ClientRouteTestBattery.scala
Due: none

scalafmt
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/ClientRouteTestBattery.scala
Due: none

Fix compile
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/ClientRouteTestBattery.scala
Due: none

Fix compile again, more privatizing
  client-testkit/js/src/main/scala/org/http4s/client/testkit/scaffold/ServerScaffold.scala
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/ClientRouteTestBattery.scala
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/testroutes/GetRoutes.scala
Due: none

Actually fix compile ....
  client-testkit/js/src/main/scala/org/http4s/client/testkit/scaffold/ServerScaffold.scala
Due: none

Bye-bye async, okhttp, jetty clients
  .github/workflows/ci.yml
  async-http-client/src/main/scala/org/http4s/asynchttpclient/AsyncHttpClient.scala
  async-http-client/src/main/scala/org/http4s/asynchttpclient/AsyncHttpClientStats.scala
  async-http-client/src/main/scala/org/http4s/asynchttpclient/EmptyBodyGenerator.scala
  async-http-client/src/main/scala/org/http4s/asynchttpclient/NoOpCookieStore.scala
  async-http-client/src/test/scala/org/http4s/asynchttpclient/AsyncHttpClientSuite.scala
  build.sbt
  examples/jetty/src/main/scala/com/example/http4s/jetty/JettyExample.scala
  examples/jetty/src/main/scala/com/example/http4s/jetty/JettySslExample.scala
  examples/jetty/src/main/scala/com/example/http4s/jetty/NoneShallPass.scala
  jetty-client/src/main/scala/org/http4s/jetty/client/JettyClient.scala
  jetty-client/src/main/scala/org/http4s/jetty/client/ResponseListener.scala
  jetty-client/src/main/scala/org/http4s/jetty/client/StreamRequestContentProvider.scala
  jetty-client/src/test/scala/org/http4s/jetty/client/JettyClientSuite.scala
  okhttp-client/src/main/scala/org/http4s/okhttp/client/OkHttpBuilder.scala
  okhttp-client/src/test/scala/org/http4s/okhttp/client/OkHttpClientSuite.scala
  project/Http4sPlugin.scala
  project/ScaladocApiMapping.scala
Due: label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs

Disable snapshots
  .github/workflows/ci.yml
  build.sbt
Due: none

testkit belongs in test scope
  build.sbt
Due: none

Update circe-generic to 0.14.2 in main
  project/build.sbt
Due: none

Update circe-core, circe-generic, ... to 0.14.2 in series/0.23
  project/build.sbt
Due: none

Update locales-minimal-en_us-db to 1.4.0 in series/0.23
  project/Http4sPlugin.scala
Due: none

Ignore circe updates
  .scala-steward.conf
Due: none

deploy: 1ec2e0a80fba0cb9d229d6b20f5d3ed522b41ec2
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 461d15a0617736aec42b610a09ed58827afbe512
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Freshen the release notes
  docs/changelog.md
Due: label docs PRs

deploy: e1cb48decf17c550c56decf23aa0b6f5157f8c78
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Update to circe 0.14.2
  build.sbt
  project/Http4sPlugin.scala
Due: none

Fix tests for new circe errors
  circe/src/test/scala/org/http4s/circe/CirceSensitiveDataEntityDecoderSpec.scala
  circe/src/test/scala/org/http4s/circe/CirceSuite.scala
Due: label circe PRs

deploy: f1442659993683a6b8a5af1a916a8c513e5faca4
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

[ci skip] Move redundant update behind the scenes
  docs/changelog.md
Due: label docs PRs

deploy: 9d5cc59f1d48550e984c05d4380de4420f1fe948
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

deploy: d7ea03235deca8eb0009babbd6131e2e4cbe88db
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: c30169be4d43826a927cd04fb8b783da9fa437a0
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none
