Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Ember-Core H2Client: split method fromSocket into procedures.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

deploy: 1355bcc2e8709b488198a0f635dbc607de8a1a5b
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Don't override 'endsWithSlash' when adding an empty Path segment
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Due: label core PRs

Don't override 'endsWithSlash' when adding an empty collection of Path segments
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Due: label core PRs

deploy: 2b0a0b4f8f38b859e9010931d08a1f2a450aca63
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: fdde4134375bef43570ad69a7de5967ee79a143c
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Update to fs2 3.2.11
  project/Http4sPlugin.scala
Due: none

deploy: 0f58cf0b138d704dcc573c2fdd706ffe5c4cf987
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Release v0.23.14
  docs/changelog.md
Due: label docs PRs

Release v1.0.0-M35
  docs/changelog.md
Due: label docs PRs

deploy: 0c4d150ae794650bc7f21325bd2a9ed4fe3da06e
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: 66aeb95231a3f711758559dc2280ec7c796a8226
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 29d2a7310a1e302fe1f17cd6be36ccc2bbfe221a
  adopters.html
  api/index.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

deploy: 83d41c8087cd1a657db35c6ed2c897d6f929d21b
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

move Uri.Path hashseed to companion object
  core/shared/src/main/scala/org/http4s/Uri.scala
Due: label core PRs

Revert to `String#getBytes`, it's total apparently
  core/shared/src/main/scala/org/http4s/EntityEncoder.scala
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
Due: label core PRs

Pick Sbt Scoverage from 0.23
  .scala-steward.conf
Due: none

added test for #6538
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/PathSuite.scala
Due: label core PRs

deploy: a4c28b3fa5bcc86bce3bd0bba8a1954edb0487c7
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

WebSocketBuilder2: make constructor public
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
  server/shared/src/test/scala/org/http4s/server/websocket/WebSocketBuilderSuite.scala
Due: label server PRs, label ember-server PRs

Sizehint to reduce array copying
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

Deal with scala-xml conflict
  project/build.sbt
Due: none

deploy: 7fcbd6d58b923a5cae7c66100845c6dd1a857498
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Deprecate apply method that takes a web socket key as argument
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
Due: label server PRs

make webSocketKey argument a private[http4s] val
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
Due: label server PRs, label ember-server PRs

Improve deprecation message
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
Due: label server PRs

refine test for hashcode vs equality
  tests/shared/src/test/scala/org/http4s/PathSuite.scala
Due: none

run scalafmt
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
Due: label server PRs

Set `serverNames` TLS parameter for ember h2
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-core/js/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/jvm/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Util.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs, label ember-client PRs

Add MiMa filter
  build.sbt
Due: none

Bikeshedding
  ember-core/js/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/jvm/src/main/scala/org/http4s/ember/core/UtilPlatform.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

Fix compile
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

turn hashing and equality tests into law tests
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/PathSuite.scala
Due: label core PRs

Thread checkEndpointIdentification to H2
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs, label ember-client PRs

Remove TODO
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

Cleanup debug printlns
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

deploy: 4f4cbaa7a8a7ea5d84fdbbcd09306522b6cfdb7d
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

ad low priority implicits for Path
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/PathSuite.scala
Due: label core PRs

remove low priority implicits for Path and mix in Hash trait in existing instances
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/PathSuite.scala
Due: label core PRs

work around bincompat issue with Hash[Path]
  core/shared/src/main/scala/org/http4s/Uri.scala
Due: label core PRs
