Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Get sbt-doctest from 0.22
  .scala-steward.conf
Due: none

Remove http4s-crypto from core
  build.sbt
Due: none

deploy: ee184fce78fd1cb13f570f21effb62a932b6f100
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Update client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/main/scala/org/http4s/client/Client.scala
Due: label client PRs

deploy: 7a5186fc34fc9825c461b08ce6c589a1dd64af45
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Remove unneeded type argument
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
Due: label server PRs

Remove unneeded variance annotation
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Fix scaladoc
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Clean up diff
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Revert "Remove unneeded type argument"
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
Due: label server PRs

Remove vestigial ParasiticExecutionContextCompat
  blaze-core/src/main/scala-2.13/org/http4s/blazecore/util/ParasiticExecutionContextCompat.scala
Due: label blaze-core PRs

Simplify TrustingSslContext in test
  blaze-client/src/test/scala/org/http4s/blaze/client/BlazeClientBase.scala
Due: label blaze-client PRs

deploy: 53570c63e347e75a42808d52805a4aa272ca6986
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

deploy: b39e00c4c117660e74d58bb5b1ad35aee69b077c
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Update sbt-http4s-org to 0.13.1 in series/0.22
  project/plugins.sbt
Due: none

Cleanup site config
  build.sbt
  docs/adopters.md
  docs/changelog.md
  docs/code-of-conduct.md
  docs/contributing.md
  docs/directory.conf
  docs/docs/auth.md
  docs/docs/client.md
  docs/docs/cors.md
  docs/docs/csrf.md
  docs/docs/deployment.md
  docs/docs/directory.conf
  docs/docs/dsl.md
  docs/docs/entity.md
  docs/docs/error-handling.md
  docs/docs/gzip.md
  docs/docs/hsts.md
  docs/docs/integrations.md
  docs/docs/json.md
  docs/docs/methods.md
  docs/docs/middleware.md
  docs/docs/quickstart.md
  docs/docs/service.md
  docs/docs/static.md
  docs/docs/streaming.md
  docs/docs/testing.md
  docs/docs/upgrading.md
  docs/docs/uri.md
  docs/further-reading.md
  docs/getting-help.md
  docs/laika/versionInfo.json
  docs/landing.template.html
  docs/styles/landing.page.css
  docs/versions.md
  project/Http4sSitePlugin.scala
  site/src/test/resources/logback-test.xml
Due: label docs PRs

deploy: 9a61ebae146e3f3b5d2df87bf412637850c4de5f
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Use tryScheduling within IdleTimeoutStage
  blaze-core/src/main/scala/org/http4s/blazecore/IdleTimeoutStage.scala
Due: label blaze-core PRs

Remove Message.covaryF
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Use `guarantee` on failed request clean-up in the blaze
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
Due: label blaze-server PRs

Scalafmt
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
Due: label blaze-server PRs

Fixed Dead Links in further-reading.md
  site/src/main/mdoc/further-reading.md
Due: none

deploy: 3d0068f8db8e60a1153379f7910d455f47967edc
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 05426c11cd22f803ed96b53a822665bb7dd3d212
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Add shifting in the blaze server
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
Due: label blaze-server PRs

Update fs2-core, fs2-io, ... to 3.2.6 in series/0.23
  project/Http4sPlugin.scala
Due: none

Should Metrics classifierF use Generic vs String?
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
  dropwizard-metrics/src/main/scala/org/http4s/metrics/dropwizard/Dropwizard.scala
  dropwizard-metrics/src/test/scala/org/http4s/metrics/dropwizard/DropwizardServerMetricsSuite.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/BlazeMetricsExample.scala
  examples/jetty/src/main/scala/com/example/http4s/jetty/JettyExample.scala
  examples/tomcat/src/main/scala/com/example/http4s/tomcat/TomcatExample.scala
  prometheus-metrics/src/main/scala/org/http4s/metrics/prometheus/Prometheus.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label core PRs, label server PRs, label client PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs

remove obsolete test
  tests/shared/src/test/scala/org/http4s/StatusSpec.scala
Due: none

Use in the Http1Connection
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
Due: label blaze-client PRs

Update fs2-core, fs2-io, ... to 3.2.7 in series/0.23
  project/Http4sPlugin.scala
Due: none

deploy: 18b0a95c36d44ea7a5a12ffc4121a9f6ba1f7eef
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Avoid array copies when splitting chunks in ember chunked decoder
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
Due: label ember-core PRs

Add Classifier type to middleware/client.md
  site/src/main/mdoc/docs/client.md
  site/src/main/mdoc/docs/middleware.md
Due: none

Add some comment around the Classifier type
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label core PRs, label server PRs, label client PRs

deploy: c79654bcbc45bc2ce18cd21bcfc3fa5600bbab87
  v0.22/docs/auth.html
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/deployment.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/error-handling.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/integrations.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/quickstart.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/streaming.html
  v0.22/docs/testing.html
  v0.22/docs/upgrading.html
  v0.22/docs/uri.html
Due: none

deploy: 49ad2c2d4270699376e11ef4e23f658774652103
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Create optimization target
  build.sbt
  examples/client/src/main/scala/Main.scala
Due: none

Fix the mime loader and make it reproducible
  build.sbt
  project/MimeLoader.scala
Due: none

lazy val -> def for mime constants
  core/shared/src/main/scala/org/http4s/MimeDB.scala
  project/MimeLoader.scala
Due: label core PRs
