Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Format BlazeServerBuilder
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
Due: label blaze-server PRs

Clarify docs for BlazeServerBuilder.withExecutionContext
  blaze-server/src/main/scala/org/http4s/blaze/server/BlazeServerBuilder.scala
Due: label blaze-server PRs

Add missing tuple
  blaze-core/src/main/scala/org/http4s/blazecore/websocket/WebSocketHandshake.scala
Due: label blaze-core PRs

deploy: 8abffbc514bf36760ec796dea85d210a3b3edb44
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Fix StatusSpec sanitization property
  tests/src/test/scala/org/http4s/StatusSpec.scala
Due: none

Update cats-effect, cats-effect-laws, ... to 3.3.9 in series/0.23
  project/Http4sPlugin.scala
Due: none

Remove scalaCheckInitialSeed
  tests/src/test/scala/org/http4s/StatusSpec.scala
Due: none

Remove javaMajorVersion
  core/shared/src/main/scala/org/http4s/internal/package.scala
  tests/shared/src/test/scala/org/http4s/internal/JavaMajorVersionSuite.scala
Due: label core PRs

deploy: d2da1ede663405f951dda4e0b10a780e2c07daf9
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: a048bb3b0f789474c46f6f7e03e983e6c140fb9c
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Remove typelevel/cats-effect#2902 workaround
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/NonceFSpec.scala
Due: label server PRs

Revert "Surface Random algebra in DigestAuth"
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Due: label server PRs

Remove another typelevel/cats-effect#2902 workaround
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Due: label server PRs

Uh, not sure why I didn't get that warning
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/NonceFSpec.scala
Due: label server PRs

deploy: fbb5566aa36ac65b47a56e2b003365a7a4156aab
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

scalafmt
  tests/src/test/scala/org/http4s/StatusSpec.scala
Due: none

Fixes #6104
  client/shared/src/main/scala/org/http4s/client/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
Due: label server PRs, label client PRs

Remove deprecated Client.fetch, DefaultClient.fetch
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
Due: label client PRs

Fix Client scaladoc
  client/shared/src/main/scala/org/http4s/client/Client.scala
Due: label client PRs

deploy: 1de372f703486215e82f1178bd8e51713b33cb77
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Add scalafix.test.conf, undo changes to tests
  .scalafix.test.conf
  blaze-client/src/test/scala/org/http4s/blaze/client/PoolManagerSuite.scala
  build.sbt
  server/src/test/scala/org/http4s/server/staticcontent/FileServiceSuite.scala
  tests/src/test/scala/org/http4s/MessageSuite.scala
  tests/src/test/scala/org/http4s/parser/AcceptHeaderSpec.scala
  tests/src/test/scala/org/http4s/parser/AcceptRangesSpec.scala
  tests/src/test/scala/org/http4s/parser/CacheControlSpec.scala
  tests/src/test/scala/org/http4s/parser/MediaRangeSpec.scala
Due: label server PRs, label blaze-client PRs

deploy: b1538f97a05dba4667ddaeeade2523d2b0f37710
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Add explicit type
  server/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Due: label server PRs

Relax ContextRouter's constraints
  server/shared/src/main/scala/org/http4s/server/ContextRouter.scala
Due: label server PRs

Restore binary compatibility
  server/shared/src/main/scala/org/http4s/server/ContextRouter.scala
Due: label server PRs

Use volatile instead of atomic reference
  blaze-server/src/main/scala/org/http4s/blaze/server/Http1ServerStage.scala
Due: label blaze-server PRs

deploy: 705229d6dfad79544e6fd7a02d99f49988f4d0b5
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Update sbt-doctest to 0.10.0 in main
  project/plugins.sbt
Due: none

Update sbt-doctest to 0.10.0 in series/0.22
  project/plugins.sbt
Due: none

Update sbt-doctest to 0.10.0 in series/0.23
  project/plugins.sbt
Due: none

deploy: 36208c1b03adbe322ee755faeeb2a6147522ddd9
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

deploy: d1bc6397b9c4f56cb1c1a0eed192ac36a1d6aff7
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Fix deprecation version
  server/shared/src/main/scala/org/http4s/server/ContextRouter.scala
Due: label server PRs

deploy: af46adcdfc1ebed52be0294fd9224cbd4a07df7f
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Remove deprecated Client.translate signatures
  client/shared/src/main/scala/org/http4s/client/Client.scala
  client/shared/src/test/scala/org/http4s/client/ClientSuite.scala
Due: label client PRs

Remove duplicate and deprecated WebSocketHandshake
  core/shared/src/main/scala/org/http4s/websocket/WebSocketHandshake.scala
  tests/shared/src/test/scala/org/http4s/websocket/WebSocketHandshakeSuite.scala
Due: label core PRs

Privatize uncallable challenge method
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

Remove deprecated ContextRouter overloads
  server/shared/src/main/scala/org/http4s/server/ContextRouter.scala
Due: label server PRs

Gotcha
  server/shared/src/main/scala/org/http4s/server/package.scala
Due: label server PRs

lint
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Frame.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Keys.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/Preface.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/PseudoHeaders.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientH2Example.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/FileService.scala
Due: label server PRs, label ember-core PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
