Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Use single call of Message#putHeaders in Caching middleware
  server/shared/src/main/scala/org/http4s/server/middleware/Caching.scala
Due: label server PRs

Use single call of Message#putHeaders in Ember's ClientHelpers
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

deploy: a20adeb73d3f7a1d8d853be6c42a274390c26e55
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 5666d4e74c2e000667c9689592552be1a032bce8
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

WIP use Bytevector for Strict
  core/shared/src/main/scala/org/http4s/Entity.scala
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
Due: label core PRs

deploy: dad8c203d61787311b8559469b5984e7f103f582
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

`INothing` -> `Nothing`
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/StreamForking.scala
Due: label ember-server PRs

Fix JS compile
  core/js/src/main/scala/org/http4s/nodejs/ClientRequest.scala
Due: label core PRs

Fix Scala.js 3 compile
  core/js/src/main/scala/org/http4s/nodejs/ClientRequest.scala
Due: label core PRs

deploy: 8c8000ac0d9c772524d6f276c787a9bbb840f1e4
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Point upgrade docs at scalafix published in series/0.22
  docs/docs/upgrading.md
Due: label docs PRs

Remove scalafix migrations, plugin cleanup
  .github/workflows/ci.yml
  build.sbt
  project/plugins.sbt
  scalafix/build.sbt
  scalafix/input/src/main/scala/fix/CIStringTests.scala
  scalafix/input/src/main/scala/fix/ClientFetchTests.scala
  scalafix/input/src/main/scala/fix/HeaderTests.scala
  scalafix/input/src/main/scala/fix/RewritePackagesTests.scala
  scalafix/input/src/main/scala/fix/UriPathTests.scala
  scalafix/output/src/main/scala/fix/CIStringTests.scala
  scalafix/output/src/main/scala/fix/ClientFetchTests.scala
  scalafix/output/src/main/scala/fix/HeaderTests.scala
  scalafix/output/src/main/scala/fix/RewritePackagesTests.scala
  scalafix/output/src/main/scala/fix/UriPathTests.scala
  scalafix/project/build.properties
  scalafix/project/plugins.sbt
  scalafix/readme.md
  scalafix/rules/src/main/resources/META-INF/services/scalafix.v1.Rule
  scalafix/rules/src/main/scala/fix/ClientFetchPatches.scala
  scalafix/rules/src/main/scala/fix/package.scala
  scalafix/rules/src/main/scala/fix/v0_21.scala
  scalafix/rules/src/main/scala/fix/v0_22.scala
  scalafix/tests/src/test/scala/fix/RuleSuite.scala
Due: none

formatting
  build.sbt
Due: none

deploy: 7d32444b41afadba1a671a7e4a4b2f8a0e18884a
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
  v0.22/docs/upgrading.html
Due: none

deploy: e4ea95bf44ff7026c89c3b7a8f986de1a093c112
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
Due: none

deploy: 55f852e9ef38d9db896d0e5c70cc65958c6fa30f
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 08d219ba64f08a3741ebf2816f97a81b9561269a
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: cc9bf545feedebbf3f59e8b57f29b8be8baf1681
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 0d6b2cd095ccc56b1554751ad05656fa24847b35
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

[ci skip] ignore cats updates on main
  .scala-steward.conf
Due: none

Fix compile
  tests/shared/src/test/scala/org/http4s/headers/TransferEncodingSuite.scala
Due: none

deploy: c63372cc886bef753a62a90009e9dd8df8330a51
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 4c338e966d1494291f3f64cb7be68f12c72e7e01
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Fix Content-Disposition filename encoding
  core/src/main/scala/org/http4s/headers/Content-Disposition.scala
  tests/src/test/scala/org/http4s/parser/ContentDispositionHeaderSuite.scala
Due: label core PRs

simplify a test's logic
  server/shared/src/test/scala/org/http4s/server/middleware/ThrottleSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/TimeoutSuite.scala
Due: label server PRs

execute realTime call in parallel and fix some indentation
  server/shared/src/test/scala/org/http4s/server/middleware/ThrottleSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/TimeoutSuite.scala
Due: label server PRs

improve on test
  server/shared/src/test/scala/org/http4s/server/middleware/ThrottleSuite.scala
Due: label server PRs

add ResponseTimingSuite to refactoring
  server/shared/src/test/scala/org/http4s/server/middleware/ResponseTimingSuite.scala
Due: label server PRs

scalafix fixes
  server/shared/src/test/scala/org/http4s/server/middleware/ThrottleSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/TimeoutSuite.scala
Due: label server PRs

tests fixes
  server/shared/src/test/scala/org/http4s/server/middleware/ThrottleSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/TimeoutSuite.scala
Due: label server PRs

Use TestControl for time based test suites
  server/shared/src/test/scala/org/http4s/server/middleware/ThrottleSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/TimeoutSuite.scala
Due: label server PRs

add RetrySuite to refactoring and improve ResponseTimingSuit
  client/shared/src/test/scala/org/http4s/client/middleware/RetrySuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/ResponseTimingSuite.scala
Due: label server PRs, label client PRs

refactor last test
  server/shared/src/test/scala/org/http4s/server/middleware/ThrottleSuite.scala
Due: label server PRs

test now tests what it has to
  server/shared/src/test/scala/org/http4s/server/middleware/ThrottleSuite.scala
Due: label server PRs

add docs on TestControl
  docs/contributing.md
Due: label docs PRs

Update docs/contributing.md
  docs/contributing.md
Due: label docs PRs

Update server/shared/src/test/scala/org/http4s/server/middleware/TimeoutSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/TimeoutSuite.scala
Due: label server PRs

improve ResponseTimingSuite and fix formatting
  server/shared/src/test/scala/org/http4s/server/middleware/ResponseTimingSuite.scala
  server/shared/src/test/scala/org/http4s/server/middleware/TimeoutSuite.scala
Due: label server PRs

Require bucket refill time to be > 0 and improve on test generators
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
  server/shared/src/test/scala/org/http4s/server/middleware/ThrottleSuite.scala
Due: label server PRs

provide decomposition of tuple's logic
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
Due: label server PRs
