Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

deploy: 9c98a9c2b525eb736ac5594afaf6552493582279
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Merge upstream, resolve conflicts
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  core/shared/src/main/scala/org/http4s/metrics/CustomMetricsOps.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label core PRs, label server PRs, label client PRs

update changelog
  docs/changelog.md
Due: label docs PRs

deploy: 50f988442c15193b3495ca695997c14a2dd778b6
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

fix unused import error?
  server/shared/src/test/scala/org/http4s/server/middleware/HttpsRedirectSuite.scala
Due: label server PRs

deploy: 991ebb11246cee3ae5835922e4b12b6ccc29f7eb
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: 23e4d8ed208e5f365553f7c62ace4658369c50cd
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: e9c6516924c02f5dcddc5cc1305219a22eb477ef
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 423ef9046de85d05c655bccf93e2d6c05098c8e3
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: a915282c0956c1788572e74b20a798a395616706
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Ember h2 trailer fix
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

deploy: c6c8e686af71b01ce98c93193a8c040d35015dda
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 6e818c2f9dc58d8986fe79d0643fbc921f9f82e9
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client-middleware.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/multipart.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

Fix Scala Steward config
  .scala-steward.conf
Due: none

add releasing guidelines for 1.0.0 milestones
  RELEASING.md
Due: none

include the actual publishing step
  RELEASING.md
Due: none

deploy: 2c7c18947e9f0db860688bb9899f55425d9d0797
  changelog.html
  v1/docs/client-middleware.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  v1/docs/server-middleware.html
Due: none

deploy: 27b5fbc8b219bdec9337dd3c04746b3ccedfffd7
  adopters.html
  api/index.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client-middleware.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/multipart.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

update releasing guide re ancillary releases
  RELEASING.md
Due: none

deploy: 91814b4e5a3ee21f1a8fa56a523f1ff890e05342
  v1/docs/client-middleware.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  v1/docs/server-middleware.html
Due: none

deploy: 61237b3c35e0ba125e1f027fa59a0644f258a405
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 74e20d1d56e61f717ab2cd1ce306fd51b22676b4
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: f3d98781848d60b3c387d41e2fba58793185738f
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: b9ec1f14db4325ec2b141af198cf10e2bd59822c
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add `X-Forwarded-Host` header
  core/shared/src/main/scala/org/http4s/headers/X-Forwarded-Host.scala
  tests/shared/src/test/scala/org/http4s/parser/SimpleHeadersSpec.scala
Due: label core PRs

Add documenation for FlagQueryParamMatcher.
  docs/docs/dsl.md
Due: label docs PRs

deploy: 7057ea677755e56e2040bd35f17ff7477bf1af56
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

minimize(i7538): client hangs if endStream is signaled by trailers
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

fix(i7538): streaming response from non-http4s server hangs
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

chore: undo misc change
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

chore: better test naming for fix case
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

Tidy: organize imports
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

deploy: 937a80c50c8f7f6291b547f6b82f9118176568a3
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

tidy: client stream should start from idle state
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

deploy: 4c98058ab73aa23b11955a0754fb34901f3af595
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Change wording from "must be used" to "should be used"
  docs/docs/dsl.md
Due: label docs PRs

deploy: 0f44d58edc0411230f56bd036e36d9ca30a842fd
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: f1e4383ee46b5231e7b9745bfd695449924274ab
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: ddb09784cde542d61f6d032e2febbd8a83a146d2
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none
