Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Use Chunk builder instead of Buffer in ChunkWriter
  core/shared/src/main/scala/org/http4s/internal/ChunkWriter.scala
Due: label core PRs

Add ChunkWriterBench
  bench/src/main/scala/org/http4s/bench/ChunkWriterBench.scala
Due: none

Scalafmt
  bench/src/main/scala/org/http4s/bench/ChunkWriterBench.scala
  core/shared/src/main/scala/org/http4s/internal/ChunkWriter.scala
Due: label core PRs

Add one more test-case to ChunkWriterBench
  bench/src/main/scala/org/http4s/bench/ChunkWriterBench.scala
Due: none

Create header for ChunkWriterBench
  bench/src/main/scala/org/http4s/bench/ChunkWriterBench.scala
Due: none

Fix StackOverflowError initializing CommonRules
  core/shared/src/main/scala/org/http4s/headers/Server.scala
  core/shared/src/main/scala/org/http4s/headers/User-Agent.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/CommonRules.scala
Due: label core PRs

Fix compile
  core/shared/src/main/scala/org/http4s/headers/Server.scala
Due: label core PRs

deploy: 716824d5dfb6c996e0d6a0509a3eda420b556970
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 508552476de33ebf61d48c5b3b605b56acca9617
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 4f9f394f9ec652c6fa896702a0814ef0b40c353a
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Even less memory for Node.js
  build.sbt
Due: none

deploy: b992d8e61f264eaa81d515c8485a0708639278a8
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Use Chunk builder in CirceInstances#streamedJsonArray
  circe/src/main/scala/org/http4s/circe/CirceInstances.scala
Due: label circe PRs

deploy: 33017c4986c75e272535eb692843c9b08be76782
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Remove unecessary Deferred#complete from test
  ember-core/shared/src/test/scala/org/http4s/ember/core/h2/H2StreamSuite.scala
Due: label ember-core PRs

deploy: 6ffae3caedade2de214ad64c4278c3337ff757e3
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 1c9cf357e1664d32d6d533b83596949b28610708
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Utilize Entity model in client's Logger Middleware
  client/shared/src/main/scala/org/http4s/client/middleware/Logger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
  core/shared/src/main/scala/org/http4s/internal/Logger.scala
Due: label core PRs, label client PRs

deploy: 9aa24f9b811879cba32a2dfcd972b6ae203b2f52
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 5d2443e9c7a984890079a29b42da0cade8b1adcd
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Release v0.23.18
  docs/changelog.md
Due: label docs PRs

[ci skip] Add @janilcgarcia to the credits
  docs/changelog.md
Due: label docs PRs

[cl skip] Grammar fix
  docs/changelog.md
Due: label docs PRs

deploy: 1ecab639ae5cc1946659cbf8acd53ac5fac61c83
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Utilize Entity model in server's Logger Middleware
  server/shared/src/main/scala/org/http4s/server/middleware/Logger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs

deploy: f2516dd372a887324472827e1198cd5e9dcc5d36
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: 570d60d5176d12352511fa6dd606f3aba53028ad
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Fix connection hanging when response body stream fails
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

Explicitly assert that connection is closed promptly
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

Assert that server remains alive after
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

deploy: 25760333b70a16ddb42ae942ff33a79d741fd6e2
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

More experimentation
  bench/src/main/scala/org/http4s/bench/HttpVersionDecodeBench.scala
  bench/src/main/scala/org/http4s/bench/HttpVersionEncodeBench.scala
  core/jvm/src/main/scala/org/http4s/codec/Http1Codec.scala
  core/jvm/src/main/scala/org/http4s/codec/catsParserDecoder.scala
  core/jvm/src/main/scala/org/http4s/codec/rendererEncoder.scala
  core/shared/src/main/scala/org/http4s/util/Renderable.scala
Due: label core PRs

Special Case Error Handler For Unparsable Request Line
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Update Comment For HTTP2
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs

Minor Update To Comment
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs

Add Tests For Parse Failure On Start Line In Ember
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
Due: label ember-server PRs

Scalafmt
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
Due: label ember-server PRs

Don't drain the body for non-streamed entities in EmberClient#defaultOnError
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClient.scala
Due: label ember-client PRs

Fix Typo In ScalaDoc
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs

deploy: 3fc8d3bfcd1f2d6ebbe5c405aa035f11f04c2d86
  index.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  versions.html
Due: none
