Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Bye-bye scala-xml
  .github/workflows/ci.yml
  build.sbt
  project/Http4sPlugin.scala
  scala-xml/src/main/scala/scalaxml/ElemInstances.scala
  scala-xml/src/main/scala/scalaxml/package.scala
  scala-xml/src/test/scala/scalaxml/ScalaXmlSuite.scala
Due: none

Remove scala-xml-based example
  examples/blaze/src/main/scala/com/example/http4s/blaze/demo/server/Module.scala
  examples/blaze/src/main/scala/com/example/http4s/blaze/demo/server/endpoints/JsonXmlHttpEndpoint.scala
Due: none

Bye-bye boopickle
  build.sbt
  project/Http4sPlugin.scala
Due: none

Regenerate workflow
  .github/workflows/ci.yml
Due: none

Delete servlet and jetty-server srcs
  jetty-server/src/main/scala/org/http4s/jetty/server/JettyBuilder.scala
  jetty-server/src/main/scala/org/http4s/jetty/server/JettyLifeCycle.scala
  jetty-server/src/main/scala/org/http4s/jetty/server/JettyThreadPools.scala
  jetty-server/src/main/scala/org/http4s/jetty/server/LazyThreadPool.scala
  jetty-server/src/main/scala/org/http4s/jetty/server/UndestroyableThreadPool.scala
  jetty-server/src/test/scala/org/http4s/jetty/server/JettyServerSuite.scala
  servlet/src/main/resources/reference.conf
  servlet/src/main/scala-2.12/org/http4s/servlet/syntax/ServletContextOpsCompanionCompat.scala
  servlet/src/main/scala-2.13/org/http4s/servlet/syntax/ServletContextOpsCompanionCompat.scala
  servlet/src/main/scala-3/org/http4s/servlet/syntax/ServletContextOpsCompanionCompat.scala
  servlet/src/main/scala/org/http4s/servlet/AbstractAsyncListener.scala
  servlet/src/main/scala/org/http4s/servlet/AsyncHttp4sServlet.scala
  servlet/src/main/scala/org/http4s/servlet/BlockingHttp4sServlet.scala
  servlet/src/main/scala/org/http4s/servlet/DefaultFilter.scala
  servlet/src/main/scala/org/http4s/servlet/Http4sServlet.scala
  servlet/src/main/scala/org/http4s/servlet/ServletApiVersion.scala
  servlet/src/main/scala/org/http4s/servlet/ServletContainer.scala
  servlet/src/main/scala/org/http4s/servlet/ServletIo.scala
  servlet/src/main/scala/org/http4s/servlet/package.scala
  servlet/src/main/scala/org/http4s/servlet/syntax/ServletContextSyntax.scala
  servlet/src/main/scala/org/http4s/servlet/syntax/package.scala
  servlet/src/test/scala/org/http4s/servlet/AsyncHttp4sServletSuite.scala
  servlet/src/test/scala/org/http4s/servlet/BlockingHttp4sServletSuite.scala
  servlet/src/test/scala/org/http4s/servlet/Http4sServletRequestStub.scala
  servlet/src/test/scala/org/http4s/servlet/RouterInServletSuite.scala
  servlet/src/test/scala/org/http4s/servlet/ServletContainerSuite.scala
  servlet/src/test/scala/org/http4s/servlet/ServletIoSuite.scala
  servlet/src/test/scala/org/http4s/servlet/TestEclipseServer.scala
Due: label servlet PRs, label jetty-server PRs

deploy: adf0225a4f01a9cce3e4153c6b5de7b8f1d24a6f
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 34aff6c87c60d44a27a58930b917710da5c3716d
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Bye bye play-json
  .github/workflows/ci.yml
  build.sbt
  play-json/src/main/scala/org/http4s/play/Parser.scala
  play-json/src/main/scala/org/http4s/play/PlayEntityCodec.scala
  play-json/src/main/scala/org/http4s/play/PlayEntityDecoder.scala
  play-json/src/main/scala/org/http4s/play/PlayEntityEncoder.scala
  play-json/src/main/scala/org/http4s/play/PlayInstances.scala
  play-json/src/main/scala/org/http4s/play/package.scala
  play-json/src/test/scala/org/http4s/play/PlaySuite.scala
  project/Http4sPlugin.scala
  project/ScaladocApiMapping.scala
Due: label play-json PRs

Bye bye scalatags
  .github/workflows/ci.yml
  build.sbt
  project/Http4sPlugin.scala
  scalatags/src/main/scala/org/http4s/scalatags/ScalatagsInstances.scala
  scalatags/src/main/scala/org/http4s/scalatags/package.scala
  scalatags/src/test/scala/org/http4s/scalatags/ScalatagsSuite.scala
Due: label scalatags PRs

Bye-bye twirl
  .github/workflows/ci.yml
  build.sbt
  project/Http4sPlugin.scala
  twirl/src/main/scala/org/http4s/twirl/TwirlInstances.scala
  twirl/src/main/scala/org/http4s/twirl/package.scala
  twirl/src/test/scala/org/http4s/twirl/TwirlSuite.scala
  twirl/src/test/twirl/test.scala.html
  twirl/src/test/twirl/test.scala.js
  twirl/src/test/twirl/test.scala.txt
  twirl/src/test/twirl/test.scala.xml
Due: label twirl PRs

Bye-bye dropwizard, prometheus
  .github/workflows/ci.yml
  build.sbt
  docs/docs/client.md
  docs/docs/middleware.md
  dropwizard-metrics/src/main/scala/org/http4s/metrics/dropwizard/Dropwizard.scala
  dropwizard-metrics/src/main/scala/org/http4s/metrics/dropwizard/metrics.scala
  dropwizard-metrics/src/test/scala/org/http4s/metrics/dropwizard/DropwizardClientMetricsSuite.scala
  dropwizard-metrics/src/test/scala/org/http4s/metrics/dropwizard/DropwizardServerMetricsSuite.scala
  dropwizard-metrics/src/test/scala/org/http4s/metrics/dropwizard/util.scala
  project/Http4sPlugin.scala
  prometheus-metrics/src/main/scala/org/http4s/metrics/prometheus/Prometheus.scala
  prometheus-metrics/src/main/scala/org/http4s/metrics/prometheus/PrometheusExportService.scala
  prometheus-metrics/src/test/scala/org/http4s/metrics/prometheus/PrometheusClientMetricsSuite.scala
  prometheus-metrics/src/test/scala/org/http4s/metrics/prometheus/PrometheusServerMetricsSuite.scala
  prometheus-metrics/src/test/scala/org/http4s/metrics/prometheus/util.scala
Due: label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

[ci skip] actually delete boopickle srcs
  boopickle/src/main/scala/org/http4s/booPickle/implicits.scala
  boopickle/src/main/scala/org/http4s/booPickle/instances/AllInstances.scala
  boopickle/src/main/scala/org/http4s/booPickle/instances/BooPickleInstances.scala
  boopickle/src/main/scala/org/http4s/booPickle/instances/package.scala
  boopickle/src/test/scala/org/http4s/booPickle/BoopickleSuite.scala
Due: none

Only create scalafix job for 2.13
  .github/workflows/ci.yml
  build.sbt
Due: none

deploy: e1f81801148c9f2b0b9532d6c3069fd6c7270330
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Update log4cats-core, log4cats-noop, ... to 2.3.1 in series/0.23
  project/Http4sPlugin.scala
Due: none

deploy: 7437595504dd0900c21d0da5d6fedfe00a7f5c4b
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: fab4d97e23398a8e33d2643e140a3e8e913506bb
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Revert commit(s) 7b87722db3, 81ba38423c
  .github/workflows/ci.yml
  project/Http4sPlugin.scala
Due: none

Update scala3-library, ... to 3.1.2 in series/0.23
  project/Http4sPlugin.scala
Due: none

Regenerate workflow with sbt-github-actions
  .github/workflows/ci.yml
Due: none

deploy: 04fc57afef0ca42e2eb0dc8637aa2be3bbb735a2
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Update netty-buffer, netty-codec-http to 4.1.77.Final in series/0.23
  project/Http4sPlugin.scala
Due: none

Implement httpApp and httpRoutes shortcuts of the Throttle middleware
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
  server/shared/src/test/scala/org/http4s/server/middleware/ThrottleSuite.scala
Due: label server PRs

deploy: 3f075fb593f33c7d4d93878c454e032a72820335
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Run sbt quicklint
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
  server/shared/src/test/scala/org/http4s/server/middleware/ThrottleSuite.scala
Due: label server PRs

Trying to reproduce https://github.com/http4s/http4s/issues/6363
  tests/shared/src/test/resources/lipsum-symlink.txt
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Due: none

Implement httpApp and httpRoutes shortcuts of the Timeout middleware
  server/shared/src/main/scala/org/http4s/server/middleware/Timeout.scala
  server/shared/src/test/scala/org/http4s/server/middleware/TimeoutSuite.scala
Due: label server PRs

Add RetryCountKey, allowing middlewares access to retry count
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
Due: label client PRs

Remove unused import from Timeout middleware
  server/shared/src/main/scala/org/http4s/server/middleware/Timeout.scala
Due: label server PRs

quicklint
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
Due: label client PRs

deploy: 7ce44bca174e4e0a977adc12253f6b09e15499a8
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Remove MiMa filter
  build.sbt
Due: none

Docs for key
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
Due: label client PRs

Adjust key name
  client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala
Due: label client PRs

Reproduce https://github.com/http4s/http4s/issues/6363
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Due: none

followLinks when getting file attrs
  core/shared/src/main/scala/org/http4s/StaticFile.scala
Due: label core PRs

deploy: 34ce895e0174be900e923ac6c1636bbd2dcfd54c
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Magic isn't real
  tests/shared/src/test/scala/org/http4s/StaticFileSuite.scala
Due: none

deploy: b13d2c901b4cc69861ea8aff46681711dc754e6f
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: c60f204f60260fc09a564f9c61baa0d5ad55a30b
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none
