Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Scalafmt.
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Retire redundant Stream allocation and its materialization in ResponseLogger
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala
Due: label server PRs

Fix header of js-artifact-size-test/Main
  js-artifact-size-test/src/test/scala/Main.scala
Due: none

Set `startYear := Some(2022)` instead
  build.sbt
  js-artifact-size-test/src/test/scala/Main.scala
Due: none

deploy: 422a90eb5d6aed6f1693f817c2f82d854df3362f
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 56dfd10bdbf6bced3fc2cb1c9c56ca2eaee26e66
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Add max depth to comment parser
  core/src/main/scala/org/http4s/headers/User-Agent.scala
  core/src/main/scala/org/http4s/parser/HttpHeaderParser.scala
  core/src/main/scala/org/http4s/parser/Rfc2616BasicRules.scala
  core/src/main/scala/org/http4s/parser/SimpleHeaders.scala
Due: label core PRs

deploy: 3626bbfd75455fd73c553f3b32c6816d3425963a
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 47de6156640d64ef8c75689aada15b0b30ea9956
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Use Vault#contains to check for PriorKnowledge
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

deploy: be165394acbf649288e8d4d5ff5821878f0d13f0
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Use `Vault#contains` to check for Trailer headers
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

deploy: 46ae2940084bbc198ca3f14cbb06adca96260c4c
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Try limiting Node.js heap size to 1GB
  build.sbt
Due: none

deploy: e9fedf3e6fe32666a6d58ebde2d42261950f9572
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Update flake for aarch64-darwin support of scala-cli
  flake.lock
Due: none

Use jdk8 in default devshell
  flake.nix
Due: none

deploy: 850681bb103d9a9c760fb97120a9fe70814ed3f8
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 4bf37dbe0827e7346a87dd807b0bdaa7c278efbf
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

deploy: ee59a2febcff6884503b4ea994b8becc108056d0
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 4f0f0d6f918655283b0d1f5c6d2495283a729520
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: e5e322e397e2de9a350d7055d5ce9b53ea370245
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 381f497360041abccd7ca6a5de046ecb92d64fe8
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Release notes for v0.21.34
  website/src/hugo/content/changelog.md
Due: label docs PRs

Release notes for v0.22.15
  docs/changelog.md
Due: label docs PRs

Run scalafix to correct import separation
  core/src/main/scala/org/http4s/headers/Server.scala
Due: label core PRs

deploy: f446326196b833e08da6ebb5cf0938ad65819cca
  v0.22/docs/auth.html
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/deployment.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/error-handling.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/integrations.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/quickstart.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/streaming.html
  v0.22/docs/testing.html
  v0.22/docs/upgrading.html
  v0.22/docs/uri.html
Due: none

Release notes for v0.23.17
  docs/changelog.md
Due: label docs PRs

deploy: 23fbf5684c88aa0719b0165b79f1fda97ce2394e
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Update deprecation versions
  core/shared/src/main/scala/org/http4s/ProductIdOrComment.scala
  core/shared/src/main/scala/org/http4s/headers/Server.scala
  core/shared/src/main/scala/org/http4s/headers/User-Agent.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/CommonRules.scala
Due: label core PRs

deploy: aa9153bbd5538d5fe7c230c45c044b709585a68a
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Drain rejected request in `MaxActiveRequests` middleware
  server/shared/src/main/scala/org/http4s/server/middleware/MaxActiveRequests.scala
Due: label server PRs

Drain in duplicate impl too...
  server/shared/src/main/scala/org/http4s/server/middleware/MaxActiveRequests.scala
Due: label server PRs

deploy: 17c0c997f5adabadd585f806e6ad4710a78588a3
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: c89ebc2d844c5c93dcc1307e5b9361a2c38bfd00
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Remove nonValidatingCopyConstructor linter
  core/shared/src/main/scala/org/http4s/Charset.scala
  core/shared/src/main/scala/org/http4s/HttpVersion.scala
  core/shared/src/main/scala/org/http4s/Uri.scala
  core/shared/src/main/scala/org/http4s/headers/Access-Control-Max-Age.scala
  core/shared/src/main/scala/org/http4s/headers/Age.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Type.scala
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Version.scala
  core/shared/src/main/scala/org/http4s/internal/CharPredicate.scala
  scalafix-internal/input/src/main/scala/fix/GeneralLintersTest.scala
  scalafix-internal/rules/src/main/scala-2/fix/GeneralLinters.scala
Due: label core PRs

Fix GeneralLintersTest
  scalafix-internal/output/src/main/scala/fix/GeneralLintersTest.scala
Due: none

deploy: 54bec9943212a51970973ff145106bfcf7881a1e
  index.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  versions.html
Due: none

Free invariant HTTP codecs
  build.sbt
  core/jvm/src/main/scala/org/http4s/codec/Http1Codec.scala
  core/jvm/src/main/scala/org/http4s/codec/catsParserDecoder.scala
  core/jvm/src/main/scala/org/http4s/codec/package.scala
  core/jvm/src/main/scala/org/http4s/codec/rendererEncoder.scala
  core/shared/src/main/scala/org/http4s/HttpVersion.scala
  core/shared/src/main/scala/org/http4s/util/Renderable.scala
  project/Http4sPlugin.scala
Due: label core PRs

deploy: 3e73b2fd9d24d4ba01e96c0db04bbb9965afc272
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none
