Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

revert the change in makeSHASig
  client/shared/src/main/scala/org/http4s/client/oauth1/oauth1.scala
Due: label client PRs

add no warn
  client/shared/src/main/scala/org/http4s/client/oauth1/oauth1.scala
Due: label client PRs

bring back to cover backward compatibility
  client/shared/src/main/scala/org/http4s/client/oauth1/SignatureAlgorithm.scala
Due: label client PRs

add filter for new method
  build.sbt
Due: none

move filter for new method
  build.sbt
Due: none

revert imports to scala 2
  client/shared/src/main/scala/org/http4s/client/oauth1/SignatureAlgorithm.scala
  client/shared/src/main/scala/org/http4s/client/oauth1/oauth1.scala
Due: label client PRs

deploy: c7d3f414cda0f970f7979825d9d148456132a739
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client-middleware.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/multipart.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

Draft the v1.0.0-M42 release notes
  docs/changelog.md
Due: label docs PRs

Fix compilation against Scala 3
  client/shared/src/test/scala/org/http4s/client/middleware/CookieJarSuite.scala
  core/shared/src/main/scala/org/http4s/EntityTag.scala
  core/shared/src/main/scala/org/http4s/headers/Forwarded.scala
  core/shared/src/main/scala/org/http4s/headers/Link.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/WebSocketHelpers.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
Due: label core PRs, label server PRs, label client PRs, label ember-server PRs, label ember-client PRs

convert to pattern matching
  core/shared/src/main/scala/org/http4s/ServerSentEvent.scala
Due: label core PRs

deploy: 85e1831e4dec87bf7ca175579cd51662d01ad2e3
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

[skip ci] Adjust the publication day
  docs/changelog.md
Due: label docs PRs

deploy: 65f946540ef9ae02691a022d05df9bd118968c1d
  changelog.html
  v1/docs/client-middleware.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
  v1/docs/server-middleware.html
Due: none

deploy: 65f946540ef9ae02691a022d05df9bd118968c1d
  adopters.html
  api/index.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client-middleware.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/multipart.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

Resolve the com.lihaoyi.geny dependency conflict
  project/plugins.sbt
Due: none

deploy: cf764ff26f9910039daf39323db14bbfd46a06b7
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

deploy: 410f8efbf8372c3801a89c4619e7f14137d3f664
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 4297bb39ef768465d1c96b0f11fde12aa03a4979
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 64a7a1ba84943f82674bdb1bda30a338bab636c3
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

MetricsOps: provide enough request details to fill out all the necessary attributes
  build.sbt
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label core PRs, label server PRs, label client PRs

MetricsOps: use `PreludeRequest` and `PreludeResponse`
  build.sbt
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  client/shared/src/test/scala/org/http4s/client/middleware/MetricsSuite.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
  docs/docs/server-middleware.md
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
  server/shared/src/test/scala/org/http4s/server/middleware/MetricsSuite.scala
Due: label core PRs, label server PRs, label client PRs, label docs PRs

Merge upstream, resolve conflicts
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  core/shared/src/main/scala/org/http4s/metrics/CustomMetricsOps.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label core PRs, label server PRs, label client PRs

test for uri with org variable
  tests/shared/src/test/scala/org/http4s/LiteralSyntaxMacrosSuite.scala
Due: none

same fix as #741
  core/shared/src/main/scala-2/org/http4s/LiteralSyntaxMacros.scala
Due: label core PRs

test that implicit val org is also fixed
  tests/shared/src/test/scala/org/http4s/LiteralSyntaxMacrosSuite.scala
Due: none

nowarn on the unused implicit
  tests/shared/src/test/scala/org/http4s/LiteralSyntaxMacrosSuite.scala
Due: none

assert against Uri.fromString
  tests/shared/src/test/scala/org/http4s/LiteralSyntaxMacrosSuite.scala
Due: none

Update Scala 2.12 to 2.12.20
  project/Http4sPlugin.scala
Due: none

Update Scala 2.13 to 2.13.15
  project/Http4sPlugin.scala
Due: none

Fix inference of 'Any' in Rfc3986
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc3986.scala
Due: label core PRs

Adjust UseLiteralsSyntax to address changes in Scalameta v4.10.0
  scalafix-internal/rules/src/main/scala-2/fix/UseLiteralsSyntax.scala
Due: none

Update sbt-scoverage to 2.2.1
  project/plugins.sbt
Due: none

deploy: 69f987103af66f36b792f6c03352325edf5bd301
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: 688221735e5cda8120e3a4326653265e0c8f6d1e
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: f19dcb285e28a05b18e2f5f1da7047abc411fdf4
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/multipart.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Ignore http4s-scalafix-internal updates
  .scala-steward.conf
Due: none

deploy: 33dab517cd2dd6d738c0f017d99044cb422982c0
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 62c825d10b34387b6b792b9ddd8d1567e297a709
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
