Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Take into account the Entity model in H2Server
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Prefer `*>`
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

More elegant Stream to ByteVector compiling
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

deploy: b164566faaca8616a2ccc4a45ee3d98ba93ba3a9
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 86f4407a14d33f32e1b3ba1be74d757ae397841e
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Entity Decoding: remove EitherT.
  bench/src/main/scala/org/http4s/bench/CirceJsonBench.scala
  circe/src/main/scala/org/http4s/circe/CirceInstances.scala
  circe/src/test/scala/org/http4s/circe/CirceSensitiveDataEntityDecoderSpec.scala
  circe/src/test/scala/org/http4s/circe/CirceSuite.scala
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
  client/shared/src/main/scala/org/http4s/client/dsl/Http4sClientDsl.scala
  client/shared/src/test/scala/org/http4s/client/ClientSyntaxSuite.scala
  core/shared/src/main/scala/org/http4s/DecodeResult.scala
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
  core/shared/src/main/scala/org/http4s/FormDataDecoder.scala
  core/shared/src/main/scala/org/http4s/Media.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/UrlForm.scala
  core/shared/src/main/scala/org/http4s/multipart/MultipartDecoder.scala
  core/shared/src/main/scala/org/http4s/package.scala
  docs/docs/client.md
  docs/docs/entity.md
  jawn/src/main/scala/org/http4s/jawn/JawnInstances.scala
  jawn/src/test/scala/org/http4s/jawn/JawnDecodeSupportSuite.scala
  laws/src/main/scala/org/http4s/laws/EntityCodecLaws.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  server/shared/src/main/scala/org/http4s/server/middleware/CSRF.scala
  server/shared/src/main/scala/org/http4s/server/middleware/HttpMethodOverrider.scala
  server/shared/src/main/scala/org/http4s/server/middleware/UrlFormLifter.scala
  tests/shared/src/test/scala/org/http4s/EntityDecoderSuite.scala
  tests/shared/src/test/scala/org/http4s/UrlFormSpec.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Due: label core PRs, label laws PRs, label server PRs, label client PRs, label jawn PRs, label circe PRs, label docs PRs

More comprehensive support of Entity model in Jsonp Middleware
  server/shared/src/main/scala/org/http4s/server/middleware/Jsonp.scala
Due: label server PRs

deploy: 91adfbc3f998085b22f8b45354d8d56c3d14099e
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: c4896085b0cccb9b75ae55820929af2b2aade1fc
  changelog.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Release v1.0.0-M39
  docs/changelog.md
Due: label docs PRs

deploy: 250f89753aa330982a199888aadba831cf5b917c
  changelog.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Allow specifying per-request tags in Metrics middleware
  client/shared/src/main/scala/org/http4s/client/middleware/Metrics.scala
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Metrics.scala
Due: label core PRs, label server PRs, label client PRs

Remove unnecessaru uncancelable
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Renaming and limiting public API
  ember-core/shared/src/main/scala/org/http4s/ember/core/Util.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/Shutdown.scala
Due: label ember-core PRs, label ember-server PRs

Phase out the client DSL in the docs
  docs/docs/client.md
  docs/docs/dsl.md
  docs/docs/json.md
Due: label docs PRs

Add import
  docs/docs/client.md
Due: label docs PRs

Add IO type to Request
  docs/docs/dsl.md
  docs/docs/json.md
Due: label docs PRs

Remove remaining dsl use
  docs/docs/json.md
Due: label docs PRs

deploy: 5cf8675b97b8b92f8f727c1b4198b314980ee5dd
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 506fa1cfea26b36ccdc9314ee4f0697303e361ff
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Refactor Outcome usage in BracketRequestResponseSuite
  server/shared/src/test/scala/org/http4s/server/middleware/BracketRequestResponseSuite.scala
Due: label server PRs

deploy: 5a5558aeb53f26ae011055708335cb220590aa31
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 32ca0ddc4f2b3880bf1914b901fd2613cc401ed1
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Fix broken merge
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Ignore sbt-jmh updates on main [ci skip]
  .scala-steward.conf
Due: none

deploy: 71477556de26849ca59c9f3f39d2d1300cf7997c
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 4ee392ff78a0196a9be91bc912150743df53f8a9
  adopters.html
  api/index.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

Break line
  docs/docs/client.md
  docs/docs/dsl.md
Due: label docs PRs

Document ErrorAction middleware
  docs/docs/error-handling.md
Due: label docs PRs

deploy: f5948f7b11c17bc6aef34b8e56e1c594edf32551
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Fix misleading EntityBody mentions in some scaladocs
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

deploy: 55e0c79dc82350404a1b6ec778ede7e75219c17c
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

deploy: 0e253e30bf983545cb0ebdd6407495b629f4ed1e
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Take account of Entity model in BracketRequestResponse Middleware
  server/shared/src/main/scala/org/http4s/server/middleware/BracketRequestResponse.scala
Due: label server PRs

Enhance BracketRequestResponse tests
  server/shared/src/test/scala/org/http4s/server/middleware/BracketRequestResponseSuite.scala
Due: label server PRs

Scalafix
  server/shared/src/test/scala/org/http4s/server/middleware/BracketRequestResponseSuite.scala
Due: label server PRs

Add test suite for Jsonp middleware
  server/shared/src/test/scala/org/http4s/server/middleware/JsonpSuite.scala
Due: label server PRs

Simplify Jsonp validation regex
  server/shared/src/main/scala/org/http4s/server/middleware/Jsonp.scala
Due: label server PRs

Complicate the Jsonp regex
  server/shared/src/main/scala/org/http4s/server/middleware/Jsonp.scala
  server/shared/src/test/scala/org/http4s/server/middleware/JsonpSuite.scala
Due: label server PRs

munitIgnore isNative not not isNative
  server/shared/src/test/scala/org/http4s/server/middleware/JsonpSuite.scala
Due: label server PRs
