Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

deploy: 3a33932d8ab7d8f233b3ee5abe9286c3fac9515c
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Use Strict entities where possible
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientSimpleExample.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/MemoryCache.scala
  tests/shared/src/test/scala/org/http4s/EntityDecoderSuite.scala
Due: label server PRs

Scalafmt
  build.sbt
Due: none

deploy: a614b50f5a4b815b20cfa9b7b5bd7b0750ed565c
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

deploy: 649f06ab1d80d986de0c84cb071e80942592d0ae
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 81822498610cac7a6c299aa68dc3575b9de14221
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

Clean up RequestId
  server/shared/src/main/scala/org/http4s/server/middleware/RequestId.scala
Due: label server PRs

deploy: d7896e5835b60c2a54c31482434d059015121f05
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Apply nowarn annotation to the Throttle#defaultResponse argument
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
Due: label server PRs

Clarify connection lifecycle
  client/src/main/scala/org/http4s/client/Client.scala
Due: label client PRs

deploy: 577888cc007403d870c976f08de75f46f42356bc
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

More dispose -> release
  client/src/main/scala/org/http4s/client/Client.scala
Due: label client PRs

deploy: 3597cad9aa8a36084df23c896855e008e83781f5
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Update okio to 3.1.0 in main
  project/Http4sPlugin.scala
Due: none

deploy: b3220ab944042a6729ecdcbbd2b8a034250e98f5
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Ignore okio updates
  .scala-steward.conf
Due: none

deploy: 8ca3a03ff38f0fd24be812914f4509969ab31fd6
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Add timeout and max bytes handling to Message#toStrict
  core/shared/src/main/scala/org/http4s/Message.scala
  server/shared/src/main/scala/org/http4s/server/middleware/BodyCache.scala
Due: label core PRs, label server PRs

Enhance the Message#toStrict scaladoc
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Scalafix
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Add support for strict entities, look for content-length only once
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-core PRs, label ember-server PRs

Update scalafmt-core to 3.5.2 in series/0.22
  .scalafmt.conf
Due: none

deploy: 4ec239743a4b0c34692611b469f906b243226276
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Take into account the Entity model in the Response Logger
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
Due: label client PRs

Tweak ResponseLogger#impl
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
Due: label client PRs

Take into account the Entity model in the EntityLimiter
  server/shared/src/main/scala/org/http4s/server/middleware/EntityLimiter.scala
  server/shared/src/test/scala/org/http4s/server/middleware/EntityLimiterSuite.scala
Due: label server PRs

Scalafix
  server/shared/src/main/scala/org/http4s/server/middleware/EntityLimiter.scala
Due: label server PRs

Update fs2-core, fs2-io, ... to 2.5.11 in series/0.22
  project/Http4sPlugin.scala
Due: none

Address the entity model in the server's RequestLogger
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
Due: label server PRs

deploy: 9ca373147fedf9486d42290bdceb976bc3096f42
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Address the entity model in the DefaultHead
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
Due: label server PRs

Address the entity model in the Client#fromHttpApp
  client/shared/src/main/scala/org/http4s/client/Client.scala
Due: label client PRs

deploy: 7dedaa959b51014ffe564a405d8d2462d2f98794
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

deploy: 27e83aaee4fb772309587b004cea92b410030e02
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Update scodec-bits to 1.1.31 in main
  project/Http4sPlugin.scala
Due: none

Update scodec-bits to 1.1.31 in series/0.22
  project/Http4sPlugin.scala
Due: none

Update scodec-bits to 1.1.31 in series/0.23
  project/Http4sPlugin.scala
Due: none

Roll back the #6254
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
Due: label blaze-client PRs

Remove update ignorings in Scala Steward conf
  .scala-steward.conf
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
