Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

deploy: 41e4a84ad5c3e31c261c543d6f9b84c8405fa478
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 273ed7a356fa43943791403a4775a9d4b0395a18
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: f2043260388241d1e69561d847c72477b965943f
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Fix deprecated API bug
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketHelpers.scala
Due: label ember-client PRs

Fix formatting
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketHelpers.scala
Due: label ember-client PRs

Fix pattern matching
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/WebSocketHelpers.scala
Due: label ember-client PRs

Fix pattern matching
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerWebSocketSuite.scala
Due: label ember-server PRs

Fix pattern matching
  ember-server/shared/src/test/scala/org/http4s/ember/server/internal/EmberClientWebSocketSuite.scala
Due: label ember-server PRs

Improve cookie middleware example
  docs/docs/client-middleware.md
Due: label docs PRs

Improve gzip middleware example
  docs/docs/client-middleware.md
Due: label docs PRs

Improve retry middleware example
  docs/docs/client-middleware.md
Due: label docs PRs

Client middleware docs: formatting, typos, address feedback
  docs/docs/client-middleware.md
Due: label docs PRs

Move Logger section up, clean up copy and formatting
  docs/docs/client-middleware.md
Due: label docs PRs

deploy: 778f3d0cd976d467ef0b75ab55f874c81767ae5e
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

#7256 Attempt to reproduce
  tests/shared/src/test/scala/org/http4s/DecodeSpec.scala
Due: none

The redundant check
  tests/shared/src/test/scala/org/http4s/DecodeSpec.scala
Due: none

JS & Native failure reason
  tests/shared/src/test/scala/org/http4s/DecodeSpec.scala
Due: none

Trim BOM
  tests/shared/src/test/scala/org/http4s/DecodeSpec.scala
Due: none

Format
  tests/shared/src/test/scala/org/http4s/DecodeSpec.scala
Due: none

Test with generators
  tests/shared/src/test/scala/org/http4s/DecodeSpec.scala
Due: none

Test generalization
  tests/shared/src/test/scala/org/http4s/DecodeSpec.scala
Due: none

Better generator usage
  tests/shared/src/test/scala/org/http4s/DecodeSpec.scala
Due: none

Drop commented code
  tests/shared/src/test/scala/org/http4s/DecodeSpec.scala
Due: none

Bump the sbt-http4s-org to 0.16.0
  project/plugins.sbt
Due: none

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

deploy: 6958b06d9847f8a4b45ae741ca77987924e1ef75
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Restore API link on landing page
  project/Http4sSitePlugin.scala
Due: none

deploy: 68df0846bec59b3873a7e8cbf31c6bb80534e7d1
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  helium/site/icofont.min.css
  helium/site/laika-helium.css
  helium/site/laika-helium.js
  helium/site/laika-versions.js
  helium/site/landing-page.css
  images/http4s-logo-text-dark.svg
  images/http4s-logo-text-light.svg
  index.html
  laika/versionInfo.json
  v1/docs/auth.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/server-middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

deploy: 0af4485fb7571a2fb0f95a08ceb75509ae918c4e
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: e9db412a5a9abc0f5d7da5518746ae1a23f7c101
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: a6c679f9c49905ca7eb0e62101d4fbfcb86ea383
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 1bad06aa869f0745ed811cbe0d455709773b8854
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Minor improvements to client middleware docs
  docs/docs/client-middleware.md
Due: label docs PRs

deploy: bf02099d5342e9d9cc6f465d4f2907701febbab3
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add PathVar map, emap
  dsl/src/main/scala/org/http4s/dsl/Http4sDsl.scala
  dsl/src/main/scala/org/http4s/dsl/RequestDsl.scala
  dsl/src/main/scala/org/http4s/dsl/impl/Path.scala
  dsl/src/main/scala/org/http4s/dsl/request.scala
  dsl/src/test/scala/org/http4s/dsl/PathSuite.scala
Due: label dsl PRs

Formatting
  dsl/src/main/scala/org/http4s/dsl/impl/Path.scala
Due: label dsl PRs

deploy: 72027a06a849bf2272618f61a7d95554e44affc3
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Update dsl/src/main/scala/org/http4s/dsl/RequestDsl.scala
  dsl/src/main/scala/org/http4s/dsl/RequestDsl.scala
Due: label dsl PRs

Update request cookie parser to handle 1 or more spaces between semicolons.
  core/shared/src/main/scala/org/http4s/headers/Cookie.scala
  tests/shared/src/test/scala/org/http4s/parser/CookieHeaderSuite.scala
Due: label core PRs
