Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Add a few more `Network` constraints
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientH2Example.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberServerH2Example.scala
Due: label ember-core PRs

Fix base64 parser
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Accept.scala
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Key.scala
Due: label core PRs

Fix code formatting
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Accept.scala
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Key.scala
Due: label core PRs

Bump to RC4, apply fixes
  client/shared/src/main/scala/org/http4s/client/middleware/GZip.scala
  project/Http4sPlugin.scala
Due: label client PRs

Fix Scala 3 bincompat
  server/shared/src/main/scala/org/http4s/server/staticcontent/FileService.scala
Due: label server PRs

deploy: 4510ceb62b9cc1293db151030df3f623e8f63dba
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Refactor unix socket suite
  ember-server/js-jvm/src/test/scala/org/http4s/ember/server/EmberUnixSocketSuite.scala
Due: label ember-server PRs

Organize imports
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
Due: label ember-core PRs

MiMa filter
  build.sbt
Due: none

deploy: 1bd6a2ac27a07edd89a3bfd01689eb841ecf9d5a
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: a2da72441aae9b16dffd6058cd21a1261d1bf30a
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Change to case class
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Accept.scala
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Key.scala
Due: label core PRs

Add tests for websocket related headers
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/SecWebSocketAcceptSuite.scala
  tests/shared/src/test/scala/org/http4s/headers/SecWebSocketKeySuite.scala
Due: label laws PRs

Add file headers
  tests/shared/src/test/scala/org/http4s/headers/SecWebSocketAcceptSuite.scala
  tests/shared/src/test/scala/org/http4s/headers/SecWebSocketKeySuite.scala
Due: none

Add tests
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
Due: label laws PRs

Fix import order
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
Due: label laws PRs

Rm unusedCompileDependenciesTest workaround for Scala Native
  build.sbt
Due: none

deploy: 46f2c4780b405c316fa30fce7a476cb0c682d316
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: f6a0c7f7f892ec26f82766584b09f1a01c429a34
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 96428ee587edbd343226153faff8df871c93e12a
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Reuse identical parser
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Accept.scala
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Key.scala
  core/shared/src/main/scala/org/http4s/internal/parsing/Rfc4648.scala
Due: label core PRs

Change hashBytes to hashedKey
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Accept.scala
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Key.scala
Due: label core PRs

fix broken link
  docs/docs/integrations.md
Due: label docs PRs

deploy: a916cc08d07174dcdd2ee4737654182f6fa379b7
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Apply suggestions from code review
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Accept.scala
  core/shared/src/main/scala/org/http4s/headers/Sec-WebSocket-Key.scala
Due: label core PRs

Ignore crossproject updates on main [ci skip]
  .scala-steward.conf
Due: none

deploy: 2d871bb21499feead2908d1e9f73a4cf07399d88
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 37342b6527f7171db3adba7abeabb8775de360ae
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

deploy: a99b0f755b037240102ba66e6b5b2023063dec0e
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Ignore sbt-revolver updates on main [ci skip]
  .scala-steward.conf
Due: none

deploy: d5b18ce3c90b7fa82d0cd2f46baca621c36c9f72
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 5233b7ba7e4d83a6adf979b8a1b4e59e08a55383
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

deploy: a5397890192c2088c4551058bb14c8be6897bf04
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

add WSTestClient builder from HttpApp
  build.sbt
  client-testkit/shared/src/main/scala/org/http4s/client/testkit/WSTestClient.scala
  client-testkit/shared/src/test/scala/org/http4s/client/testkit/WSTestClientSuite.scala
  core/shared/src/main/scala/org/http4s/websocket/WebSocketContext.scala
  core/shared/src/main/scala/org/http4s/websocket/WebSocketFrame.scala
Due: label core PRs

Add application/graphql media type
  core/shared/src/main/scala/org/http4s/MediaType.scala
Due: label core PRs

mark as compressible
  core/shared/src/main/scala/org/http4s/MediaType.scala
Due: label core PRs

Update core/shared/src/main/scala/org/http4s/MediaType.scala
  core/shared/src/main/scala/org/http4s/MediaType.scala
Due: label core PRs

deploy: bc3241cab8123e00723bef66b20c86a08b6e8e7e
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: dfd6ed7bb66f215b4da41101fc4c7bf224a6623d
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 43efe6d466d9774d66806fc687895cc8e2845bb8
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
