Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

Smite Seq in ChunkAggregatorSuite
  server/shared/src/test/scala/org/http4s/server/middleware/ChunkAggregatorSuite.scala
Due: label server PRs

Smite Seq in UrlFormSpec
  tests/shared/src/test/scala/org/http4s/UrlFormSpec.scala
Due: none

Smite Seq in AcceptHeaderSpec
  tests/shared/src/test/scala/org/http4s/parser/AcceptHeaderSpec.scala
Due: none

Smite Seq in SimpleHeadersSpec
  tests/shared/src/test/scala/org/http4s/parser/SimpleHeadersSpec.scala
Due: none

Smite Seq in FileServiceSuite
  server/shared/src/test/scala/org/http4s/server/staticcontent/FileServiceSuite.scala
Due: label server PRs

Smite Seq in OAuthSuite
  client/shared/src/main/scala/org/http4s/client/oauth1/oauth1.scala
  client/shared/src/test/scala/org/http4s/client/oauth1/OAuthSuite.scala
Due: label client PRs

Smite Seq in UriSpec
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Due: none

Smite Seq in RangeParserSuite
  tests/shared/src/test/scala/org/http4s/parser/RangeParserSuite.scala
Due: none

Smite Seq in UriParserSuite
  tests/shared/src/test/scala/org/http4s/parser/UriParserSuite.scala
Due: none

Remove CollectionCompat
  core/shared/src/main/scala-3/org/http4s/internal/CollectionCompat.scala
Due: label core PRs

deploy: 9e02588723a34ef7eb74519514629e7480a79163
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

deploy: 46ff119c926882223e0a707a09b26d455b0b2ebe
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Fix test, I think
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
Due: none

deploy: ad89486c9a53f5b2f5a15a103b8a539ff3897403
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Don't use Stream in JSON client example
  docs/docs/json.md
Due: label docs PRs

deploy: a823232978df3d1eb053a24a99226fd3e62e29af
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: e480015c66ffef6b38dad6c263184ba0677dc101
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Release v1.0.0-M34
  docs/changelog.md
Due: label docs PRs

deploy: bc2f3d5e075ad289c68ac583a75df3f7c8ff19f4
  changelog.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

deploy: 8a97d89e13db1c752ff1b479dfc844764a90bcc9
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Remove redundant collection converting in Query#multiParams
  core/shared/src/main/scala/org/http4s/Query.scala
Due: label core PRs

Fix scaladoc
  core/shared/src/main/scala/org/http4s/Query.scala
Due: label core PRs

Fix scaladoc actually
  core/shared/src/main/scala/org/http4s/Query.scala
Due: label core PRs

deploy: 6b74773babb2b4ae31aeb3c09056acb9326ab762
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

Ember-Core: reimplement "combineArrays"
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
Due: label ember-core PRs

deploy: 569a50ccf16696351e0469724fb86586b7868b5d
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 033999162d0d6ebf724125c8565bbad4dae911a8
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Smite Seq in Message#multiParams, Uri#multiParams, Query#multiParams
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/Query.scala
  core/shared/src/main/scala/org/http4s/Uri.scala
  tests/shared/src/test/scala/org/http4s/UriSpec.scala
  tests/shared/src/test/scala/org/http4s/parser/UriParserSuite.scala
Due: label core PRs

Move `Network` constraint to ember-server builder
  ember-server/shared/src/main/scala/org/http4s/ember/server/EmberServerBuilder.scala
Due: label ember-server PRs

Move `Network` constraint to ember-client builder
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
Due: label ember-client PRs

deploy: 315cfa65377ca26c6d67dd7a6c0b4417ebb94d9d
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Finish switching to ByteVector for strict entities
  client/shared/src/test/scala/org/http4s/client/middleware/RetrySuite.scala
  core/shared/src/main/scala/org/http4s/EntityEncoder.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/multipart/Part.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  examples/ember/src/main/scala/com/example/http4s/ember/EmberClientSimpleExample.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/MemoryCache.scala
  server/shared/src/test/scala/org/http4s/server/middleware/EntityLimiterSuite.scala
  tests/shared/src/test/scala/org/http4s/EntityDecoderSuite.scala
  tests/shared/src/test/scala/org/http4s/EntityEncoderSpec.scala
  tests/shared/src/test/scala/org/http4s/MessageSuite.scala
Due: label core PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs

deploy: 526dfd65097f6c80495486dd0ce371c68def95e4
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: f641a937b6cec2448b7956f36477312126291ddb
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

[ci skip] Update to update-flake-lock v10
  .github/workflows/update-flake.yml
Due: none

deploy: 14a100ab4d7faee290a9d27f43231f3cd8ae355b
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: e032c53d7f2c5e5eb8c96216153e9032f787e8b5
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Digest Auth client middleware #3588
  client/src/main/scala/org/http4s/client/digest/NonceCounter.scala
  client/src/main/scala/org/http4s/client/digest/SimpleInMemoryStoreNonceCounter.scala
  client/src/test/scala/org/http4s/client/digest/SimpleInMemoryStoreNonceCounterSpec.scala
  client/src/test/scala/org/http4s/client/middleware/DigestClientSpec.scala
Due: label client PRs

Implement Digest Auth client middleware
  client/shared/src/main/scala/org/http4s/client/digest/NonceCounter.scala
  client/shared/src/main/scala/org/http4s/client/digest/SimpleInMemoryStoreNonceCounter.scala
  client/shared/src/main/scala/org/http4s/client/middleware/DigestClient.scala
  client/shared/src/test/scala/org/http4s/client/digest/SimpleInMemoryStoreNonceCounterSpec.scala
  client/shared/src/test/scala/org/http4s/client/middleware/DigestClientSpec.scala
  client/src/main/scala/org/http4s/client/digest/NonceCounter.scala
  client/src/main/scala/org/http4s/client/digest/SimpleInMemoryStoreNonceCounter.scala
  client/src/test/scala/org/http4s/client/digest/SimpleInMemoryStoreNonceCounterSpec.scala
  client/src/test/scala/org/http4s/client/middleware/DigestClientSpec.scala
  core/shared/src/main/scala/org/http4s/internal/DigestUtil.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/shared/src/test/scala/org/http4s/server/middleware/authentication/AuthenticationSuite.scala
Due: label core PRs, label server PRs, label client PRs

byteVectorEncoder is pure
  core/shared/src/main/scala/org/http4s/EntityEncoder.scala
Due: label core PRs

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
