Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

deploy: 6fbe6b215251adb62b380030c430cbe3fe919f25
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Throttle Server middleware:
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
Due: label server PRs

deploy: 816c618035972dee456a46e867a4f373b9a529e2
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Try publishing internal scalafixes
  .github/workflows/ci.yml
  build.sbt
Due: none

Update Java-WebSocket to 1.5.3 in main
  project/Http4sPlugin.scala
Due: none

Update Java-WebSocket to 1.5.3 in series/0.22
  project/Http4sPlugin.scala
Due: none

Update discipline-core to 1.5.0 in series/0.22
  project/Http4sPlugin.scala
Due: none

Update Java-WebSocket to 1.5.3 in series/0.23
  project/Http4sPlugin.scala
Due: none

Update discipline-core to 1.5.0 in series/0.23
  project/Http4sPlugin.scala
Due: none

Disable MiMa for scalafix-internal
  build.sbt
Due: none

Update discipline-core to 1.5.0 in main
  project/Http4sPlugin.scala
Due: none

Disable snapshots of this branch
  .github/workflows/ci.yml
  build.sbt
Due: none

Ignore java-websocket updates
  .scala-steward.conf
Due: none

deploy: 315a7fdf008d6cb0f047ea0188003b8ba63074ee
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

deploy: ef6c5bf3e1e4d8f5cb508e738dfa6dbe6a5d197c
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Scalafix
  core/shared/src/main/scala/org/http4s/Message.scala
  server/shared/src/main/scala/org/http4s/server/middleware/BodyCache.scala
Due: label core PRs, label server PRs

Scalafmt
  examples/blaze/src/main/scala/com/example/http4s/blaze/ClientMultipartPostExample.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Due: none

Fix deprecated since versions
  core/shared/src/main/scala/org/http4s/multipart/Boundary.scala
  core/shared/src/main/scala/org/http4s/multipart/Multipart.scala
  server/shared/src/main/scala/org/http4s/server/middleware/PushSupport.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeper.scala
Due: label core PRs, label server PRs

Use Multiparts in the ClientRouteTestBattery
  client/shared/src/test/scala/org/http4s/client/ClientRouteTestBattery.scala
Due: label client PRs

Scalafmt
  client/shared/src/test/scala/org/http4s/client/ClientRouteTestBattery.scala
Due: label client PRs

Fix ExampleService
  examples/src/main/scala/com/example/http4s/ExampleService.scala
Due: none

Fix deprecated since versions
  core/src/main/scala/org/http4s/multipart/Boundary.scala
  core/src/main/scala/org/http4s/multipart/Multipart.scala
Due: label core PRs

Refer to the 'series/0.23' branch at the build status badge
  README.md
Due: none

Refer to the '0.23' in the maven central badge
  README.md
Due: none

deploy: 5822b5c9d7e306631d406a9418043ad37fb03dcd
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

deploy: 8091b9a7447bbefd8e681a2ec32b93f0a987994f
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 756c8940ca0161e940b691adc5ea59060d444417
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Server - DigestAuth Middleware
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala
Due: label server PRs

Kleisli Response Ops: add an "orElse" method.
  core/shared/src/main/scala/org/http4s/syntax/KleisliSyntax.scala
Due: label core PRs

Clean up Multipart
  core/shared/src/main/scala/org/http4s/multipart/Multipart.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
Due: label core PRs

Scalafmt
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Address the entity model in the Message#toStrict
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Use ce.std.Random for Multiparts
  core/shared/src/main/scala/org/http4s/multipart/Multiparts.scala
Due: label core PRs

Fix the tests
  tests/shared/src/test/scala/org/http4s/multipart/MultipartSuite.scala
  tests/shared/src/test/scala/org/http4s/multipart/MultipartsSuite.scala
Due: none

Remove ignoring some files for doctest
  project/Http4sPlugin.scala
Due: none

Move `withContentLength` from Message to Headers
  core/shared/src/main/scala/org/http4s/Headers.scala
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Use `Content-Length` instead of `Long` to represent entity length
  client/shared/src/main/scala/org/http4s/client/Http4sClientDsl.scala
  core/shared/src/main/scala/org/http4s/Entity.scala
  core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/headers/Content-Length.scala
  dsl/src/main/scala/org/http4s/dsl/impl/ResponseGenerator.scala
  laws/src/main/scala/org/http4s/laws/EntityEncoderLaws.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/EntityEncoderSpec.scala
Due: label core PRs, label dsl PRs, label laws PRs, label client PRs

Change content-length header position
  core/shared/src/main/scala/org/http4s/Headers.scala
Due: label core PRs

deploy: 0c9f6c6c1c7b86d93cac989ac539ecfecf77548c
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Fix doctest
  core/shared/src/main/scala/org/http4s/Headers.scala
Due: label core PRs
