Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

deploy: eb8e13aea9862374821fd1684eb383348f207d9b
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

deploy: dfb064a5548dcb86820ac8d829ffadcf5787e93b
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

deploy: 4689d0a20eca53b3aa3859e0a33e825d1c4e1dfb
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

deploy: 17c1653db2568325d2db41dfff773ad4867f8aba
  changelog.html
  further-reading.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/testing.html
Due: none

Refactor the Http1Connection.receiveResponse
  blaze-client/src/main/scala/org/http4s/blaze/client/Http1Connection.scala
Due: label blaze-client PRs

deploy: 930ca15059044b215cd1c560365d5e908ed37cf3
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Ember Core: reimplement readLoop without Streams.
  build.sbt
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

deploy: 7ca6dc150641a3915e31beb29ab6f862b566c7c1
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Update core/shared/src/main/scala/org/http4s/Message.scala
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Scalafmt
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

Review suggestion
  server/shared/src/main/scala/org/http4s/server/Router.scala
Due: label server PRs

deploy: 461e462f426722d3de1702b286808b688c933a34
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Update cats-effect, cats-effect-laws, ... to 3.3.10 in series/0.23
  project/Http4sPlugin.scala
Due: none

deploy: 3eecd7139a6633d40a62d43f0e52f00f8ac0d298
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Update scala-xml to 2.1.0 in main
  project/Http4sPlugin.scala
Due: none

Update scala-xml to 2.1.0 in series/0.22
  project/Http4sPlugin.scala
Due: none

Update scala-xml to 2.1.0 in series/0.23
  project/Http4sPlugin.scala
Due: none

Ignore scala-xml updates
  .scala-steward.conf
Due: none

deploy: 27cc8cd2d376240187a26a2c838bf391540686df
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: 6a83d4e29d42a691e5b01b5575bf6467055069c9
  v0.22/docs/auth.html
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/deployment.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/error-handling.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/integrations.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/quickstart.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/streaming.html
  v0.22/docs/testing.html
  v0.22/docs/upgrading.html
  v0.22/docs/uri.html
Due: none

Publish testing module internally
  build.sbt
  testing/js/src/main/scala/org/http4s/Http4sSuitePlatform.scala
  testing/jvm/src/main/scala/org/http4s/Http4sSuitePlatform.scala
  testing/shared/src/main/resources/logback-test.xml
  testing/shared/src/main/scala/org/http4s/Http4sLawSuite.scala
  testing/shared/src/main/scala/org/http4s/Http4sSuite.scala
  testing/shared/src/main/scala/org/http4s/testing/AutoCloseableResource.scala
  testing/shared/src/main/scala/org/http4s/testing/DispatcherIOFixture.scala
  testing/shared/src/main/scala/org/http4s/testing/ErrorReporting.scala
  testing/shared/src/main/scala/org/http4s/testing/NullOutStream.scala
  testing/shared/src/main/scala/org/http4s/testing/fs2Arbitraries.scala
Due: none

Remove war example
  build.sbt
  examples/war/src/main/scala/com/example/http4s/war/Bootstrap.scala
  examples/war/src/main/webapp/WEB-INF/jetty-web.xml
  project/plugins.sbt
Due: none

Regenerate workflow
  .github/workflows/ci.yml
Due: none

Spin off tomcat module
  .github/workflows/ci.yml
  .scala-steward.conf
  build.sbt
  examples/tomcat/src/main/scala/com/example/http4s/tomcat/NoneShallPass.scala
  examples/tomcat/src/main/scala/com/example/http4s/tomcat/TomcatExample.scala
  examples/tomcat/src/main/scala/com/example/http4s/tomcat/TomcatSslExample.scala
  project/Http4sPlugin.scala
  tomcat-server/src/main/scala/org/http4s/tomcat/server/TomcatBuilder.scala
  tomcat-server/src/test/scala/org/http4s/tomcat/server/TomcatServerSuite.scala
Due: none

Server - ContextRouter - easy code
  server/shared/src/main/scala/org/http4s/server/ContextRouter.scala
Due: label server PRs

Server - Router: easier code
  server/shared/src/main/scala/org/http4s/server/Router.scala
Due: label server PRs

Server - JsonP - extract auxiliary function.
  server/shared/src/main/scala/org/http4s/server/middleware/Jsonp.scala
Due: label server PRs

Update sbt-scalajs, scalajs-compiler, ... to 1.10.0 in series/0.23
  project/plugins.sbt
Due: none

deploy: 433ecc4f6291238ee47bc9cfb41b8c82bc8ed961
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/testing.html
Due: none

Deprecate PushSupport
  examples/src/main/resources/nasa_blackhole_image.jpg
  examples/src/main/scala/com/example/http4s/ExampleService.scala
  examples/src/main/twirl/com/example/http4s/index.scala.html
  server/src/main/scala/org/http4s/server/middleware/PushSupport.scala
  server/src/test/scala/org/http4s/server/MockRoute.scala
Due: label server PRs

Remove unused import
  examples/src/main/scala/com/example/http4s/ExampleService.scala
Due: none

deploy: 006002166f39d1240e6a098d3c127a9a4da3684a
  v0.22/docs/client.html
  v0.22/docs/cors.html
  v0.22/docs/csrf.html
  v0.22/docs/dsl.html
  v0.22/docs/entity.html
  v0.22/docs/gzip.html
  v0.22/docs/hsts.html
  v0.22/docs/json.html
  v0.22/docs/methods.html
  v0.22/docs/middleware.html
  v0.22/docs/service.html
  v0.22/docs/static.html
  v0.22/docs/testing.html
Due: none

Use null-initializers in MimeDB
  core/shared/src/main/scala/org/http4s/MimeDB.scala
  project/MimeLoader.scala
Due: label core PRs

Use null initializers in MediaType
  core/shared/src/main/scala/org/http4s/MediaType.scala
Due: label core PRs

Remove jetty-server and servlet
  .github/workflows/ci.yml
  build.sbt
  project/Http4sPlugin.scala
Due: none

Remove synchronization in TestHead, QueueTestHead, SlowTestHead
  blaze-core/src/test/scala/org/http4s/blazecore/TestHead.scala
Due: label blaze-core PRs

Hush MiMa
  build.sbt
Due: none

Don't play with fire
  build.sbt
Due: none

Scala 3 filters ...
  build.sbt
Due: none
