Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Add `EmberConnection#isValid`
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberConnection.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

Use read from `EmberConnection` in `writeRead`
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

Start next read in `postProcessResponse`
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

Refactor to fix ember client tests
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberConnection.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
  ember-client/shared/src/test/scala/org/http4s/ember/client/internal/ClientHelpersSuite.scala
Due: label ember-client PRs

Fix `isValid`
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberConnection.scala
Due: label ember-client PRs

I think I fixed it?
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

Formatting
  ember-client/shared/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala
Due: label ember-client PRs

Snapshot this PR
  .github/workflows/ci.yml
  build.sbt
Due: none

Add small sleep to test
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

Try setting `reuseAddress`
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

deploy: 4728244a8e8fbc28644f1f93bd37de2263b3dc94
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Revert "Try setting `reuseAddress`"
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

Disable test on native for now ...
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

Rectify ReleaseError
  server/shared/src/main/scala/org/http4s/server/middleware/BracketRequestResponse.scala
Due: label server PRs

Allow to customize flags for file decoders
  core/shared/src/main/scala/org/http4s/EntityDecoder.scala
Due: label core PRs

Revert "Disable test on native for now ..."
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

deploy: 95b2a7912d2382f02a34a2c2b77cd7063728e61d
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Use ByteVector#toHex in CSRF#signToken
  server/jvm/src/main/scala/org/http4s/server/middleware/CSRF.scala
Due: label server PRs

Use ByteVector#toHex in CSRF#genTokenString
  server/jvm/src/main/scala/org/http4s/server/middleware/CSRF.scala
Due: label server PRs

Mark internal.{encodeHex,encodeHexString} deprecated
  bench/src/main/scala/org/http4s/bench/EncodeHexBench.scala
  core/shared/src/main/scala/org/http4s/internal/package.scala
Due: label core PRs

deploy: d93de6542d9f5fb97e7d9baa2f7abaeecb491e88
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Update to CE v3.5.0-RC2, FS2 v3.7.0-RC1
  project/Http4sPlugin.scala
Due: none

Workaround Scala visibility bug
  client/shared/src/main/scala/org/http4s/client/middleware/RequestLogger.scala
  client/shared/src/main/scala/org/http4s/client/middleware/ResponseLogger.scala
Due: label client PRs

Release v0.23.19-RC1
  docs/changelog.md
Due: label docs PRs

Integration modules are versioned separately
  docs/docs/quickstart.md
Due: label docs PRs

Implement PR suggestions
  core/shared/src/main/scala/org/http4s/headers/X-Content-Type-Options.scala
  tests/shared/src/test/scala/org/http4s/headers/XContentTypeOptionsSuite.scala
Due: label core PRs

Fix security issue
  core/shared/src/main/scala/org/http4s/headers/X-Content-Type-Options.scala
Due: label core PRs

Remove backticks from the filename
  core/shared/src/main/scala/org/http4s/headers/X-Content-Type-Options.scala
Due: label core PRs

Add X-Content-Type-Options header
  core/shared/src/main/scala/org/http4s/headers/`X-Content-Type-Options`.scala
  tests/shared/src/test/scala/org/http4s/headers/XContentTypeOptionsSuite.scala
Due: label core PRs

Implement pr suggestions
  core/shared/src/main/scala/org/http4s/headers/X-Content-Type-Options.scala
  tests/shared/src/test/scala/org/http4s/headers/XContentTypeOptionsSuite.scala
Due: label core PRs

Fix code-style
  tests/shared/src/test/scala/org/http4s/headers/XContentTypeOptionsSuite.scala
Due: none

Scala 3 patch is behind-the-scenes [ci skip]
  docs/changelog.md
Due: label docs PRs

deploy: ef4b791400899779eaa78796fa50fdc25b6fddb2
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 85739be492e2598c5bef5c8684ef331a0542c942
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 4bcefdd689cce3110b095276ba11187827fa3a87
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Add support for Deprecation Header
  core/shared/src/main/scala/org/http4s/HttpDate.scala
  core/shared/src/main/scala/org/http4s/headers/Deprecation.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/DeprecationSuite.scala
Due: label core PRs, label laws PRs

Add support for Sunset Header
  core/shared/src/main/scala/org/http4s/headers/Sunset.scala
  laws/src/main/scala/org/http4s/laws/discipline/arbitrary.scala
  tests/shared/src/test/scala/org/http4s/headers/SunsetSuite.scala
Due: label core PRs, label laws PRs

deploy: 9dbba5a1506d4faad68e3c98d7f8c9bf4b9e0b90
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  index.html
  v1/docs/auth.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

Add doc references to spec for Deprecation and Sunset headers
  core/shared/src/main/scala/org/http4s/headers/Deprecation.scala
  core/shared/src/main/scala/org/http4s/headers/Sunset.scala
Due: label core PRs

Fix: Sunset Header takes same date formats as Date Header
  core/shared/src/main/scala/org/http4s/headers/Sunset.scala
  tests/shared/src/test/scala/org/http4s/headers/SunsetSuite.scala
Due: label core PRs
