Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Bugfix.
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
Due: label server PRs

Revert "Nits."
  core/shared/src/main/scala/org/http4s/multipart/MultipartParser.scala
  docs/docs/server-middleware.md
Due: label core PRs, label docs PRs

Move Temporal[F] contraint to `withAutoPing`.
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder.scala
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
Due: label server PRs

Add link to scala-cli
  docs/docs/multipart.md
Due: label docs PRs

Implement missing `start` and `uncancelable`.
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
Due: label server PRs

Cleanups.
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
Due: label server PRs

Cosmetics.
  server/shared/src/main/scala/org/http4s/server/websocket/WebSocketBuilder2.scala
Due: label server PRs

deploy: acc7c80f05ca340d6132aab93f04031337c9b2b2
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Draft the v0.23.25 release notes
  docs/changelog.md
Due: label docs PRs

Tweak the release date in docs
  docs/changelog.md
Due: label docs PRs

Address the review comments
  docs/changelog.md
Due: label docs PRs

deploy: cb177bc4333cbd2703463b87751b727a0e9b896b
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add the client-testkit module into release.yml
  .github/release.yml
Due: none

Add the client-testkit module into mergify.yml
  .mergify.yml
Due: none

deploy: a2693984052261b060649903bf83ab3733c6e86a
  v0.23/docs/auth.html
  v0.23/docs/client-middleware.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/server-middleware.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Refactor release.yml
  .github/release.yml
Due: none

deploy: affedc6d4ec1d22816f60c5d136f2b999d7b6d50
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: cccbc321bddaf19a0c4c4cbcffa7dd4ef18ef023
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Add docs for OptionalMultiQueryParamDecoderMatcher
  docs/docs/dsl.md
Due: label docs PRs

deploy: 059b346e7bea48f57de38aea8d06ec5cd787017a
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 976591f9c3a07c74b0c4a1380db04fd11b148ccd
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

deploy: 066680982cc8643be94a864f6f4f18e968aa95d5
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

Handle socket error while `upgradeSocket`
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Update ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Appease scalafmt
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

deploy: 8c089798f820d3a6a9b81af3091f8035a2db4cb4
  v0.23/docs/client-middleware.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/server-middleware.html
Due: none

wip - adding history middleware
  client/shared/src/main/scala/org/http4s/client/middleware/History.scala
Due: label client PRs

using Vector instead of List
  client/shared/src/main/scala/org/http4s/client/middleware/History.scala
Due: label client PRs

add maxSize
  client/shared/src/main/scala/org/http4s/client/middleware/History.scala
Due: label client PRs

history w/o maxSize
  client/shared/src/main/scala/org/http4s/client/middleware/History.scala
Due: label client PRs

use builder pattern
  client/shared/src/main/scala/org/http4s/client/middleware/History.scala
  client/shared/src/test/scala/org/http4s/client/middleware/HistorySuite.scala
Due: label client PRs

refactor HistoryEntry
  client/shared/src/main/scala/org/http4s/client/middleware/History.scala
Due: label client PRs

fix with Clock test
  client/shared/src/main/scala/org/http4s/client/middleware/History.scala
  client/shared/src/test/scala/org/http4s/client/middleware/HistorySuite.scala
Due: label client PRs

added test, fixed HistoryEntry
  client/shared/src/main/scala/org/http4s/client/middleware/History.scala
  client/shared/src/test/scala/org/http4s/client/middleware/HistorySuite.scala
Due: label client PRs

add case class for HistoryEvent
  client/shared/src/main/scala/org/http4s/client/middleware/History.scala
Due: label client PRs

refactor tests wip - test with Clock
  client/shared/src/test/scala/org/http4s/client/middleware/HistorySuite.scala
Due: label client PRs

fix test, run lint
  client/shared/src/main/scala/org/http4s/client/middleware/History.scala
  client/shared/src/test/scala/org/http4s/client/middleware/HistorySuite.scala
Due: label client PRs

clean up test suite
  client/shared/src/test/scala/org/http4s/client/middleware/HistorySuite.scala
Due: label client PRs

scalafmtAll
  client/shared/src/test/scala/org/http4s/client/middleware/HistorySuite.scala
Due: label client PRs

add documentation add Clock parameter
  client/shared/src/main/scala/org/http4s/client/middleware/History.scala
Due: label client PRs
