Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Filter all bincompat issues for internal package
  build.sbt
Due: none

Filter another issue
  build.sbt
Due: none

Use `def` instead of `val` for unused method
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
Due: label server PRs

deploy: 740ff63d70dc7c066400fddfb477af435f812953
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

deploy: 04b2bbbd1787ac7084f589240ed8a062f38ed584
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Fix empty response body test from https://github.com/http4s/http4s/pull/6444
  ember-core/shared/src/test/scala/org/http4s/ember/core/EncoderSuite.scala
Due: label ember-core PRs

Add failing test for no-body POST request encoding
  ember-core/shared/src/test/scala/org/http4s/ember/core/EncoderSuite.scala
Due: label ember-core PRs

Special-case empty stream body in req encoder
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
Due: label ember-core PRs

Adjust the conditional
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
Due: label ember-core PRs

Remove unnecessary `()`
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
Due: label ember-core PRs

Remove unnecessary `appliedContentLength` loop
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
Due: label ember-core PRs

Optimize representation of `lastChunk`
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
Due: label ember-core PRs

Modifier superstition
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
Due: label ember-core PRs

Use `unchunks`
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
Due: label ember-core PRs

Remove condition b/c stream chunks are never empty
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
Due: label ember-core PRs

Short-circuit `appliedContentLength` update
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
Due: label ember-core PRs

Add type annotation to `lastChunk`
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
Due: label ember-core PRs

Fix compile
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
Due: label ember-core PRs

No-Kleisli: bespoke Http and HttpRoutes types
  client/shared/src/main/scala/org/http4s/client/DefaultClient.scala
  core/shared/src/main/scala/org/http4s/AuthedRoutes.scala
  core/shared/src/main/scala/org/http4s/ContextRoutes.scala
  core/shared/src/main/scala/org/http4s/Http.scala
  core/shared/src/main/scala/org/http4s/HttpApp.scala
  core/shared/src/main/scala/org/http4s/HttpRoutes.scala
  core/shared/src/main/scala/org/http4s/package.scala
  core/shared/src/main/scala/org/http4s/syntax/KleisliSyntax.scala
  server/shared/src/main/scala/org/http4s/server/ContextMiddleware.scala
  server/shared/src/main/scala/org/http4s/server/ContextRouter.scala
  server/shared/src/main/scala/org/http4s/server/Router.scala
  server/shared/src/main/scala/org/http4s/server/middleware/AutoSlash.scala
  server/shared/src/main/scala/org/http4s/server/middleware/BodyCache.scala
  server/shared/src/main/scala/org/http4s/server/middleware/BracketRequestResponse.scala
  server/shared/src/main/scala/org/http4s/server/middleware/CORS.scala
  server/shared/src/main/scala/org/http4s/server/middleware/CSRF.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Caching.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ChunkAggregator.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Date.scala
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ErrorAction.scala
  server/shared/src/main/scala/org/http4s/server/middleware/GZip.scala
  server/shared/src/main/scala/org/http4s/server/middleware/HSTS.scala
  server/shared/src/main/scala/org/http4s/server/middleware/HeaderEcho.scala
  server/shared/src/main/scala/org/http4s/server/middleware/HttpMethodOverrider.scala
  server/shared/src/main/scala/org/http4s/server/middleware/HttpsRedirect.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Jsonp.scala
  server/shared/src/main/scala/org/http4s/server/middleware/PushSupport.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestId.scala
  server/shared/src/main/scala/org/http4s/server/middleware/RequestLogger.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ResponseTiming.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Throttle.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Timeout.scala
  server/shared/src/main/scala/org/http4s/server/middleware/VirtualHost.scala
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/package.scala
  server/shared/src/main/scala/org/http4s/server/package.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/FileService.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/ResourceService.scala
  server/shared/src/main/scala/org/http4s/server/staticcontent/WebjarService.scala
  server/shared/src/test/scala/org/http4s/server/ContextRouterSuite.scala
Due: label core PRs, label server PRs, label client PRs

Encode trailer headers in Ember
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Encoder.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/EncoderSuite.scala
Due: label ember-core PRs

Organize imports
  ember-core/shared/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala
Due: label ember-core PRs

Ember-Core: factor to H2Server loop from H2Client, H2Server.
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Client.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

deploy: c5d0d8c5264c51da71e21fdc49b7f361bcae5002
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

FS2 Streams: replace "evalMap" with "foreach".
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/RoutesToNettyAdapter.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/ParserSuite.scala
  ember-core/shared/src/test/scala/org/http4s/ember/core/TraversalSpec.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/StreamForking.scala
Due: label ember-core PRs, label ember-server PRs

deploy: 204f18b10f4eeb4470dfec6864830922e1e86e3a
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Ember-Server - serverInternal: reorganise code
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Server Middlewares: several refactorings / rewrites
  server/shared/src/main/scala/org/http4s/server/ContextRouter.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Caching.scala
  server/shared/src/main/scala/org/http4s/server/middleware/Date.scala
  server/shared/src/main/scala/org/http4s/server/middleware/ErrorHandling.scala
  server/shared/src/main/scala/org/http4s/server/middleware/VirtualHost.scala
  server/shared/src/main/scala/org/http4s/server/package.scala
Due: label server PRs

deploy: bb1c6e2af934707c4755eca160c1de037332bdb2
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  v1/docs/auth.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

deploy: 4c57bed968e435e523ea97f0827f754db9a7f6e8
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: ec69743da16699e74be7c80468323627d5a5d032
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Add a hasPayload method to Method
  core/shared/src/main/scala/org/http4s/Method.scala
Due: label core PRs

deploy: 25462607a08aa4ac7dec8f88f8e7488b32cb7c1d
  v0.23/docs/auth.html
  v0.23/docs/client.html
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/deployment.html
  v0.23/docs/dsl.html
  v0.23/docs/entity.html
  v0.23/docs/error-handling.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/methods.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
  v0.23/docs/service.html
  v0.23/docs/static.html
  v0.23/docs/streaming.html
  v0.23/docs/testing.html
  v0.23/docs/upgrading.html
  v0.23/docs/uri.html
Due: none

Use more efficient Seq size checking for ApplyMagnet
  core/shared/src/main/scala/org/http4s/internal/CharPredicate.scala
Due: label core PRs

Use more efficient Seq size checking for Uri
  core/shared/src/main/scala/org/http4s/Uri.scala
Due: label core PRs

deploy: f829dde912fdf884c7144e61ba70269225ad0f03
  adopters.html
  changelog.html
  code-of-conduct.html
  contributing.html
  further-reading.html
  getting-help.html
  v1/docs/auth.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/deployment.html
  v1/docs/dsl.html
  v1/docs/entity.html
  v1/docs/error-handling.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/methods.html
  v1/docs/middleware.html
  v1/docs/quickstart.html
  v1/docs/service.html
  v1/docs/static.html
  v1/docs/streaming.html
  v1/docs/testing.html
  v1/docs/upgrading.html
  v1/docs/uri.html
  versions.html
Due: none

Make string building a bit more efficient for DecodingFailures
  circe/src/main/scala/org/http4s/circe/DecodingFailures.scala
Due: label circe PRs

Make string building a bit more efficient in oauth1#genAuthHeader
  client/shared/src/main/scala/org/http4s/client/oauth1/oauth1.scala
Due: label client PRs

Make string building a bit more efficient in UnsupportedMediaTypeFailure#expectedMsg
  core/shared/src/main/scala/org/http4s/MessageFailure.scala
Due: label core PRs

Make string building a bit more efficient in RequestCookieJar#toString
  core/shared/src/main/scala/org/http4s/RequestCookieJar.scala
Due: label core PRs

Make string building a bit more efficient in CurlConverter#prepareHeaders
  core/shared/src/main/scala/org/http4s/internal/CurlConverter.scala
Due: label core PRs
