Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

label core PRs:
  label:
    add:
    - module:core

label dsl PRs:
  label:
    add:
    - module:dsl

label laws PRs:
  label:
    add:
    - module:laws

label server PRs:
  label:
    add:
    - module:server

label client PRs:
  label:
    add:
    - module:client

label ember-core PRs:
  label:
    add:
    - module:ember-core

label ember-server PRs:
  label:
    add:
    - module:ember-server

label ember-client PRs:
  label:
    add:
    - module:ember-client

label blaze-core PRs:
  label:
    add:
    - module:blaze-core

label blaze-server PRs:
  label:
    add:
    - module:blaze-server

label blaze-client PRs:
  label:
    add:
    - module:blaze-client

label servlet PRs:
  label:
    add:
    - module:servlet

label tomcat PRs:
  label:
    add:
    - module:tomcat

label jetty-server PRs:
  label:
    add:
    - module:jetty-server

label jetty-client PRs:
  label:
    add:
    - module:jetty-client

label async-http-client PRs:
  label:
    add:
    - module:async-http-client

label okhttp-client PRs:
  label:
    add:
    - module:okhttp-client

label jawn PRs:
  label:
    add:
    - module:jawn

label circe PRs:
  label:
    add:
    - module:circe

label play-json PRs:
  label:
    add:
    - module:play-json

label scalatags PRs:
  label:
    add:
    - module:scalatags

label twirl PRs:
  label:
    add:
    - module:twirl

label dropwizard-metrics PRs:
  label:
    add:
    - module:dropwizard-metrics

label prometheus-metrics PRs:
  label:
    add:
    - module:prometheus-metrics

label docs PRs:
  label:
    add:
    - docs

deploy: c2166c6b132b6d98eb26ef65f97cc8c16fb7cf7e
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/integrations.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 2c034f6e72ff5524e124fbbad00ac81a3fa73513
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/middleware.html
Due: none

deploy: c8edae20c6ac46af0dd1a56f55b5e1a4037af46e
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Tweak body interrupting for better performance of DefaultHead Middleware
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
Due: label server PRs

Relax constraints from Concurrent to Applicative
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
Due: label server PRs

Scalafix
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
Due: label server PRs

Add MiMa filter
  build.sbt
Due: none

Preserve binary compatibility for great good
  build.sbt
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
Due: label server PRs

Reuse apply method
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
Due: label server PRs

Scalafmt
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
Due: label server PRs

Use cached value of Right(()) to avoid allocations
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
Due: label server PRs

Use Either.unit in client-testkit
  client-testkit/js/src/main/scala/org/http4s/client/testkit/scaffold/ServerScaffold.scala
  client-testkit/jvm/src/main/scala/org/http4s/client/testkit/scaffold/package.scala
Due: none

Use Either.unit in WebSocketHandshake
  core/shared/src/main/scala/org/http4s/websocket/WebSocketHandshake.scala
Due: label core PRs

Use Either.unit in H2Connection
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Connection.scala
Due: label ember-core PRs

Use Either.unit in H2Server
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Server.scala
Due: label ember-core PRs

Use Either.unit in NonceKeeperF
  server/shared/src/main/scala/org/http4s/server/middleware/authentication/NonceKeeperF.scala
Due: label server PRs

Use Either.unit in H2Stream
  ember-core/shared/src/main/scala/org/http4s/ember/core/h2/H2Stream.scala
Due: label ember-core PRs

deploy: f9cab29eb619e5dca53395d471476f1816c44389
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: c628283bc31ccf1c51fcb1045ae2aa7634501ea2
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 7ee7ca21185c5a80d92757869d74e93a90965da5
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Remove unnecessary uncancelable
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Gracefully serving active connections
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/Shutdown.scala
Due: label ember-server PRs

Set Connection: close when processing a request after shutdown is initiated
  ember-core/shared/src/main/scala/org/http4s/ember/core/Util.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
Due: label ember-core PRs, label ember-server PRs

deploy: e0268608f4851ab8d11bb78122545a9aa26d3e20
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 816e9f8bb5b71d148c57cbdb53bdc71ada72fce8
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/integrations.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

deploy: 2fb36b66a4de8752c27963794ced208f8afb04a9
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Hard shutdown after grace period
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/Shutdown.scala
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
Due: label ember-server PRs

Coalesce `Resource.eval` blocks
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Simplfy Resource building
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Scalafix :sob:
  ember-core/shared/src/main/scala/org/http4s/ember/core/Util.scala
Due: label ember-core PRs

Check isShutdown again
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Resolve races
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
Due: label ember-server PRs

Clean up DefaultHead
  server/shared/src/main/scala/org/http4s/server/middleware/DefaultHead.scala
Due: label server PRs

deploy: d6ad1b7c53d8e35bcd037ccdd1b6bde1d6b572d3
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

Use stream interruption instead of timeout on request handling
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Remove hack
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/Shutdown.scala
Due: label ember-server PRs

Faster feedback when test fails
  ember-server/shared/src/test/scala/org/http4s/ember/server/ConnectionSuite.scala
Due: label ember-server PRs

Ensure we wait even if finalizer throws
  ember-server/shared/src/main/scala/org/http4s/ember/server/internal/ServerHelpers.scala
Due: label ember-server PRs

Add formulas in `Test` scope
  build.sbt
Due: none

Do not configure brew if in devshell
  build.sbt
Due: none

Path conditions:
  label core PRs: any of: ^core/
  label dsl PRs: any of: ^dsl/
  label laws PRs: any of: ^laws/
  label server PRs: any of: ^server/
  label client PRs: any of: ^client/
  label ember-core PRs: any of: ^ember-core/
  label ember-server PRs: any of: ^ember-server/
  label ember-client PRs: any of: ^ember-client/
  label blaze-core PRs: any of: ^blaze-core/
  label blaze-server PRs: any of: ^blaze-server/
  label blaze-client PRs: any of: ^blaze-client/
  label servlet PRs: any of: ^servlet/
  label tomcat PRs: any of: ^tomcat/
  label jetty-server PRs: any of: ^jetty-server/
  label jetty-client PRs: any of: ^jetty-client/
  label async-http-client PRs: any of: ^async-http-client/
  label okhttp-client PRs: any of: ^okhttp-client/
  label jawn PRs: any of: ^jawn/
  label circe PRs: any of: ^circe/
  label play-json PRs: any of: ^play-json/
  label scalatags PRs: any of: ^scalatags/
  label twirl PRs: any of: ^twirl/
  label dropwizard-metrics PRs: any of: ^dropwizard-metrics/
  label prometheus-metrics PRs: any of: ^prometheus-metrics/
  label docs PRs: (any of: ^docs/) or (any of: ^website/)
