Repository http4s/http4s: changes, and which Mergify rules are due for each by the changed paths.
All: label core PRs, label dsl PRs, label laws PRs, label server PRs, label client PRs, label ember-core PRs, label ember-server PRs, label ember-client PRs, label blaze-core PRs, label blaze-server PRs, label blaze-client PRs, label servlet PRs, label tomcat PRs, label jetty-server PRs, label jetty-client PRs, label async-http-client PRs, label okhttp-client PRs, label jawn PRs, label circe PRs, label play-json PRs, label scalatags PRs, label twirl PRs, label dropwizard-metrics PRs, label prometheus-metrics PRs, label docs PRs

.mergify.yml:

pull_request_rules:

- name: label series/0.22 PRs
  conditions:
  - base=series/0.22
  actions:
    label:
      add: ['series/0.22']

- name: label series/0.23 PRs
  conditions:
  - base=series/0.23
  actions:
    label:
      add: ['series/0.23']

- name: label scala-steward's PRs
  conditions:
  - author=scala-steward
  actions:
    label:
      add: [dependencies]

- name: label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add: ['module:core']

- name: label dsl PRs
  conditions:
  - files~=^dsl/
  actions:
    label:
      add: ['module:dsl']

- name: label laws PRs
  conditions:
  - files~=^laws/
  actions:
    label:
      add: ['module:laws']

- name: label server PRs
  conditions:
  - files~=^server/
  actions:
    label:
      add: ['module:server']

- name: label client PRs
  conditions:
  - files~=^client/
  actions:
    label:
      add: ['module:client']

- name: label ember-core PRs
  conditions:
  - files~=^ember-core/
  actions:
    label:
      add: ['module:ember-core']

- name: label ember-server PRs
  conditions:
  - files~=^ember-server/
  actions:
    label:
      add: ['module:ember-server']

- name: label ember-client PRs
  conditions:
  - files~=^ember-client/
  actions:
    label:
      add: ['module:ember-client']

- name: label blaze-core PRs
  conditions:
  - files~=^blaze-core/
  actions:
    label:
      add: ['module:blaze-core']

- name: label blaze-server PRs
  conditions:
  - files~=^blaze-server/
  actions:
    label:
      add: ['module:blaze-server']

- name: label blaze-client PRs
  conditions:
  - files~=^blaze-client/
  actions:
    label:
      add: ['module:blaze-client']

- name: label servlet PRs
  conditions:
  - files~=^servlet/
  actions:
    label:
      add: ['module:servlet']

- name: label tomcat PRs
  conditions:
  - files~=^tomcat/
  actions:
    label:
      add: ['module:tomcat']

- name: label jetty-server PRs
  conditions:
  - files~=^jetty-server/
  actions:
    label:
      add: ['module:jetty-server']

- name: label jetty-client PRs
  conditions:
  - files~=^jetty-client/
  actions:
    label:
      add: ['module:jetty-client']

- name: label async-http-client PRs
  conditions:
  - files~=^async-http-client/
  actions:
    label:
      add: ['module:async-http-client']

- name: label okhttp-client PRs
  conditions:
  - files~=^okhttp-client/
  actions:
    label:
      add: ['module:okhttp-client']

- name: label jawn PRs
  conditions:
  - files~=^jawn/
  actions:
    label:
      add: ['module:jawn']

- name: label circe PRs
  conditions:
  - files~=^circe/
  actions:
    label:
      add: ['module:circe']

- name: label play-json PRs
  conditions:
  - files~=^play-json/
  actions:
    label:
      add: ['module:play-json']

- name: label scalatags PRs
  conditions:
  - files~=^scalatags/
  actions:
    label:
      add: ['module:scalatags']

- name: label twirl PRs
  conditions:
  - files~=^twirl/
  actions:
    label:
      add: ['module:twirl']

- name: label dropwizard-metrics PRs
  conditions:
  - files~=^dropwizard-metrics/
  actions:
    label:
      add: ['module:dropwizard-metrics']

- name: label prometheus-metrics PRs
  conditions:
  - files~=^prometheus-metrics/
  actions:
    label:
      add: ['module:prometheus-metrics']

- name: label docs PRs
  conditions:
  - or:
    - files~=^docs/
    - files~=^website/
  actions:
    label:
      add: ['docs']

Deplatform `Charset`
  core/js-native/src/main/scala/org/http4s/CharsetPlatform.scala
  core/jvm/src/main/scala/org/http4s/CharsetPlatform.scala
  core/shared/src/main/scala/org/http4s/Charset.scala
Due: label core PRs

Restore `availableCharsets`
  core/shared/src/main/scala/org/http4s/Charset.scala
Due: label core PRs

Bincompat shims
  core/shared/src/main/scala/org/http4s/Charset.scala
Due: label core PRs

Use new `asciiBytes` interpolator
  client/shared/src/test/scala/org/http4s/client/ClientSuite.scala
  core/shared/src/main/scala/org/http4s/websocket/WebSocketHandshake.scala
Due: label core PRs, label client PRs

Add MiMa filter
  build.sbt
Due: none

deploy: a101fbf56a14e5b0bbf93b1b2bf8910ee68cde5a
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: c004e53dd6151e694edb9aa39f13a201b9dfe540
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 8ba05ac9e1fafbe4360b767be34e86a6ce74f846
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 4c28ecd64cfedcace2e4e10bca18c82df76e9a0e
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Add section with sbt dependencies to quickstart
  docs/docs/quickstart.md
Due: label docs PRs

Update docs/docs/quickstart.md
  docs/docs/quickstart.md
Due: label docs PRs

Link to integrations page
  docs/docs/quickstart.md
Due: label docs PRs

deploy: 02e2f6a99b97fa7bf5502710007055930060108f
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Use 'http4sVersion', bump up ember deps
  docs/docs/quickstart.md
Due: label docs PRs

Fix CirceSensitiveDataEntityDecoderSpec
  circe/src/test/scala/org/http4s/circe/CirceSensitiveDataEntityDecoderSpec.scala
Due: label circe PRs

deploy: dc2e811bcdeec30d3e677085cf8c9ecb3fb0add4
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: cae49e62510213ed40a1c8761c8d6d7e8dd5cf7b
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/streaming.html
Due: none

deploy: f5b18f627ee315ea33c00cd0a79efa49ff70bf2f
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Revert "Update circe-core, circe-generic, ... to 0.14.4 in series/0.23"
  circe/src/test/scala/org/http4s/circe/CirceSensitiveDataEntityDecoderSpec.scala
  project/Http4sPlugin.scala
  project/build.sbt
Due: label circe PRs

deploy: f8cf91b611002b590adfd233a7a9b36944769933
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/streaming.html
Due: none

deploy: 2ebabbeb9bd0d2031d4d36c020cd346928557f7d
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Use `asciiBytes` interpolator
  core/shared/src/main/scala/org/http4s/Message.scala
Due: label core PRs

deploy: cf0041ebc3ffa79b64044ad32dbbaecb125e8f02
  changelog.html
  v1/docs/client.html
  v1/docs/cors.html
  v1/docs/csrf.html
  v1/docs/dsl.html
  v1/docs/gzip.html
  v1/docs/hsts.html
  v1/docs/json.html
  v1/docs/middleware.html
Due: none

deploy: 6db1433faf2ef959dee935f8a6f6ac5be1dc2f9f
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: d0cc8fe86677e73fb423f4ba1ca482a1cc16969e
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: e0cd90d21076038822a5198056d7bcd79c2302f1
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 9aa02ab6ee1096663c4cfacf62d2885c94244556
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

deploy: 03f2536554304997224bac311f717ec89d81cb85
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
Due: none

Tweak MetricsOps#classifierFMethodWithOptionallyExcludedPath
  core/shared/src/main/scala/org/http4s/metrics/MetricsOps.scala
Due: label core PRs

Refactor MetricsOpsSpec
  tests/shared/src/test/scala/org/http4s/metrics/MetricsOpsSpec.scala
Due: none

deploy: bdd0192580311558d69727723a6d974b7e561e07
  v0.23/docs/cors.html
  v0.23/docs/csrf.html
  v0.23/docs/dsl.html
  v0.23/docs/gzip.html
  v0.23/docs/hsts.html
  v0.23/docs/json.html
  v0.23/docs/middleware.html
  v0.23/docs/quickstart.html
Due: none

Clarify module choices in quickstart
  docs/docs/quickstart.md
Due: label docs PRs

adds model for X-Forwarded-Host header
  core/shared/src/main/scala/org/http4s/headers/X-Forwarded-Host.scala
  tests/shared/src/test/scala/org/http4s/parser/SimpleHeadersSpec.scala
Due: label core PRs

adds copyright header and quicklint
  core/shared/src/main/scala/org/http4s/headers/X-Forwarded-Host.scala
  tests/shared/src/test/scala/org/http4s/parser/SimpleHeadersSpec.scala
Due: label core PRs

Address reviewer feedback
  docs/docs/quickstart.md
Due: label docs PRs

Refactor `EmberServerSuite` a bit
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

Add test for https://github.com/http4s/http4s/issues/4935
  ember-server/shared/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala
Due: label ember-server PRs

Store `nextRead` in `EmberConnection`
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberConnection.scala
Due: label ember-client PRs

Add `EmberConnection#startNextRead`
  ember-client/shared/src/main/scala/org/http4s/ember/client/EmberConnection.scala
Due: label ember-client PRs

Extract `concatBytes` utility
  ember-core/shared/src/main/scala/org/http4s/ember/core/Parser.scala
  ember-core/shared/src/main/scala/org/http4s/ember/core/Util.scala
Due: label ember-core PRs
